In [1]:
import geojson
import geopandas as gpd
import random

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.colors as colors

In [2]:
#Not needed at the moment
#dfs = pd.DataFrame({})

#for i in range(1,10):
#    df = pd.read_csv('./csv/sms-call-internet-mi-2013-11-0{}.csv'.format(i), parse_dates=['time'])
#    dfs = dfs.append(df)
#df = pd.read_csv('./csv/sms-call-internet-mi-2013-11-10.csv', parse_dates=['time'])
#dfs = dfs.append(df)
#dfs = dfs.fillna(0)

In [3]:
#dfgr = dfs[['cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['cellid'], as_index=True).sum()
#dfgr['hour'] = dfgr.time.dt.hour+dfgr.time.dt.minute/60+24*(dfgr.time.dt.day-1)
#dfgr = dfgr.set_index(['cell']).sort_index()
#dfgr.head()

In [4]:
cs_class = pd.DataFrame([], columns=["cellid", "lat", "lon", "smsin", "smsout","callin","callout","internet", "home", "high_dens","mid_dens","low_dens","work", "transport", "commercial", "commercial_low", "commercial_high", "offices", "touristic", "rural"])
#gdf = gpd.read_file('./geojsons/milano-grid.geojson')

with open("./geojsons/milano-grid.geojson") as json_file:
    json_data = geojson.load(json_file)

In [5]:
#Create a subset of the grids, and manually assign the labels according to the visual map

In [6]:
l=[]
#random.seed(23479589) #To make it reproducible
for i in range(4263,6173,100):
    #if (i-4272)<10
    for j in range(i,i+20):
        l.append(j)#
print(l)

[4263, 4264, 4265, 4266, 4267, 4268, 4269, 4270, 4271, 4272, 4273, 4274, 4275, 4276, 4277, 4278, 4279, 4280, 4281, 4282, 4363, 4364, 4365, 4366, 4367, 4368, 4369, 4370, 4371, 4372, 4373, 4374, 4375, 4376, 4377, 4378, 4379, 4380, 4381, 4382, 4463, 4464, 4465, 4466, 4467, 4468, 4469, 4470, 4471, 4472, 4473, 4474, 4475, 4476, 4477, 4478, 4479, 4480, 4481, 4482, 4563, 4564, 4565, 4566, 4567, 4568, 4569, 4570, 4571, 4572, 4573, 4574, 4575, 4576, 4577, 4578, 4579, 4580, 4581, 4582, 4663, 4664, 4665, 4666, 4667, 4668, 4669, 4670, 4671, 4672, 4673, 4674, 4675, 4676, 4677, 4678, 4679, 4680, 4681, 4682, 4763, 4764, 4765, 4766, 4767, 4768, 4769, 4770, 4771, 4772, 4773, 4774, 4775, 4776, 4777, 4778, 4779, 4780, 4781, 4782, 4863, 4864, 4865, 4866, 4867, 4868, 4869, 4870, 4871, 4872, 4873, 4874, 4875, 4876, 4877, 4878, 4879, 4880, 4881, 4882, 4963, 4964, 4965, 4966, 4967, 4968, 4969, 4970, 4971, 4972, 4973, 4974, 4975, 4976, 4977, 4978, 4979, 4980, 4981, 4982, 5063, 5064, 5065, 5066, 5067, 5068, 5069, 5070, 5071, 5072, 5073, 5074, 5075, 5076, 5077, 5078, 5079, 5080, 5081, 5082, 5163, 5164, 5165, 5166, 5167, 5168, 5169, 5170, 5171, 5172, 5173, 5174, 5175, 5176, 5177, 5178, 5179, 5180, 5181, 5182, 5263, 5264, 5265, 5266, 5267, 5268, 5269, 5270, 5271, 5272, 5273, 5274, 5275, 5276, 5277, 5278, 5279, 5280, 5281, 5282, 5363, 5364, 5365, 5366, 5367, 5368, 5369, 5370, 5371, 5372, 5373, 5374, 5375, 5376, 5377, 5378, 5379, 5380, 5381, 5382, 5463, 5464, 5465, 5466, 5467, 5468, 5469, 5470, 5471, 5472, 5473, 5474, 5475, 5476, 5477, 5478, 5479, 5480, 5481, 5482, 5563, 5564, 5565, 5566, 5567, 5568, 5569, 5570, 5571, 5572, 5573, 5574, 5575, 5576, 5577, 5578, 5579, 5580, 5581, 5582, 5663, 5664, 5665, 5666, 5667, 5668, 5669, 5670, 5671, 5672, 5673, 5674, 5675, 5676, 5677, 5678, 5679, 5680, 5681, 5682, 5763, 5764, 5765, 5766, 5767, 5768, 5769, 5770, 5771, 5772, 5773, 5774, 5775, 5776, 5777, 5778, 5779, 5780, 5781, 5782, 5863, 5864, 5865, 5866, 5867, 5868, 5869, 5870, 5871, 5872, 5873, 5874, 5875, 5876, 5877, 5878, 5879, 5880, 5881, 5882, 5963, 5964, 5965, 5966, 5967, 5968, 5969, 5970, 5971, 5972, 5973, 5974, 5975, 5976, 5977, 5978, 5979, 5980, 5981, 5982, 6063, 6064, 6065, 6066, 6067, 6068, 6069, 6070, 6071, 6072, 6073, 6074, 6075, 6076, 6077, 6078, 6079, 6080, 6081, 6082, 6163, 6164, 6165, 6166, 6167, 6168, 6169, 6170, 6171, 6172, 6173, 6174, 6175, 6176, 6177, 6178, 6179, 6180, 6181, 6182]

In [7]:
for i in l:
    tmp=pd.DataFrame([[json_data.features[i-1].properties["cellId"], np.mean(json_data.features[i-1].geometry.coordinates[0], axis=0)[1], np.mean(json_data.features[i-1].geometry.coordinates[0], axis=0)[0]]], columns=['cellid', 'lat', 'lon'])
    cs_class=cs_class.append(tmp)
    #print(np.mean(json_data.features[i].geometry.coordinates[0], axis=0))
    #print(json_data.features[i].properties["cellId"])
    json_data.features[i-1].properties = {
        "fill": colors.to_hex([ 0.0, 0.80, 0.1, 0.5 ], keep_alpha = True),
        "fill-opacity": 0.3,
        "stroke-width": 1.75,
        "stroke-opacity": 0.75,
        "cellId": i
    }

In [8]:
with open("./geojsons/test20by20.geojson", "w") as json_file:
    geojson.dump(json_data, json_file)

In [9]:
cs_class=cs_class.fillna(0)
cs_class = cs_class.set_index(['cellid']).sort_index()

cs_class.head()

,lat,lon,smsin,smsout,callin,callout,internet,home,high_dens,mid_dens,low_dens,work,transport,commercial,commercial_low,commercial_high,offices,touristic,rural
cellid,,,,,,,,,,,,,,,,,,,
4263,45.446625,9.199027,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4264,45.446620,9.202032,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4265,45.446614,9.205037,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4266,45.446609,9.208042,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4267,45.446604,9.211047,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [10]:
#cs_class.to_csv("./csv/classif20by20.csv")