In [1]:
import geojson
import geopandas as gpd
import random

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.colors as colors

In [2]:
#Not needed at the moment
#dfs = pd.DataFrame({})

#for i in range(1,10):
#    df = pd.read_csv('./csv/sms-call-internet-mi-2013-11-0{}.csv'.format(i), parse_dates=['time'])
#    dfs = dfs.append(df)
#df = pd.read_csv('./csv/sms-call-internet-mi-2013-11-10.csv', parse_dates=['time'])
#dfs = dfs.append(df)
#dfs = dfs.fillna(0)

In [3]:
#dfgr = dfs[['cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['cellid'], as_index=True).sum()
#dfgr['hour'] = dfgr.time.dt.hour+dfgr.time.dt.minute/60+24*(dfgr.time.dt.day-1)
#dfgr = dfgr.set_index(['cell']).sort_index()
#dfgr.head()

In [4]:
cs_class = pd.DataFrame([], columns=["cellid", "lat", "lon", "smsin", "smsout","callin","callout","internet", "home", "high_dens","mid_dens","low_dens","work", "transport", "commercial", "commercial_low", "commercial_high", "offices", "touristic", "rural"])
#gdf = gpd.read_file('./geojsons/milano-grid.geojson')

with open("./geojsons/milano-grid.geojson") as json_file:
    json_data = geojson.load(json_file)
print(len(json_data.features))

10000

In [5]:
#Create a subset of the grids, and manually assign the labels according to the visual map

In [6]:
for j in range(0,10000):
    json_data.features[j].properties = {
        "fill": colors.to_hex([ 0.99,0.99, 0.99, 0.15 ], keep_alpha = True),
        "stroke": colors.to_hex([ 0.99,0.99, 0.99, 0.55 ], keep_alpha = True),
        "fill-opacity": 0.1,
        "stroke-width": 1,
        "stroke-opacity": 0.52,
        "cellId": j+1
    }

In [7]:
l=[]
for i in range(4263,6173,100):
    for j in range(i,i+20):
        l.append(j)
#print(l)

In [8]:
for i in l:
    try:
        tmp=pd.DataFrame([[json_data.features[i-1].properties["cellId"], np.mean(json_data.features[i-1].geometry.coordinates[0], axis=0)[1], np.mean(json_data.features[i-1].geometry.coordinates[0], axis=0)[0]]], columns=['cellid', 'lat', 'lon'])
        cs_class=cs_class.append(tmp)
        #print(np.mean(json_data.features[i].geometry.coordinates[0], axis=0))
        #print(json_data.features[i].properties["cellId"])
        json_data.features[i-1].properties = {
        "fill": colors.to_hex([ 0.90,0.00, 0.0, 0.3 ], keep_alpha = True),
        "stroke": colors.to_hex([ 0.99,0.99, 0.99, 0.4 ], keep_alpha = True),
        "fill-opacity": 0.3,
        "stroke-width": 1,
        "stroke-opacity": 0.4,
        "cellId": i
    }
    except:
        continue #skip the missing value and continue :3

In [9]:
with open("./geojsons/test20by20.geojson", "w") as json_file:
    geojson.dump(json_data, json_file)

In [10]:
cs_class=cs_class.fillna(0)
cs_class = cs_class.set_index(['cellid']).sort_index()

cs_class.head()

,lat,lon,smsin,smsout,callin,callout,internet,home,high_dens,mid_dens,low_dens,work,transport,commercial,commercial_low,commercial_high,offices,touristic,rural
cellid,,,,,,,,,,,,,,,,,,,
4263,45.446625,9.199027,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4264,45.446620,9.202032,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4265,45.446614,9.205037,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4266,45.446609,9.208042,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4267,45.446604,9.211047,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
cs_class.count()

lat                400
lon                400
smsin              400
smsout             400
callin             400
callout            400
internet           400
home               400
high_dens          400
mid_dens           400
low_dens           400
work               400
transport          400
commercial         400
commercial_low     400
commercial_high    400
offices            400
touristic          400
rural              400
dtype: int64

In [12]:
#cs_class.to_csv("./csv/classif20by20.csv")