In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score, cross_val_predict

In [2]:
data = pd.read_csv("./classif/fullgrid/classifgridmon_callout.csv")
data2 = pd.read_csv("./classif/20x20/classif20x20_callout.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_callout.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_callout.csv")

data2.head()
#20x20 grid, monday(4/11) - callout / friday(8/11)

,Unnamed: 0,cellid,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,...,callout15,callout16,callout17,callout18,callout19,callout20,callout21,callout22,callout23,hw
0,0,4263,0.005281,0.002557,0.001438,0.002816,0.001556,0.001273,0.004726,0.021973,...,0.107267,0.132182,0.132036,0.127535,0.104912,0.072869,0.052778,0.038750,0.016678,1
1,1,4264,0.021773,0.084978,0.108642,0.191343,0.103014,0.099160,0.048532,0.021052,...,0.130090,0.132422,0.132464,0.120428,0.096361,0.073186,0.041560,0.035831,0.009791,1
2,2,4265,0.038484,0.119602,0.149443,0.260102,0.162814,0.144088,0.064830,0.028733,...,0.173280,0.167852,0.146568,0.171819,0.134474,0.082704,0.058255,0.030541,0.013574,1
3,3,4266,0.022196,0.045539,0.057711,0.111502,0.057429,0.048626,0.021323,0.035923,...,0.202240,0.192823,0.221391,0.206073,0.177235,0.105604,0.084106,0.045161,0.021190,1
4,4,4267,0.014653,0.021617,0.029123,0.068538,0.019321,0.014466,0.006824,0.036441,...,0.210401,0.193601,0.250913,0.209207,0.187339,0.110822,0.091828,0.050874,0.023142,1

In [3]:
y = data2.iloc[:,26] #h/w
x = data2.iloc[:,2:26] #sms, calls, internet
#y = data.iloc[:,146] #h/w
#x = data.iloc[:,2:146] #sms, calls, internet
x_test = data.iloc[:,2:26]

In [13]:
x_test.head()

,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,callout8,callout9,...,callout14,callout15,callout16,callout17,callout18,callout19,callout20,callout21,callout22,callout23
0,0.000161,0.000020,1.335496e-06,1.335496e-06,0.000041,0.000087,0.000378,0.001009,0.002776,0.003243,...,0.003478,0.003591,0.004693,0.005388,0.005051,0.004121,0.002745,0.001464,0.000707,0.000307
1,0.000164,0.000020,6.885977e-07,6.885977e-07,0.000041,0.000086,0.000390,0.001029,0.002825,0.003318,...,0.003521,0.003649,0.004771,0.005473,0.005114,0.004196,0.002784,0.001483,0.000719,0.000308
2,0.000167,0.000020,0.000000e+00,0.000000e+00,0.000041,0.000085,0.000404,0.001049,0.002878,0.003398,...,0.003566,0.003711,0.004855,0.005564,0.005180,0.004277,0.002825,0.001504,0.000731,0.000309
3,0.000152,0.000020,3.209249e-06,3.209249e-06,0.000041,0.000090,0.000341,0.000954,0.002632,0.003025,...,0.003356,0.003424,0.004466,0.005142,0.004869,0.003903,0.002634,0.001407,0.000674,0.000305
4,0.000139,0.000018,3.676728e-06,3.676728e-06,0.000035,0.000091,0.000324,0.000898,0.002467,0.002927,...,0.003167,0.003201,0.004172,0.004818,0.004522,0.003637,0.002449,0.001308,0.000621,0.000281

In [7]:
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(x,y)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [8]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.78 accuracy with a standard deviation of 0.05
10 fold: 0.78 accuracy with a standard deviation of 0.07

In [9]:
y_predt = knn.predict(x_test) #10

In [11]:
predicted = pd.DataFrame(np.transpose(y_predt),columns=['predicted'])
predicted['cellid']=data.cellid
#predicted.append(np.transpose(y_predt))
predicted.head()

   predicted  cellid
0          0       1
1          0       2
2          0       3
3          0       4
4          0       5

In [12]:
predicted.to_csv('./csv/predicted_full.csv')