In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score, cross_val_predict
#from sklearn.cluster import AgglomerativeClustering, KMeans

In [2]:
aux = pd.read_csv("./classif/20x20/classif20x20_smsin.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_smsin.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_smsin.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20mon_smsin.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20week_smsin.csv")
#data = pd.read_csv("./results/tn/classif20x20month_smsin.csv")
data = pd.read_csv("./results/mi/classif20x20month_smsin.csv")

data.head()
#20x20 grid, monday(4/11) - smsin / friday(8/11)
#aux.head()

,Unnamed: 0,cellid,smsin0,smsin1,smsin2,smsin3,smsin4,smsin5,smsin6,smsin7,...,smsin1478,smsin1479,smsin1480,smsin1481,smsin1482,smsin1483,smsin1484,smsin1485,smsin1486,smsin1487
0,0,4263,0.011870,0.004771,0.004096,0.002737,0.002258,0.002684,0.002541,0.004287,...,0.016985,0.013098,0.011436,0.010112,0.014733,0.013199,0.010595,0.009834,0.009305,0.004753
1,1,4264,0.010085,0.003911,0.003255,0.002204,0.002871,0.001860,0.003389,0.003418,...,0.016304,0.012583,0.009284,0.011210,0.013494,0.014614,0.012001,0.010050,0.008134,0.006457
2,2,4265,0.011196,0.004613,0.003430,0.002121,0.005377,0.001453,0.005198,0.004250,...,0.014150,0.010293,0.006610,0.008982,0.007701,0.009820,0.011140,0.008386,0.012073,0.004377
3,3,4266,0.011769,0.007784,0.004545,0.005705,0.003732,0.001736,0.006259,0.007445,...,0.026492,0.027731,0.023949,0.023743,0.028089,0.019855,0.018009,0.015125,0.020395,0.011350
4,4,4267,0.011183,0.009175,0.005312,0.007472,0.002158,0.001528,0.006217,0.008713,...,0.033582,0.037660,0.032598,0.031914,0.039405,0.025758,0.022394,0.019072,0.024025,0.015691

In [3]:
#y = data.iloc[:,26] #h/w
#x = data.iloc[:,2:26] #sms, calls, internet
#y = data.iloc[:,170] #h/w
#x = data.iloc[:,2:170] #sms, calls, internet
y = aux.iloc[:,26] #h/w
x = data.iloc[:,2:1490] #sms, calls, internet

In [4]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [5]:
#print(scores1.mean(dtype=np.float64))
#print(scores2)
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(dtype=np.float64), scores2.std(dtype=np.float64)))

5 fold: 0.76 accuracy with a standard deviation of 0.06
10 fold: 0.772500 accuracy with a standard deviation of 0.043946

In [6]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [7]:
#data = pd.read_csv("./classif/20x20/classif20x20_smsout.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_smsout.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_smsout.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20mon_smsout.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20week_smsout.csv")
#data = pd.read_csv("./results/tn/classif20x20month_smsout.csv")
data = pd.read_csv("./results/mi/classif20x20month_smsout.csv")

data.head()
#20x20 grid, monday(4/11) - smsout / friday(8/11)

,Unnamed: 0,cellid,smsout0,smsout1,smsout2,smsout3,smsout4,smsout5,smsout6,smsout7,...,smsout636,smsout637,smsout638,smsout639,smsout640,smsout641,smsout642,smsout643,smsout644,smsout645
0,0,4263,0.011988,0.006862,0.005661,0.009333,0.005936,0.004729,0.003608,0.005377,...,0.020894,0.024635,0.020859,0.015790,0.021777,0.026242,0.027018,0.020955,0.022217,0.019247
1,1,4264,0.005623,0.001370,0.003122,0.003447,0.002360,0.001906,0.001767,0.002046,...,0.019819,0.023116,0.025540,0.016961,0.020371,0.028525,0.023255,0.019430,0.020033,0.019483
2,2,4265,0.008576,0.004828,0.002206,0.002127,0.000893,0.001477,0.001426,0.001201,...,0.012622,0.012404,0.016016,0.010667,0.011262,0.019519,0.011405,0.012133,0.013242,0.012580
3,3,4266,0.009308,0.005460,0.004433,0.003832,0.002615,0.001435,0.001174,0.007046,...,0.012685,0.012553,0.015266,0.013862,0.011800,0.022837,0.015887,0.021602,0.016638,0.015250
4,4,4267,0.008654,0.004746,0.005500,0.004150,0.002922,0.001081,0.001053,0.010089,...,0.010805,0.011946,0.014307,0.015984,0.012049,0.021193,0.017228,0.027409,0.019057,0.017520

In [8]:
#y = data.iloc[:,26] #h/w
#x = data.iloc[:,2:26] #sms, calls, internet
#y = data.iloc[:,170] #h/w
#x = data.iloc[:,2:170] #sms, calls, internet
y = aux.iloc[:,26] #h/w
x = data.iloc[:,2:1490] #sms, calls, internet

In [9]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [10]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(), scores2.std()))

5 fold: 0.75 accuracy with a standard deviation of 0.05
10 fold: 0.760000 accuracy with a standard deviation of 0.057228

In [11]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [12]:
#data = pd.read_csv("./classif/20x20/classif20x20_callin.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_callin.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_callin.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20mon_callin.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20week_callin.csv")
#data = pd.read_csv("./results/tn/classif20x20month_callin.csv")
data = pd.read_csv("./results/mi/classif20x20month_callin.csv")

data.head()
#20x20 grid, monday(4/11) - callin / friday(8/11)

,Unnamed: 0,cellid,callin0,callin1,callin2,callin3,callin4,callin5,callin6,callin7,...,callin636,callin637,callin638,callin639,callin640,callin641,callin642,callin643,callin644,callin645
0,0,4263,0.009510,0.006415,0.003332,0.003161,0.001525,0.003480,0.002721,0.002842,...,0.065759,0.055526,0.059388,0.057431,0.062885,0.064128,0.068530,0.057910,0.045405,0.028927
1,1,4264,0.009058,0.003929,0.004133,0.003107,0.001613,0.003435,0.003511,0.003690,...,0.063923,0.046804,0.057822,0.057492,0.064030,0.058209,0.060765,0.042434,0.034253,0.019827
2,2,4265,0.008507,0.003588,0.003363,0.003132,0.004080,0.004245,0.004256,0.003740,...,0.040600,0.024172,0.043644,0.041494,0.045109,0.036562,0.041209,0.033157,0.020275,0.009399
3,3,4266,0.014510,0.005993,0.009493,0.002931,0.004351,0.004896,0.004737,0.008125,...,0.081063,0.057700,0.065639,0.073923,0.069092,0.077434,0.083852,0.064957,0.046508,0.032278
4,4,4267,0.016551,0.006852,0.012867,0.002783,0.004121,0.005185,0.004877,0.010494,...,0.103343,0.076728,0.077188,0.091817,0.082677,0.099754,0.107949,0.081097,0.060218,0.044397

In [13]:
#y = data.iloc[:,26] #h/w
#x = data.iloc[:,2:26] #sms, calls, internet
#y = data.iloc[:,170] #h/w
#x = data.iloc[:,2:170] #sms, calls, internet
y = aux.iloc[:,26] #h/w
x = data.iloc[:,2:1490] #sms, calls, internet

In [14]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [15]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(dtype=np.float64), scores2.std(dtype=np.float64)))

5 fold: 0.75 accuracy with a standard deviation of 0.06
10 fold: 0.775000 accuracy with a standard deviation of 0.054772

In [16]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [17]:
#data2 = pd.read_csv("./classif/20x20/classif20x20_callout.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_callout.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_callout.csv")
#data2 = pd.read_csv("./classif/20x20/tn/classif20x20mon_callout.csv")
#data2 = pd.read_csv("./classif/20x20/tn/classif20x20week_callout.csv")
#data2 = pd.read_csv("./results/tn/classif20x20month_callout.csv")
data2 = pd.read_csv("./results/mi/classif20x20month_callout.csv")

data2.head()
#20x20 grid, monday(4/11) - callout / friday(8/11)

,Unnamed: 0,cellid,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,...,callout636,callout637,callout638,callout639,callout640,callout641,callout642,callout643,callout644,callout645
0,0,4263,0.006951,0.004503,0.002539,0.003903,0.003372,0.003368,0.002882,0.003904,...,0.036956,0.037126,0.047986,0.047253,0.052965,0.048914,0.050983,0.047986,0.034649,0.021151
1,1,4264,0.014882,0.038658,0.059949,0.088073,0.050599,0.046157,0.020881,0.002412,...,0.047418,0.041016,0.059526,0.047050,0.052844,0.050571,0.046152,0.044238,0.027070,0.019216
2,2,4265,0.024607,0.060456,0.087568,0.129237,0.073043,0.064183,0.031041,0.003229,...,0.046926,0.033042,0.054230,0.038315,0.039825,0.038450,0.035299,0.029660,0.017420,0.012246
3,3,4266,0.015214,0.027758,0.038373,0.053339,0.032440,0.026716,0.015436,0.007486,...,0.049766,0.045659,0.054497,0.058097,0.054719,0.065352,0.062247,0.050538,0.039136,0.023433
4,4,4267,0.010157,0.015010,0.022296,0.027267,0.019201,0.014927,0.010042,0.009072,...,0.053235,0.053615,0.055302,0.069326,0.062849,0.080915,0.076355,0.061892,0.050911,0.028746

In [18]:
#y = data2.iloc[:,26] #h/w
#x = data2.iloc[:,2:26] #sms, calls, internet
#y = data2.iloc[:,170] #h/w
#x = data2.iloc[:,2:170] #sms, calls, internet
y = aux.iloc[:,26] #h/w
x = data2.iloc[:,2:1490] #sms, calls, internet

In [19]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [20]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(dtype=np.float64), scores2.std(dtype=np.float64)))

5 fold: 0.77 accuracy with a standard deviation of 0.04
10 fold: 0.770000 accuracy with a standard deviation of 0.038406

In [21]:
y_predt = cross_val_predict(knn, x, y, cv=10) #10

In [22]:
#data = pd.read_csv("./classif/20x20/classif20x20_internet.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_internet.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_internet.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20mon_internet.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20week_internet.csv")
#data = pd.read_csv("./results/tn/classif20x20month_internet.csv")
data = pd.read_csv("./results/mi/classif20x20month_internet.csv")

data.head()
#20x20 grid, monday(4/11) - internet / friday(8/11)

,Unnamed: 0,cellid,internet0,internet1,internet2,internet3,internet4,internet5,internet6,internet7,...,internet636,internet637,internet638,internet639,internet640,internet641,internet642,internet643,internet644,internet645
0,0,4263,0.082844,0.058184,0.044053,0.048355,0.044293,0.042620,0.041021,0.041871,...,0.117218,0.128335,0.121128,0.107883,0.122047,0.122400,0.111822,0.119440,0.120523,0.110571
1,1,4264,0.103061,0.066925,0.049726,0.055514,0.050364,0.044777,0.046362,0.053700,...,0.142208,0.151120,0.149622,0.129909,0.137798,0.128624,0.123371,0.124346,0.143630,0.134342
2,2,4265,0.076756,0.061221,0.053844,0.050053,0.048216,0.046435,0.058132,0.057379,...,0.052108,0.050774,0.055035,0.046772,0.043507,0.038601,0.044442,0.041830,0.045848,0.044541
3,3,4266,0.085733,0.074068,0.064942,0.063146,0.061160,0.057407,0.061079,0.060483,...,0.043915,0.044428,0.049414,0.045203,0.040945,0.040746,0.040217,0.038925,0.042543,0.040082
4,4,4267,0.079880,0.071106,0.063081,0.062735,0.061135,0.056794,0.055730,0.058993,...,0.041174,0.043089,0.048541,0.045991,0.041577,0.042089,0.039364,0.038375,0.041722,0.038643

In [23]:
#y = data.iloc[:,26] #h/w
#x = data.iloc[:,2:26] #sms, calls, internet
#y = data.iloc[:,170] #h/w
#x = data.iloc[:,2:170] #sms, calls, internet
y = aux.iloc[:,26] #h/w
x = data.iloc[:,2:1490] #sms, calls, internet

In [24]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [25]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(dtype=np.float64), scores2.std(dtype=np.float64)))

5 fold: 0.73 accuracy with a standard deviation of 0.04
10 fold: 0.755000 accuracy with a standard deviation of 0.045826

In [26]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [27]:
#predicted = pd.DataFrame(np.transpose(y_predt),columns=['predicted'])
#predicted['cellid']=data2.cellid
#predicted.append(np.transpose(y_predt))
#predicted.head()

In [28]:
#predicted.to_csv('./csv/predicted_co_m20.csv')

In [29]:
#data2 = pd.read_csv("./classif/20x20/classif20x20_callout.csv")
#y = data2.iloc[:,170] #h/w
#x = data2.iloc[:,2:170] #sms, calls, internet
y = aux.iloc[:,26] #h/w
x = data2.iloc[:,2:1490] #sms, calls, internet

In [30]:
#model = KMeans(n_clusters=2) #5
#model = AgglomerativeClustering(n_clusters=5)
#yhat=model.fit_predict(x)
knn = KNeighborsClassifier(n_neighbors=10)
y_predt = cross_val_predict(knn, x, y, cv=10) #10

In [31]:
predicted = pd.DataFrame(np.transpose(y_predt),columns=['predicted'])
predicted['cellid'] = data.cellid
predicted.head()

   predicted  cellid
0          3    4263
1          4    4264
2          4    4265
3          4    4266
4          4    4267

In [32]:
predicted.to_csv('./csv/predict_20x20_mo_mi.csv')