In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score, cross_val_predict

In [2]:
#data = pd.read_csv("./classif/20x20/classif20x20_smsin.csv")
data = pd.read_csv("./classif/20x20/classif20x20frid_smsin.csv")
data.head()
#20x20 grid, monday(4/11) - smsin / friday(8/11)

,Unnamed: 0,cellid,smsin0,smsin1,smsin2,smsin3,smsin4,smsin5,smsin6,smsin7,...,smsin15,smsin16,smsin17,smsin18,smsin19,smsin20,smsin21,smsin22,smsin23,h/w
0,0,4263,0.013136,0.003124,0.003105,0.000153,0.000633,0.001503,0.003869,0.024853,...,0.086321,0.079202,0.090222,0.080138,0.079636,0.073864,0.050432,0.040309,0.030213,1
1,1,4264,0.012572,0.004636,0.001174,0.000297,0.000073,0.001085,0.003846,0.020967,...,0.073637,0.080513,0.090771,0.079551,0.065351,0.067617,0.044726,0.029768,0.027173,1
2,2,4265,0.012486,0.003686,0.000562,0.000383,0.000000,0.001704,0.003389,0.016638,...,0.050347,0.061160,0.069136,0.046877,0.052388,0.047941,0.027505,0.022822,0.012480,1
3,3,4266,0.014623,0.005811,0.003021,0.002676,0.004166,0.004154,0.006262,0.024481,...,0.098577,0.114889,0.120125,0.083857,0.071786,0.070655,0.066703,0.041130,0.026080,1
4,4,4267,0.015535,0.006882,0.003970,0.004006,0.006409,0.005277,0.007827,0.028830,...,0.128339,0.147705,0.150570,0.106706,0.081503,0.085912,0.088772,0.050751,0.033778,0

In [3]:
y = data.iloc[:,26] #h/w
x = data.iloc[:,2:26] #sms, calls, internet

In [4]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [5]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.70 accuracy with a standard deviation of 0.06
10 fold: 0.69 accuracy with a standard deviation of 0.07

In [6]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [7]:
#data = pd.read_csv("./classif/20x20/classif20x20_smsout.csv")
data = pd.read_csv("./classif/20x20/classif20x20frid_smsout.csv")
data.head()
#20x20 grid, monday(4/11) - smsout / friday(8/11)

,Unnamed: 0,cellid,smsout0,smsout1,smsout2,smsout3,smsout4,smsout5,smsout6,smsout7,...,smsout15,smsout16,smsout17,smsout18,smsout19,smsout20,smsout21,smsout22,smsout23,h/w
0,0,4263,0.016680,0.005830,0.006877,0.003067,0.004350,0.003841,0.004396,0.025966,...,0.047588,0.055254,0.038087,0.052018,0.056797,0.048628,0.041032,0.039448,0.028422,1
1,1,4264,0.011559,0.006948,0.007656,0.004631,0.005708,0.005282,0.006957,0.022704,...,0.034370,0.043997,0.035486,0.042817,0.036068,0.041145,0.033539,0.028153,0.018483,1
2,2,4265,0.014107,0.007395,0.006199,0.005750,0.006192,0.006952,0.007840,0.015745,...,0.028596,0.017393,0.029372,0.032113,0.018260,0.024933,0.024254,0.014977,0.013580,1
3,3,4266,0.009737,0.006399,0.003366,0.001570,0.001691,0.004633,0.005106,0.020382,...,0.031461,0.042064,0.039158,0.043230,0.025445,0.039658,0.041264,0.030181,0.025022,1
4,4,4267,0.008120,0.006651,0.002594,0.000000,0.000000,0.004069,0.004439,0.024267,...,0.034815,0.054943,0.044606,0.049427,0.029635,0.048299,0.051462,0.038286,0.031420,0

In [8]:
y = data.iloc[:,26] #h/w
x = data.iloc[:,2:26] #sms, calls, internet

In [9]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [10]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.66 accuracy with a standard deviation of 0.04
10 fold: 0.68 accuracy with a standard deviation of 0.07

In [11]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [12]:
#data = pd.read_csv("./classif/20x20/classif20x20_callin.csv")
data = pd.read_csv("./classif/20x20/classif20x20frid_callin.csv")
data.head()
#20x20 grid, monday(4/11) - callin / friday(8/11)

,Unnamed: 0,cellid,callin0,callin1,callin2,callin3,callin4,callin5,callin6,callin7,...,callin15,callin16,callin17,callin18,callin19,callin20,callin21,callin22,callin23,h/w
0,0,4263,0.008457,0.006550,0.002262,0.001915,0.001563,0.002537,0.004879,0.020525,...,0.107962,0.138869,0.137004,0.146701,0.130905,0.093307,0.057635,0.035349,0.022013,1
1,1,4264,0.007725,0.003905,0.002044,0.000773,0.001549,0.003227,0.002084,0.017261,...,0.106401,0.113764,0.134019,0.123295,0.101699,0.071273,0.044805,0.026687,0.017711,1
2,2,4265,0.004552,0.001434,0.000709,0.001921,0.000499,0.004563,0.001943,0.015370,...,0.093419,0.073303,0.097974,0.087411,0.067457,0.040025,0.027389,0.014189,0.010108,1
3,3,4266,0.007470,0.002626,0.001097,0.002651,0.003397,0.005224,0.007215,0.027973,...,0.153641,0.145376,0.153375,0.171660,0.129936,0.104551,0.065179,0.029193,0.026387,1
4,4,4267,0.008906,0.003244,0.001484,0.002969,0.005038,0.005628,0.009770,0.035274,...,0.185093,0.182379,0.184775,0.219754,0.162749,0.140324,0.086030,0.036480,0.035582,0

In [13]:
y = data.iloc[:,26] #h/w
x = data.iloc[:,2:26] #sms, calls, internet

In [14]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [15]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.63 accuracy with a standard deviation of 0.05
10 fold: 0.63 accuracy with a standard deviation of 0.04

In [16]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [17]:
#data = pd.read_csv("./classif/20x20/classif20x20_callout.csv")
data = pd.read_csv("./classif/20x20/classif20x20frid_callout.csv")
data.head()
#20x20 grid, monday(4/11) - callout / friday(8/11)

,Unnamed: 0,cellid,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,...,callout15,callout16,callout17,callout18,callout19,callout20,callout21,callout22,callout23,h/w
0,0,4263,0.009145,0.009179,0.009538,0.017104,0.008899,0.009087,0.007357,0.028557,...,0.100894,0.116715,0.128480,0.119246,0.108649,0.086984,0.049128,0.026817,0.023579,1
1,1,4264,0.025650,0.078462,0.112158,0.181921,0.100793,0.100792,0.046278,0.026205,...,0.110526,0.125698,0.130754,0.117452,0.100879,0.076266,0.044122,0.019241,0.015160,1
2,2,4265,0.034611,0.103111,0.143273,0.196627,0.122665,0.114882,0.061729,0.035201,...,0.177306,0.178797,0.160711,0.147228,0.128995,0.078923,0.053091,0.018414,0.014610,1
3,3,4266,0.019217,0.041020,0.042252,0.075405,0.046604,0.035042,0.028033,0.046235,...,0.192371,0.168635,0.190596,0.182050,0.157197,0.120730,0.076357,0.045580,0.026270,1
4,4,4267,0.013183,0.020126,0.007702,0.041128,0.023863,0.008828,0.016543,0.048966,...,0.187313,0.152261,0.198913,0.190294,0.163883,0.138814,0.083671,0.057660,0.030025,0

In [18]:
y = data.iloc[:,26] #h/w
x = data.iloc[:,2:26] #sms, calls, internet

In [19]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [20]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.63 accuracy with a standard deviation of 0.04
10 fold: 0.64 accuracy with a standard deviation of 0.08

In [21]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [22]:
#data = pd.read_csv("./classif/20x20/classif20x20_internet.csv")
data = pd.read_csv("./classif/20x20/classif20x20frid_internet.csv")
data.head()
#20x20 grid, monday(4/11) - internet / friday(8/11)

,Unnamed: 0,cellid,internet0,internet1,internet2,internet3,internet4,internet5,internet6,internet7,...,internet15,internet16,internet17,internet18,internet19,internet20,internet21,internet22,internet23,h/w
0,0,4263,0.077760,0.067301,0.058208,0.053287,0.044524,0.045892,0.052889,0.074945,...,0.106531,0.130671,0.118996,0.128706,0.127944,0.126693,0.120600,0.116384,0.105673,1
1,1,4264,0.082685,0.072971,0.057931,0.055171,0.044453,0.048858,0.053696,0.072260,...,0.120708,0.138979,0.121285,0.133407,0.125547,0.134387,0.127740,0.118319,0.113790,1
2,2,4265,0.020259,0.018173,0.017295,0.017154,0.016190,0.018961,0.015234,0.017735,...,0.042875,0.038475,0.037976,0.041731,0.040424,0.038056,0.033972,0.027710,0.024285,1
3,3,4266,0.030076,0.026276,0.024600,0.024797,0.022812,0.024255,0.024682,0.031093,...,0.040006,0.044333,0.041862,0.041031,0.044521,0.038708,0.038606,0.033289,0.029668,1
4,4,4267,0.035888,0.031224,0.028891,0.029265,0.026592,0.027660,0.029462,0.037398,...,0.039148,0.046785,0.043623,0.040791,0.046520,0.038358,0.040493,0.035629,0.032836,0

In [23]:
y = data.iloc[:,26] #h/w
x = data.iloc[:,2:26] #sms, calls, internet

In [24]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [25]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.64 accuracy with a standard deviation of 0.04
10 fold: 0.67 accuracy with a standard deviation of 0.08

In [26]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [27]:
#predicted = pd.DataFrame(np.transpose(y_pred),columns=['predicted'])
#predicted['cellid']=data.cellid
#predicted.append(np.transpose(y_pred))
#predicted.head()