In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score, cross_val_predict
#from sklearn.cluster import KMeans, OPTICS

In [2]:
#Week 4-10 nov: smsin traffic
#data = pd.read_csv("./classif/randomgrid/classif-randomgridweek_smsin.csv")
#data = pd.read_csv("./classif/weekly10x10/classif10x10week_smsin.csv")
data = pd.read_csv("./classif/20x20/classif20x20week_smsin.csv")
data.head()

,Unnamed: 0,cellid,smsin0,smsin1,smsin2,smsin3,smsin4,smsin5,smsin6,smsin7,...,smsin159,smsin160,smsin161,smsin162,smsin163,smsin164,smsin165,smsin166,smsin167,h/w
0,0,4263,0.005388,0.001375,0.001164,0.001046,0.001853,0.001003,0.002471,0.015629,...,0.027650,0.028890,0.040966,0.030124,0.029524,0.034311,0.031794,0.031488,0.025819,1
1,1,4264,0.006659,0.001000,0.002000,0.000472,0.002755,0.000000,0.004983,0.020225,...,0.035258,0.030807,0.041282,0.034532,0.030082,0.033159,0.024896,0.024300,0.013271,1
2,2,4265,0.008518,0.001652,0.001426,0.001753,0.002715,0.001319,0.004828,0.028855,...,0.019444,0.028393,0.019324,0.023364,0.023776,0.018398,0.014440,0.016602,0.010866,1
3,3,4266,0.014633,0.004140,0.002239,0.003129,0.000947,0.005501,0.007295,0.026925,...,0.057383,0.048929,0.060614,0.045082,0.037629,0.045315,0.035212,0.036575,0.021920,1
4,4,4267,0.017437,0.004972,0.002907,0.003364,0.000016,0.007380,0.008407,0.024434,...,0.079653,0.062472,0.082648,0.057215,0.045437,0.060541,0.047124,0.046539,0.028084,0

In [3]:
y = data.iloc[:,170] #h/w
x = data.iloc[:,2:170] #smsin for the whole week (24x7)

In [4]:
### Clustering ###
#model = MeanShift()
#model = KMeans(n_clusters=2)
#model = OPTICS(min_samples=3)
# fit model and predict clusters
#yhat=model.fit_predict(x)
# retrieve unique clusters
#clusters = np.unique(yhat)
#print(len(yhat))
###            ###

In [5]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [6]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.70 accuracy with a standard deviation of 0.04
10 fold: 0.70 accuracy with a standard deviation of 0.06

In [7]:
#data = pd.read_csv("./classif/randomgrid/classif-randomgridweek_smsout.csv")
#data = pd.read_csv("./classif/weekly10x10/classif10x10week_smsout.csv")
data = pd.read_csv("./classif/20x20/classif20x20week_smsout.csv")
data.head()

,Unnamed: 0,cellid,smsout0,smsout1,smsout2,smsout3,smsout4,smsout5,smsout6,smsout7,...,smsout159,smsout160,smsout161,smsout162,smsout163,smsout164,smsout165,smsout166,smsout167,h/w
0,0,4263,0.008294,0.005784,0.004349,0.011950,0.005789,0.004636,0.004773,0.011491,...,0.015637,0.026091,0.030166,0.028197,0.024840,0.029155,0.021442,0.028020,0.022410,1
1,1,4264,0.005136,0.002409,0.001723,0.004818,0.003026,0.001390,0.002377,0.021195,...,0.021504,0.016051,0.029073,0.022163,0.022396,0.021032,0.017856,0.017518,0.009869,1
2,2,4265,0.006240,0.002705,0.000661,0.002009,0.003955,0.001585,0.002755,0.031414,...,0.018385,0.010313,0.011841,0.011598,0.015559,0.018101,0.009914,0.009926,0.005797,1
3,3,4266,0.007989,0.006017,0.002086,0.001732,0.004708,0.001981,0.003877,0.023837,...,0.026897,0.014692,0.018023,0.023822,0.021924,0.029990,0.022005,0.023901,0.017255,1
4,4,4267,0.008453,0.007518,0.002799,0.001416,0.004401,0.001678,0.004109,0.021903,...,0.032609,0.016611,0.021673,0.030253,0.026827,0.037211,0.028187,0.031390,0.024075,0

In [8]:
y = data.iloc[:,170] #h/w
x = data.iloc[:,2:170] #smsout for the whole week (24x7)

In [9]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [10]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.72 accuracy with a standard deviation of 0.06
10 fold: 0.72 accuracy with a standard deviation of 0.05

In [11]:
#data = pd.read_csv("./classif/randomgrid/classif-randomgridweek_callin.csv")
#data = pd.read_csv("./classif/weekly10x10/classif10x10week_callin.csv")
data = pd.read_csv("./classif/20x20/classif20x20week_callin.csv")
data.head()

,Unnamed: 0,cellid,callin0,callin1,callin2,callin3,callin4,callin5,callin6,callin7,...,callin159,callin160,callin161,callin162,callin163,callin164,callin165,callin166,callin167,h/w
0,0,4263,0.002733,0.001316,0.000355,0.000241,0.000596,0.000605,0.002880,0.019949,...,0.026862,0.035404,0.051509,0.050315,0.047908,0.056996,0.031588,0.016613,0.009130,1
1,1,4264,0.002893,0.002373,0.000630,0.000193,0.000823,0.001864,0.001985,0.014445,...,0.020401,0.028404,0.037092,0.045242,0.038569,0.043766,0.024775,0.014102,0.009044,1
2,2,4265,0.000631,0.002191,0.000948,0.001054,0.001059,0.002908,0.003904,0.021050,...,0.015059,0.016942,0.025905,0.034520,0.024361,0.017354,0.014803,0.008118,0.006442,1
3,3,4266,0.004530,0.008713,0.001264,0.001174,0.001631,0.002911,0.007115,0.034020,...,0.050657,0.066312,0.079815,0.083147,0.080778,0.052064,0.039241,0.020021,0.010423,1
4,4,4267,0.006411,0.012314,0.001320,0.000950,0.001812,0.003094,0.008758,0.040093,...,0.069106,0.093044,0.109347,0.109003,0.111373,0.070854,0.052095,0.025512,0.012367,0

In [12]:
y = data.iloc[:,170]
x = data.iloc[:,2:170]

In [13]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [14]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.66 accuracy with a standard deviation of 0.08
10 fold: 0.68 accuracy with a standard deviation of 0.10

In [15]:
#data = pd.read_csv("./classif/randomgrid/classif-randomgridweek_callout.csv")
#data = pd.read_csv("./classif/weekly10x10/classif10x10week_callout.csv")
data = pd.read_csv("./classif/20x20/classif20x20week_callout.csv")
data.head()

,Unnamed: 0,cellid,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,...,callout159,callout160,callout161,callout162,callout163,callout164,callout165,callout166,callout167,h/w
0,0,4263,0.004171,0.002020,0.001136,0.002224,0.001229,0.001006,0.003732,0.017355,...,0.023457,0.036295,0.045147,0.049959,0.051290,0.034896,0.029359,0.015874,0.010176,1
1,1,4264,0.017197,0.067118,0.085808,0.151127,0.081362,0.078319,0.038332,0.016627,...,0.021735,0.031265,0.044844,0.058464,0.049536,0.040305,0.022394,0.022973,0.008775,1
2,2,4265,0.030395,0.094464,0.118034,0.205434,0.128594,0.113804,0.051204,0.022694,...,0.030380,0.031513,0.049020,0.062976,0.053865,0.041385,0.020162,0.021785,0.009832,1
3,3,4266,0.017531,0.035968,0.045582,0.088067,0.045359,0.038406,0.016841,0.028373,...,0.060005,0.075420,0.068722,0.096218,0.085003,0.068662,0.042476,0.029336,0.021122,1
4,4,4267,0.011573,0.017074,0.023002,0.054133,0.015260,0.011425,0.005390,0.028782,...,0.072679,0.098283,0.076949,0.109266,0.100433,0.080173,0.052234,0.034012,0.027283,0

In [16]:
y = data.iloc[:,170]
x = data.iloc[:,2:170]

In [17]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

y_pred = cross_val_predict(knn, x, y, cv=10)

In [18]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.70 accuracy with a standard deviation of 0.03
10 fold: 0.73 accuracy with a standard deviation of 0.06

In [19]:
#data = pd.read_csv("./classif/randomgrid/classif-randomgridweek_internet.csv")
#data = pd.read_csv("./classif/weekly10x10/classif10x10week_internet.csv")
data = pd.read_csv("./classif/20x20/classif20x20week_internet.csv")
data.head()

,Unnamed: 0,cellid,internet0,internet1,internet2,internet3,internet4,internet5,internet6,internet7,...,internet159,internet160,internet161,internet162,internet163,internet164,internet165,internet166,internet167,h/w
0,0,4263,0.061385,0.048882,0.044138,0.040334,0.038846,0.036400,0.038207,0.060819,...,0.092896,0.099101,0.085091,0.098437,0.092653,0.117234,0.103891,0.097767,0.080557,1
1,1,4264,0.073603,0.056968,0.054644,0.049425,0.045757,0.041600,0.046549,0.077385,...,0.100304,0.124293,0.099365,0.110330,0.107402,0.114327,0.120843,0.112275,0.086072,1
2,2,4265,0.066310,0.060676,0.046379,0.044023,0.041605,0.041434,0.048392,0.090235,...,0.026115,0.030156,0.037712,0.036889,0.032898,0.024960,0.026328,0.023349,0.022276,1
3,3,4266,0.073912,0.055692,0.050338,0.047229,0.045241,0.045971,0.051680,0.074907,...,0.034590,0.038068,0.039626,0.038146,0.036950,0.036912,0.033554,0.028344,0.026483,1
4,4,4267,0.065982,0.045511,0.047818,0.045105,0.044020,0.044808,0.048692,0.055756,...,0.038415,0.042099,0.041652,0.038887,0.039528,0.042939,0.036688,0.030348,0.029029,0

In [20]:
y = data.iloc[:,170]
x = data.iloc[:,2:170]

In [21]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [22]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.64 accuracy with a standard deviation of 0.05
10 fold: 0.64 accuracy with a standard deviation of 0.11

In [23]:
#y_pred = cross_val_predict(knn, x, y, cv=10)
#print(y_pred)

In [24]:
#predicted = pd.DataFrame(np.transpose(yhat),columns=['cluster'])
#predicted['cellid']=data.cellid
#predicted.append(np.transpose(y_pred))
#predicted.head()

In [25]:
#predicted.to_csv('./csv/clustering_20.csv')