In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn.cluster import KMeans

In [2]:
#data = pd.read_csv("./classif/20x20/classif20x20_smsin.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_smsin.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_smsin.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20mon_smsin.csv")
data = pd.read_csv("./classif/20x20/tn/classif20x20week_smsin.csv")

data.head()
#20x20 grid, monday(4/11) - smsin / friday(8/11)

,Unnamed: 0,cellid,smsin0,smsin1,smsin2,smsin3,smsin4,smsin5,smsin6,smsin7,...,smsin159,smsin160,smsin161,smsin162,smsin163,smsin164,smsin165,smsin166,smsin167,hwr
0,0,3911,0.002297,0.000496,0.000000,0.000630,0.000644,0.000263,0.000616,0.004309,...,0.005365,0.004742,0.007847,0.005469,0.007014,0.005191,0.004792,0.002741,0.002548,1
1,1,3912,0.002851,0.000428,0.000126,0.000640,0.000765,0.000312,0.000828,0.004163,...,0.006914,0.006103,0.008864,0.006282,0.007612,0.004902,0.005080,0.004819,0.002889,1
2,2,3913,0.002082,0.000173,0.000514,0.000061,0.000097,0.000294,0.001401,0.004015,...,0.007992,0.009707,0.009856,0.008578,0.009144,0.007404,0.006350,0.006930,0.003862,2
3,3,3914,0.001038,0.000386,0.000358,0.000125,0.000070,0.000318,0.001069,0.004172,...,0.006071,0.006780,0.007570,0.007219,0.007024,0.005731,0.004689,0.004208,0.002358,2
4,4,3915,0.001065,0.000308,0.000320,0.000012,0.000193,0.001528,0.000463,0.005440,...,0.005279,0.003570,0.005534,0.006073,0.005212,0.005047,0.004502,0.002931,0.002060,2

In [3]:
#y = data.iloc[:,26] #h/w
#x = data.iloc[:,2:26] #sms, calls, internet
y = data.iloc[:,170] #h/w
x = data.iloc[:,2:170] #sms, calls, internet

In [4]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [5]:
#print(scores1.mean(dtype=np.float64))
#print(scores2)
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(dtype=np.float64), scores2.std(dtype=np.float64)))

5 fold: 0.47 accuracy with a standard deviation of 0.06
10 fold: 0.485000 accuracy with a standard deviation of 0.061441

In [6]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [7]:
#data = pd.read_csv("./classif/20x20/classif20x20_smsout.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_smsout.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_smsout.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20mon_smsout.csv")
data = pd.read_csv("./classif/20x20/tn/classif20x20week_smsout.csv")

data.head()
#20x20 grid, monday(4/11) - smsout / friday(8/11)

,Unnamed: 0,cellid,smsout0,smsout1,smsout2,smsout3,smsout4,smsout5,smsout6,smsout7,...,smsout159,smsout160,smsout161,smsout162,smsout163,smsout164,smsout165,smsout166,smsout167,hwr
0,0,3911,0.003938,0.002909,0.002363,0.002284,0.002233,0.001676,0.001025,0.002610,...,0.005246,0.003767,0.005409,0.006920,0.010114,0.006461,0.009503,0.005857,0.003236,1
1,1,3912,0.002794,0.000791,0.000275,0.000000,0.000000,0.000232,0.001140,0.002200,...,0.005768,0.006254,0.006681,0.006522,0.008766,0.004922,0.006501,0.004738,0.002619,1
2,2,3913,0.004835,0.001541,0.001285,0.001122,0.001116,0.000731,0.001176,0.003794,...,0.006835,0.008850,0.011102,0.009417,0.009626,0.009863,0.007194,0.009746,0.005382,2
3,3,3914,0.002308,0.000320,0.000583,0.000493,0.000608,0.000237,0.002078,0.005019,...,0.004418,0.006035,0.007151,0.006814,0.006886,0.006704,0.006506,0.005783,0.003097,2
4,4,3915,0.001181,0.000144,0.000146,0.000133,0.000121,0.000088,0.001296,0.005669,...,0.003113,0.002979,0.005477,0.004235,0.004713,0.004093,0.005291,0.003524,0.001778,2

In [8]:
#y = data.iloc[:,26] #h/w
#x = data.iloc[:,2:26] #sms, calls, internet
y = data.iloc[:,170] #h/w
x = data.iloc[:,2:170] #sms, calls, internet

In [9]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [10]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(), scores2.std()))

5 fold: 0.49 accuracy with a standard deviation of 0.06
10 fold: 0.525000 accuracy with a standard deviation of 0.053619

In [11]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [12]:
#data = pd.read_csv("./classif/20x20/classif20x20_callin.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_callin.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_callin.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20mon_callin.csv")
data = pd.read_csv("./classif/20x20/tn/classif20x20week_callin.csv")

data.head()
#20x20 grid, monday(4/11) - callin / friday(8/11)

,Unnamed: 0,cellid,callin0,callin1,callin2,callin3,callin4,callin5,callin6,callin7,...,callin159,callin160,callin161,callin162,callin163,callin164,callin165,callin166,callin167,hwr
0,0,3911,0.001136,0.000327,0.000156,0.000142,0.000000,0.000284,0.001113,0.005424,...,0.005616,0.007276,0.010946,0.006414,0.005776,0.007277,0.003904,0.001454,0.000568,1
1,1,3912,0.000800,0.000177,0.000000,0.000179,0.000024,0.000159,0.000444,0.004503,...,0.005667,0.006929,0.011179,0.005980,0.005543,0.006977,0.003524,0.000897,0.000419,1
2,2,3913,0.001694,0.000524,0.000253,0.000270,0.000216,0.000450,0.000960,0.006404,...,0.006548,0.009244,0.014207,0.008215,0.007107,0.008503,0.004384,0.001858,0.001204,2
3,3,3914,0.000861,0.000744,0.000339,0.000310,0.000371,0.000736,0.001306,0.006458,...,0.006389,0.009092,0.011494,0.009290,0.008513,0.006739,0.004429,0.002189,0.001014,2
4,4,3915,0.000176,0.000416,0.000834,0.000022,0.000151,0.000191,0.000609,0.005599,...,0.004326,0.006044,0.006762,0.008261,0.007664,0.005668,0.003539,0.002664,0.000998,2

In [13]:
#y = data.iloc[:,26] #h/w
#x = data.iloc[:,2:26] #sms, calls, internet
y = data.iloc[:,170] #h/w
x = data.iloc[:,2:170] #sms, calls, internet

In [14]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [15]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(dtype=np.float64), scores2.std(dtype=np.float64)))

5 fold: 0.48 accuracy with a standard deviation of 0.02
10 fold: 0.512500 accuracy with a standard deviation of 0.047762

In [16]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [17]:
#data2 = pd.read_csv("./classif/20x20/classif20x20_callout.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_callout.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_callout.csv")
#data2 = pd.read_csv("./classif/20x20/tn/classif20x20mon_callout.csv")
data2 = pd.read_csv("./classif/20x20/tn/classif20x20week_callout.csv")

data2.head()
#20x20 grid, monday(4/11) - callout / friday(8/11)

,Unnamed: 0,cellid,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,...,callout159,callout160,callout161,callout162,callout163,callout164,callout165,callout166,callout167,hwr
0,0,3911,0.000363,0.000266,0.000109,0.000156,0.000109,0.000024,0.000816,0.006975,...,0.007628,0.007544,0.011838,0.010716,0.010989,0.007561,0.004366,0.002248,0.000899,1
1,1,3912,0.000399,0.000265,0.000000,0.000004,0.000000,0.000000,0.000955,0.006204,...,0.005978,0.006093,0.009519,0.008728,0.008475,0.006822,0.004536,0.001701,0.000726,1
2,2,3913,0.000241,0.000015,0.000054,0.000101,0.000054,0.000024,0.002713,0.008443,...,0.007359,0.009447,0.012694,0.010386,0.011608,0.007014,0.004715,0.002269,0.001625,2
3,3,3914,0.000353,0.000101,0.000067,0.000075,0.000047,0.000608,0.003460,0.008061,...,0.008905,0.009428,0.010868,0.010906,0.009956,0.006311,0.003204,0.001817,0.001221,2
4,4,3915,0.000129,0.000383,0.000505,0.000294,0.000012,0.000357,0.005847,0.005772,...,0.008092,0.006592,0.007093,0.006524,0.007829,0.004600,0.003217,0.001592,0.002028,2

In [18]:
#y = data2.iloc[:,26] #h/w
#x = data2.iloc[:,2:26] #sms, calls, internet
y = data2.iloc[:,170] #h/w
x = data2.iloc[:,2:170] #sms, calls, internet

In [19]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [20]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(dtype=np.float64), scores2.std(dtype=np.float64)))

5 fold: 0.45 accuracy with a standard deviation of 0.06
10 fold: 0.530000 accuracy with a standard deviation of 0.061033

In [21]:
y_predt = cross_val_predict(knn, x, y, cv=10) #10

In [22]:
#data = pd.read_csv("./classif/20x20/classif20x20_internet.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_internet.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_internet.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20mon_internet.csv")
data = pd.read_csv("./classif/20x20/tn/classif20x20week_internet.csv")

data.head()
#20x20 grid, monday(4/11) - internet / friday(8/11)

,Unnamed: 0,cellid,internet0,internet1,internet2,internet3,internet4,internet5,internet6,internet7,...,internet159,internet160,internet161,internet162,internet163,internet164,internet165,internet166,internet167,hwr
0,0,3911,0.005113,0.004020,0.003597,0.003422,0.003535,0.003707,0.005363,0.010151,...,0.008619,0.010331,0.009969,0.009127,0.007455,0.007207,0.006631,0.005753,0.006155,1
1,1,3912,0.005688,0.004450,0.003734,0.003947,0.004340,0.004474,0.005526,0.009378,...,0.009089,0.011769,0.010814,0.010571,0.009155,0.009535,0.007960,0.007208,0.007750,1
2,2,3913,0.007185,0.006068,0.005257,0.005804,0.006768,0.007093,0.008546,0.012286,...,0.012401,0.015108,0.012760,0.013982,0.013405,0.013727,0.011220,0.010121,0.010243,2
3,3,3914,0.005894,0.005187,0.004381,0.004540,0.005093,0.005453,0.007449,0.009809,...,0.010214,0.011830,0.010420,0.011842,0.010563,0.011076,0.010551,0.008650,0.007422,2
4,4,3915,0.007102,0.006717,0.005705,0.005369,0.005515,0.005677,0.006684,0.008094,...,0.008628,0.010370,0.009180,0.009914,0.008962,0.010563,0.011591,0.009156,0.008654,2

In [23]:
#y = data.iloc[:,26] #h/w
#x = data.iloc[:,2:26] #sms, calls, internet
y = data.iloc[:,170] #h/w
x = data.iloc[:,2:170] #sms, calls, internet

In [24]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [25]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(dtype=np.float64), scores2.std(dtype=np.float64)))

5 fold: 0.48 accuracy with a standard deviation of 0.05
10 fold: 0.490000 accuracy with a standard deviation of 0.066332

In [26]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [27]:
#predicted = pd.DataFrame(np.transpose(y_predt),columns=['predicted'])
#predicted['cellid']=data2.cellid
#predicted.append(np.transpose(y_predt))
#predicted.head()

In [28]:
#predicted.to_csv('./csv/predicted_co_m20.csv')

In [29]:
#data2 = pd.read_csv("./classif/20x20/classif20x20_callout.csv")
y = data2.iloc[:,170] #h/w
x = data2.iloc[:,2:170] #sms, calls, internet

In [30]:
#model = KMeans(n_clusters=2)
#model = KMeans(n_clusters=5)
#yhat=model.fit_predict(x)
knn = KNeighborsClassifier(n_neighbors=10)
y_predt = cross_val_predict(knn, x, y, cv=10) #10

In [31]:
predicted = pd.DataFrame(np.transpose(y_predt),columns=['predicted'])
predicted['cellid'] = data.cellid
predicted.head()

   predicted  cellid
0          2    3911
1          1    3912
2          1    3913
3          1    3914
4          1    3915

In [32]:
predicted.to_csv('./csv/predict_20x20_wk_tn.csv')