In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score, cross_val_predict
#from sklearn.cluster import AgglomerativeClustering, KMeans

In [2]:
data = pd.read_csv("./classif/20x20/classif20x20_smsin.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_smsin.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_smsin.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20mon_smsin.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20week_smsin.csv")
#data = pd.read_csv("./results/tn/classif20x20month_smsin.csv")
#data = pd.read_csv("./results/mi/classif20x20month_smsin.csv")

data.head()
#20x20 grid, monday(4/11) - smsin / friday(8/11)
#aux.head()

,Unnamed: 0,cellid,smsin0,smsin1,smsin2,smsin3,smsin4,smsin5,smsin6,smsin7,...,smsin15,smsin16,smsin17,smsin18,smsin19,smsin20,smsin21,smsin22,smsin23,hw
0,0,4263,0.005869,0.001497,0.001267,0.001139,0.002018,0.001092,0.002691,0.017023,...,0.063392,0.068847,0.065877,0.054308,0.061660,0.052719,0.049532,0.032423,0.022369,1
1,1,4264,0.007253,0.001089,0.002179,0.000514,0.003001,0.000000,0.005427,0.022029,...,0.069955,0.074368,0.062092,0.058348,0.064723,0.048647,0.047072,0.031997,0.025250,1
2,2,4265,0.009278,0.001800,0.001554,0.001909,0.002957,0.001437,0.005258,0.031429,...,0.077116,0.098640,0.070767,0.080176,0.081103,0.055677,0.048049,0.025951,0.021807,1
3,3,4266,0.015938,0.004509,0.002439,0.003408,0.001032,0.005992,0.007946,0.029327,...,0.104199,0.108346,0.103425,0.087766,0.091908,0.071988,0.064234,0.043402,0.029789,1
4,4,4267,0.018992,0.005415,0.003166,0.003664,0.000018,0.008038,0.009157,0.026614,...,0.116167,0.106692,0.115927,0.087159,0.095283,0.077934,0.072392,0.049889,0.031746,1

In [3]:
y = data.iloc[:,26] #h/w
x = data.iloc[:,2:26] #sms, calls, internet
#y = data.iloc[:,170] #h/w
#x = data.iloc[:,2:170] #sms, calls, internet
#y = aux.iloc[:,26] #h/w
#x = data.iloc[:,2:1490] #sms, calls, internet

In [4]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [5]:
#print(scores1.mean(dtype=np.float64))
#print(scores2)
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(dtype=np.float64), scores2.std(dtype=np.float64)))
print(scores2)

5 fold: 0.75 accuracy with a standard deviation of 0.04
10 fold: 0.770000 accuracy with a standard deviation of 0.072284
[0.875 0.8   0.825 0.65  0.725 0.825 0.675 0.75  0.85  0.725]

In [6]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [7]:
data = pd.read_csv("./classif/20x20/classif20x20_smsout.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_smsout.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_smsout.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20mon_smsout.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20week_smsout.csv")
#data = pd.read_csv("./results/tn/classif20x20month_smsout.csv")
#data = pd.read_csv("./results/mi/classif20x20month_smsout.csv")

data.head()
#20x20 grid, monday(4/11) - smsout / friday(8/11)

,Unnamed: 0,cellid,smsout0,smsout1,smsout2,smsout3,smsout4,smsout5,smsout6,smsout7,...,smsout15,smsout16,smsout17,smsout18,smsout19,smsout20,smsout21,smsout22,smsout23,hw
0,0,4263,0.009751,0.006800,0.005113,0.014049,0.006806,0.005451,0.005612,0.013510,...,0.037353,0.053322,0.046701,0.051924,0.042762,0.040532,0.048693,0.039402,0.025366,1
1,1,4264,0.006038,0.002832,0.002026,0.005664,0.003557,0.001634,0.002795,0.024919,...,0.041203,0.050612,0.042290,0.034458,0.056526,0.031665,0.036209,0.031462,0.024711,1
2,2,4265,0.007337,0.003181,0.000777,0.002362,0.004649,0.001863,0.003239,0.036933,...,0.042659,0.055244,0.060379,0.046733,0.055569,0.026346,0.036392,0.017970,0.025600,1
3,3,4266,0.009393,0.007074,0.002452,0.002036,0.005535,0.002330,0.004559,0.028025,...,0.055787,0.055938,0.048148,0.056869,0.041238,0.036593,0.032449,0.036081,0.026305,1
4,4,4267,0.009939,0.008838,0.003291,0.001665,0.005174,0.001973,0.004831,0.025752,...,0.060719,0.058961,0.039087,0.054881,0.035808,0.041043,0.029077,0.046119,0.025520,1

In [8]:
y = data.iloc[:,26] #h/w
x = data.iloc[:,2:26] #sms, calls, internet
#y = data.iloc[:,170] #h/w
#x = data.iloc[:,2:170] #sms, calls, internet
#y = aux.iloc[:,26] #h/w
#x = data.iloc[:,2:1490] #sms, calls, internet

In [9]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [10]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(), scores2.std()))
print(scores2)

5 fold: 0.74 accuracy with a standard deviation of 0.03
10 fold: 0.747500 accuracy with a standard deviation of 0.045346
[0.675 0.8   0.75  0.725 0.75  0.8   0.725 0.7   0.825 0.725]

In [11]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [12]:
data = pd.read_csv("./classif/20x20/classif20x20_callin.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_callin.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_callin.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20mon_callin.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20week_callin.csv")
#data = pd.read_csv("./results/tn/classif20x20month_callin.csv")
#data = pd.read_csv("./results/mi/classif20x20month_callin.csv")

data.head()
#20x20 grid, monday(4/11) - callin / friday(8/11)

,Unnamed: 0,cellid,callin0,callin1,callin2,callin3,callin4,callin5,callin6,callin7,...,callin15,callin16,callin17,callin18,callin19,callin20,callin21,callin22,callin23,hw
0,0,4263,0.003209,0.001545,0.000417,0.000284,0.000700,0.000710,0.003382,0.023425,...,0.116369,0.140098,0.132950,0.128387,0.103925,0.072115,0.044836,0.029770,0.013369,1
1,1,4264,0.003398,0.002786,0.000739,0.000227,0.000966,0.002189,0.002330,0.016962,...,0.119491,0.145291,0.121666,0.104576,0.103372,0.070188,0.044142,0.024829,0.016443,1
2,2,4265,0.000740,0.002572,0.001114,0.001238,0.001243,0.003415,0.004584,0.024717,...,0.150060,0.179295,0.158653,0.152230,0.121093,0.074471,0.054178,0.022475,0.024309,1
3,3,4266,0.005319,0.010231,0.001484,0.001378,0.001915,0.003418,0.008355,0.039948,...,0.216925,0.227335,0.235899,0.225111,0.167004,0.107740,0.093393,0.038074,0.027482,1
4,4,4267,0.007527,0.014459,0.001550,0.001116,0.002128,0.003633,0.010284,0.047079,...,0.242964,0.241224,0.262601,0.250791,0.185231,0.121099,0.108062,0.043556,0.028049,1

In [13]:
y = data.iloc[:,26] #h/w
x = data.iloc[:,2:26] #sms, calls, internet
#y = data.iloc[:,170] #h/w
#x = data.iloc[:,2:170] #sms, calls, internet
#y = aux.iloc[:,26] #h/w
#x = data.iloc[:,2:1490] #sms, calls, internet

In [14]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [15]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(dtype=np.float64), scores2.std(dtype=np.float64)))
print(scores2)

5 fold: 0.75 accuracy with a standard deviation of 0.05
10 fold: 0.747500 accuracy with a standard deviation of 0.068420
[0.775 0.8   0.85  0.65  0.8   0.725 0.625 0.7   0.8   0.75 ]

In [16]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [17]:
data2 = pd.read_csv("./classif/20x20/classif20x20_callout.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_callout.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_callout.csv")
#data2 = pd.read_csv("./classif/20x20/tn/classif20x20mon_callout.csv")
#data2 = pd.read_csv("./classif/20x20/tn/classif20x20week_callout.csv")
#data2 = pd.read_csv("./results/tn/classif20x20month_callout.csv")
#data2 = pd.read_csv("./results/mi/classif20x20month_callout.csv")

data2.head()
#20x20 grid, monday(4/11) - callout / friday(8/11)

,Unnamed: 0,cellid,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,...,callout15,callout16,callout17,callout18,callout19,callout20,callout21,callout22,callout23,hw
0,0,4263,0.005281,0.002557,0.001438,0.002816,0.001556,0.001273,0.004726,0.021973,...,0.107267,0.132182,0.132036,0.127535,0.104912,0.072869,0.052778,0.038750,0.016678,1
1,1,4264,0.021773,0.084978,0.108642,0.191343,0.103014,0.099160,0.048532,0.021052,...,0.130090,0.132422,0.132464,0.120428,0.096361,0.073186,0.041560,0.035831,0.009791,1
2,2,4265,0.038484,0.119602,0.149443,0.260102,0.162814,0.144088,0.064830,0.028733,...,0.173280,0.167852,0.146568,0.171819,0.134474,0.082704,0.058255,0.030541,0.013574,1
3,3,4266,0.022196,0.045539,0.057711,0.111502,0.057429,0.048626,0.021323,0.035923,...,0.202240,0.192823,0.221391,0.206073,0.177235,0.105604,0.084106,0.045161,0.021190,1
4,4,4267,0.014653,0.021617,0.029123,0.068538,0.019321,0.014466,0.006824,0.036441,...,0.210401,0.193601,0.250913,0.209207,0.187339,0.110822,0.091828,0.050874,0.023142,1

In [18]:
y = data2.iloc[:,26] #h/w
x = data2.iloc[:,2:26] #sms, calls, internet
#y = data2.iloc[:,170] #h/w
#x = data2.iloc[:,2:170] #sms, calls, internet
#y = aux.iloc[:,26] #h/w
#x = data2.iloc[:,2:1490] #sms, calls, internet

In [19]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [20]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(dtype=np.float64), scores2.std(dtype=np.float64)))
print(scores2)

5 fold: 0.78 accuracy with a standard deviation of 0.05
10 fold: 0.785000 accuracy with a standard deviation of 0.072629
[0.775 0.875 0.825 0.725 0.825 0.775 0.6   0.825 0.825 0.8  ]

In [21]:
y_predt = cross_val_predict(knn, x, y, cv=10) #10

In [22]:
data = pd.read_csv("./classif/20x20/classif20x20_internet.csv")
#data = pd.read_csv("./classif/20x20/classif20x20frid_internet.csv")
#data = pd.read_csv("./classif/20x20/classif20x20monminute_internet.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20mon_internet.csv")
#data = pd.read_csv("./classif/20x20/tn/classif20x20week_internet.csv")
#data = pd.read_csv("./results/tn/classif20x20month_internet.csv")
#data = pd.read_csv("./results/mi/classif20x20month_internet.csv")

data.head()
#20x20 grid, monday(4/11) - internet / friday(8/11)

,Unnamed: 0,cellid,internet0,internet1,internet2,internet3,internet4,internet5,internet6,internet7,...,internet15,internet16,internet17,internet18,internet19,internet20,internet21,internet22,internet23,hw
0,0,4263,0.074300,0.059166,0.053424,0.048819,0.047018,0.044059,0.046246,0.073615,...,0.128650,0.136024,0.138943,0.134237,0.136493,0.139773,0.146292,0.132549,0.106576,1
1,1,4264,0.089089,0.068954,0.066140,0.059824,0.055384,0.050352,0.056342,0.093666,...,0.172142,0.167783,0.174091,0.175155,0.200057,0.178465,0.162734,0.167535,0.125321,1
2,2,4265,0.080261,0.073442,0.056137,0.053285,0.050358,0.050152,0.058573,0.109219,...,0.181374,0.183085,0.206118,0.221826,0.229431,0.227232,0.151463,0.137395,0.094892,1
3,3,4266,0.089462,0.067409,0.060929,0.057166,0.054760,0.055643,0.062552,0.090666,...,0.149069,0.144353,0.157630,0.163218,0.161731,0.200223,0.187039,0.115369,0.096089,1
4,4,4267,0.079864,0.055086,0.057878,0.054594,0.053282,0.054235,0.058936,0.067487,...,0.111191,0.100989,0.108535,0.107461,0.101447,0.154165,0.178126,0.089027,0.082692,1

In [23]:
y = data.iloc[:,26] #h/w
x = data.iloc[:,2:26] #sms, calls, internet
#y = data.iloc[:,170] #h/w
#x = data.iloc[:,2:170] #sms, calls, internet
#y = aux.iloc[:,26] #h/w
#x = data.iloc[:,2:1490] #sms, calls, internet

In [24]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)
print(np.std(scores2))

0.06169481339626533

In [25]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(dtype=np.float64), scores2.std(dtype=np.float64)))
print(scores2)

5 fold: 0.70 accuracy with a standard deviation of 0.08
10 fold: 0.727500 accuracy with a standard deviation of 0.061695
[0.85  0.725 0.7   0.675 0.7   0.775 0.65  0.65  0.775 0.775]

In [26]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [27]:
#predicted = pd.DataFrame(np.transpose(y_predt),columns=['predicted'])
#predicted['cellid']=data2.cellid
#predicted.append(np.transpose(y_predt))
#predicted.head()

In [28]:
#predicted.to_csv('./csv/predicted_co_m20.csv')

In [29]:
#data2 = pd.read_csv("./classif/20x20/classif20x20_callout.csv")
#y = data2.iloc[:,170] #h/w
#x = data2.iloc[:,2:170] #sms, calls, internet
y = aux.iloc[:,26] #h/w
x = data2.iloc[:,2:1490] #sms, calls, internet

NameError: name 'aux' is not defined

In [ ]:
#model = KMeans(n_clusters=2) #5
#model = AgglomerativeClustering(n_clusters=5)
#yhat=model.fit_predict(x)
knn = KNeighborsClassifier(n_neighbors=10)
y_predt = cross_val_predict(knn, x, y, cv=10) #10

In [ ]:
predicted = pd.DataFrame(np.transpose(y_predt),columns=['predicted'])
predicted['cellid'] = data.cellid
predicted.head()

In [ ]:
#predicted.to_csv('./csv/predict_20x20_mo_mi.csv')