In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score, cross_val_predict

In [2]:
data = pd.read_csv("./classif/classif10by10wd_smsin.csv")
data.head()
#10x10 grid, monday(4/11) - smsin

,cellid,smsin0,smsin1,smsin2,smsin3,smsin4,smsin5,smsin6,smsin7,smsin8,...,smsin15,smsin16,smsin17,smsin18,smsin19,smsin20,smsin21,smsin22,smsin23,h/w
0,4273,0.005584,0.000391,0.000513,0.001097,0.002701,0.005946,0.007651,0.012549,0.023348,...,0.019464,0.026643,0.024736,0.026746,0.024625,0.015241,0.012890,0.014201,0.006438,1
1,4274,0.002218,0.000460,0.001259,0.001975,0.005807,0.012066,0.014563,0.019119,0.030953,...,0.012641,0.012573,0.012140,0.013661,0.009380,0.006141,0.006636,0.004310,0.003374,0
2,4275,0.002363,0.000593,0.001214,0.001750,0.003546,0.006836,0.009214,0.016031,0.028660,...,0.016925,0.016291,0.016425,0.017088,0.013490,0.008460,0.008711,0.004840,0.004083,0
3,4276,0.003219,0.001460,0.001639,0.000282,0.001163,0.002257,0.003623,0.011392,0.020865,...,0.022694,0.020044,0.017149,0.014155,0.017018,0.014785,0.012027,0.008719,0.007168,1
4,4277,0.004383,0.001985,0.002091,0.000217,0.001522,0.002387,0.004602,0.014277,0.022881,...,0.027240,0.023768,0.017079,0.014528,0.018662,0.018263,0.014773,0.010950,0.008251,1

In [3]:
y = data.iloc[:,25] #h/w
x = data.iloc[:,1:25] #sms, calls, internet

In [6]:

#X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=39) #30% test
#Results are very dependant on the split (acc varies greatly - 30-66%)

knn = KNeighborsClassifier(n_neighbors=5)
#Train the model using the training sets
#knn.fit(X_train, y_train)

#Predict the response for test dataset
#y_pred = knn.predict(X_test)

# Model Accuracy, how often is the classifier correct?
#print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [7]:
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [8]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.55 accuracy with a standard deviation of 0.08
10 fold: 0.56 accuracy with a standard deviation of 0.14

In [9]:
y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [10]:
#y_predt

array([1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1])

In [12]:
###################################################################################################################

In [13]:
data = pd.read_csv("./classif/classif10by10wd_smsout.csv")
data.head()
#10x10 grid, monday(4/11) - smsout

,cellid,smsout0,smsout1,smsout2,smsout3,smsout4,smsout5,smsout6,smsout7,smsout8,...,smsout15,smsout16,smsout17,smsout18,smsout19,smsout20,smsout21,smsout22,smsout23,h/w
0,4273,0.003278,0.000206,0.000343,0.000075,0.000727,0.001422,0.002377,0.005601,0.007134,...,0.005643,0.016387,0.009798,0.014838,0.010681,0.009931,0.013550,0.013482,0.005163,1
1,4274,0.001507,0.000228,0.000966,0.000379,0.002086,0.002713,0.005756,0.005374,0.009883,...,0.006542,0.006143,0.006302,0.010342,0.004895,0.003218,0.003445,0.002933,0.002027,0
2,4275,0.001791,0.000407,0.000949,0.000426,0.001864,0.002225,0.005348,0.007402,0.011953,...,0.008863,0.008094,0.008979,0.012102,0.006845,0.004750,0.004266,0.002812,0.002963,0
3,4276,0.001615,0.000212,0.000641,0.000130,0.000340,0.001321,0.003280,0.007447,0.009737,...,0.014570,0.010473,0.007457,0.007703,0.010803,0.012849,0.013002,0.009449,0.007839,1
4,4277,0.001788,0.000126,0.000768,0.000126,0.000252,0.001524,0.003792,0.007608,0.009774,...,0.016488,0.011412,0.006864,0.007506,0.011401,0.014269,0.014935,0.011287,0.009192,1

In [14]:
y = data.iloc[:,25] #h/w
x = data.iloc[:,1:25] #sms, calls, internet

In [15]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [16]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.57 accuracy with a standard deviation of 0.13
10 fold: 0.52 accuracy with a standard deviation of 0.19

In [17]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [18]:
data = pd.read_csv("./classif/classif10by10wd_callin.csv")
data.head()
#10x10 grid, monday(4/11) - callin

,cellid,callin0,callin1,callin2,callin3,callin4,callin5,callin6,callin7,callin8,...,callin15,callin16,callin17,callin18,callin19,callin20,callin21,callin22,callin23,h/w
0,4273,0.001879,0.000139,0.000489,0.001799,0.013984,0.021081,0.024432,0.030740,0.048505,...,0.040393,0.054577,0.068891,0.070452,0.042570,0.011577,0.010927,0.007256,0.002580,1
1,4274,0.002059,0.000219,0.001667,0.003693,0.029563,0.044191,0.047199,0.072257,0.076936,...,0.027879,0.026995,0.027965,0.034611,0.016440,0.006215,0.007272,0.003181,0.002593,0
2,4275,0.002338,0.000342,0.001867,0.002908,0.020894,0.032085,0.034032,0.062104,0.067027,...,0.033770,0.033788,0.035083,0.043159,0.022098,0.011631,0.009969,0.005360,0.003314,0
3,4276,0.002551,0.000948,0.001216,0.001059,0.003466,0.007925,0.012526,0.022486,0.031675,...,0.038998,0.028970,0.030521,0.031872,0.022610,0.014920,0.011131,0.005270,0.003639,1
4,4277,0.003189,0.001299,0.001062,0.001037,0.003889,0.009098,0.015426,0.024411,0.034624,...,0.042883,0.030345,0.030175,0.030409,0.022870,0.014802,0.012213,0.004666,0.004148,1

In [19]:
y = data.iloc[:,25] #h/w
x = data.iloc[:,1:25] #sms, calls, internet

In [20]:
knn = KNeighborsClassifier(n_neighbors=7)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [21]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.64 accuracy with a standard deviation of 0.15
10 fold: 0.60 accuracy with a standard deviation of 0.19

In [22]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [23]:
data = pd.read_csv("./classif/classif10by10wd_callout.csv")
data.head()
#10x10 grid, monday(4/11) - callout

,cellid,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,callout8,...,callout15,callout16,callout17,callout18,callout19,callout20,callout21,callout22,callout23,h/w
0,4273,0.001964,0.000263,0.001715,0.002201,0.010445,0.020641,0.020980,0.027792,0.040366,...,0.046976,0.049059,0.062976,0.062332,0.038147,0.016185,0.012298,0.007322,0.002817,1
1,4274,0.001082,0.000540,0.002302,0.004581,0.020726,0.040664,0.038743,0.047050,0.062231,...,0.023884,0.022386,0.025193,0.032011,0.017364,0.010596,0.007182,0.004842,0.004261,0
2,4275,0.001364,0.000746,0.002066,0.004213,0.014606,0.027420,0.028970,0.037862,0.056390,...,0.031166,0.028820,0.034344,0.039928,0.024396,0.014374,0.010625,0.006672,0.005157,0
3,4276,0.003932,0.001258,0.001350,0.001926,0.002570,0.006734,0.008280,0.017163,0.027202,...,0.037922,0.035879,0.044751,0.042086,0.032867,0.025176,0.020600,0.010295,0.007372,1
4,4277,0.005044,0.001407,0.001363,0.001861,0.002726,0.007746,0.006837,0.018724,0.029422,...,0.041042,0.039664,0.047963,0.045355,0.035154,0.029062,0.023845,0.012017,0.008629,1

In [24]:
y = data.iloc[:,25] #h/w
x = data.iloc[:,1:25] #sms, calls, internet

In [25]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [26]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.63 accuracy with a standard deviation of 0.09
10 fold: 0.69 accuracy with a standard deviation of 0.10

In [27]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [28]:
data = pd.read_csv("./classif/classif10by10wd_int.csv")
data.head()
#10x10 grid, monday(4/11) - internet

,cellid,internet0,internet1,internet2,internet3,internet4,internet5,internet6,internet7,internet8,...,internet15,internet16,internet17,internet18,internet19,internet20,internet21,internet22,internet23,h/w
0,4273,0.033589,0.030605,0.027940,0.024973,0.026423,0.026089,0.032355,0.043600,0.057732,...,0.099946,0.112589,0.118604,0.133728,0.132110,0.080436,0.074496,0.046850,0.044416,1
1,4274,0.022734,0.022926,0.015246,0.016408,0.018654,0.022368,0.034145,0.053961,0.077498,...,0.052610,0.062153,0.105503,0.094160,0.066567,0.043916,0.032385,0.033814,0.022661,0
2,4275,0.026903,0.026439,0.018754,0.019425,0.021311,0.025466,0.037486,0.058253,0.084101,...,0.054696,0.062976,0.108237,0.095789,0.066730,0.047212,0.034506,0.037571,0.025596,0
3,4276,0.027934,0.030236,0.026245,0.026580,0.027692,0.026780,0.028459,0.037387,0.039838,...,0.036668,0.041275,0.042290,0.044859,0.044503,0.040707,0.039394,0.049294,0.045721,1
4,4277,0.029658,0.033166,0.028195,0.029235,0.030372,0.029041,0.030259,0.039524,0.039504,...,0.037369,0.043603,0.042563,0.046130,0.047037,0.043239,0.043467,0.055448,0.051774,1

In [29]:
y = data.iloc[:,25] #h/w
x = data.iloc[:,1:25] #sms, calls, internet

In [30]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [31]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.53 accuracy with a standard deviation of 0.09
10 fold: 0.58 accuracy with a standard deviation of 0.15

In [32]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10