In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score

In [2]:
data = pd.read_csv("./classif/classif10by10wd_sl.csv")
data.head()
#10x10 grid, monday(4/11)

   hour  cellid     smsin    smsout    callin   callout  internet  h/w
0    96    4273  0.005584  0.003278  0.001879  0.001964  0.033589    1
1    96    4274  0.002218  0.001507  0.002059  0.001082  0.022734    0
2    96    4275  0.002363  0.001791  0.002338  0.001364  0.026903    0
3    96    4276  0.003219  0.001615  0.002551  0.003932  0.027934    1
4    96    4277  0.004383  0.001788  0.003189  0.005044  0.029658    1

In [3]:
y = data.iloc[:,7] #h/w
x = data.iloc[:,2:7] #sms, calls, internet

In [4]:
y

0       1
1       0
2       0
3       1
4       1
       ..
2495    0
2496    1
2497    1
2498    1
2499    1
Name: h/w, Length: 2500, dtype: int64

In [5]:
x

         smsin    smsout    callin   callout  internet
0     0.005584  0.003278  0.001879  0.001964  0.033589
1     0.002218  0.001507  0.002059  0.001082  0.022734
2     0.002363  0.001791  0.002338  0.001364  0.026903
3     0.003219  0.001615  0.002551  0.003932  0.027934
4     0.004383  0.001788  0.003189  0.005044  0.029658
...        ...       ...       ...       ...       ...
2495  0.000691  0.001300  0.001757  0.002150  0.024502
2496  0.001241  0.001627  0.001657  0.002502  0.023365
2497  0.002434  0.002186  0.001457  0.002214  0.021888
2498  0.001971  0.001862  0.001251  0.002025  0.019031
2499  0.000185  0.000588  0.000524  0.000412  0.005053

[2500 rows x 5 columns]

In [6]:
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(x,y)

KNeighborsClassifier(n_neighbors=3)

In [7]:
neigh.predict(x)

array([1, 0, 1, ..., 1, 1, 1])

In [8]:
y

0       1
1       0
2       0
3       1
4       1
       ..
2495    0
2496    1
2497    1
2498    1
2499    1
Name: h/w, Length: 2500, dtype: int64

In [9]:
neigh.score(x,y)

0.8052

In [10]:
###################################################################################################################

In [11]:

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=39) #30% test
#Results are very dependant on the split (acc varies greatly - 30-66%)

In [52]:
knn = KNeighborsClassifier(n_neighbors=7)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)

In [53]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6426666666666667

In [54]:
scores = cross_val_score(knn, x, y, cv=10)

In [55]:
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

0.66 accuracy with a standard deviation of 0.02