In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score, cross_val_predict

In [2]:
data = pd.read_csv("./classif/randomgrid/classif-randomgrid_smsin.csv")
#data = pd.read_csv("./classif/randomgrid/classif-randomgridmonminute_smsin.csv")
data.head()
#random grid, monday(4/11) - smsin

,Unnamed: 0,cellid,smsin0,smsin1,smsin2,smsin3,smsin4,smsin5,smsin6,smsin7,...,smsin15,smsin16,smsin17,smsin18,smsin19,smsin20,smsin21,smsin22,smsin23,h/w
0,0,5056,0.012905,0.004847,0.006473,0.001380,0.008790,0.010120,0.011286,0.065885,...,0.528910,0.560419,0.481443,0.286807,0.222182,0.121955,0.097356,0.157059,0.091153,1
1,1,5065,0.016709,0.017228,0.011219,0.002022,0.011925,0.006682,0.009425,0.035053,...,0.329022,0.303744,0.279421,0.238697,0.238572,0.151491,0.121676,0.105251,0.090459,1
2,2,5076,0.004615,0.000681,0.000703,0.000135,0.000024,0.000819,0.001088,0.005420,...,0.024526,0.028184,0.027365,0.020088,0.020311,0.013294,0.010629,0.009984,0.006140,1
3,3,5085,0.000571,0.000243,0.003036,0.000364,0.001219,0.000607,0.000814,0.004574,...,0.011231,0.009624,0.010245,0.007864,0.009354,0.006731,0.006696,0.005351,0.001605,1
4,4,5093,0.000607,0.000261,0.000000,0.000000,0.000263,0.000261,0.000000,0.000494,...,0.004351,0.002203,0.005463,0.004187,0.001422,0.001169,0.000870,0.001274,0.000840,1

In [3]:
y = data.iloc[:,26] #h/w
x = data.iloc[:,2:26] #sms, calls, internet
#y = data.iloc[:,146] #h/w
#x = data.iloc[:,2:146] #sms, calls, internet

In [4]:
knn = KNeighborsClassifier(n_neighbors=5)

In [5]:
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [6]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(), scores2.std()))

5 fold: 0.70 accuracy with a standard deviation of 0.08
10 fold: 0.725000 accuracy with a standard deviation of 0.092784

In [7]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [8]:
data = pd.read_csv("./classif/randomgrid/classif-randomgrid_smsout.csv")
#data = pd.read_csv("./classif/randomgrid/classif-randomgridmonminute_smsout.csv")
data.head()
#random grid, monday(4/11) - smsout

,Unnamed: 0,cellid,smsout0,smsout1,smsout2,smsout3,smsout4,smsout5,smsout6,smsout7,...,smsout15,smsout16,smsout17,smsout18,smsout19,smsout20,smsout21,smsout22,smsout23,h/w
0,0,5056,0.101734,0.071043,0.064414,0.059165,0.056025,0.065650,0.061833,0.117566,...,0.441822,0.494291,0.434274,0.274504,0.188786,0.177096,0.186352,0.201636,0.119596,1
1,1,5065,0.021726,0.029023,0.018900,0.008611,0.006542,0.010560,0.016914,0.050542,...,0.203182,0.192141,0.180563,0.158707,0.164002,0.115894,0.075488,0.108218,0.092071,1
2,2,5076,0.006605,0.001544,0.000899,0.000404,0.001280,0.000433,0.002126,0.004368,...,0.009515,0.009872,0.011411,0.012585,0.012618,0.011795,0.011541,0.006177,0.004137,1
3,3,5085,0.000635,0.000312,0.003905,0.001250,0.002031,0.000000,0.000472,0.003156,...,0.008668,0.008615,0.006793,0.003129,0.004515,0.003128,0.002197,0.004415,0.002657,1
4,4,5093,0.000116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000260,...,0.002758,0.001562,0.003652,0.000895,0.000521,0.000897,0.001601,0.001601,0.000820,1

In [9]:
y = data.iloc[:,26] #h/w
x = data.iloc[:,2:26] #sms, calls, internet
#y = data.iloc[:,146] #h/w
#x = data.iloc[:,2:146] #sms, calls, internet

In [10]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [11]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(), scores2.std()))

5 fold: 0.71 accuracy with a standard deviation of 0.08
10 fold: 0.702333 accuracy with a standard deviation of 0.107681

In [12]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [13]:
data = pd.read_csv("./classif/randomgrid/classif-randomgrid_callin.csv")
#data = pd.read_csv("./classif/randomgrid/classif-randomgridmonminute_callin.csv")
data.head()
#random grid, monday(4/11) - callin

,Unnamed: 0,cellid,callin0,callin1,callin2,callin3,callin4,callin5,callin6,callin7,...,callin15,callin16,callin17,callin18,callin19,callin20,callin21,callin22,callin23,h/w
0,0,5056,0.008915,0.006892,0.003664,0.000398,0.004511,0.004170,0.015551,0.056063,...,0.366821,0.380965,0.390963,0.331535,0.231148,0.155723,0.079189,0.062049,0.038312,1
1,1,5065,0.000592,0.002209,0.001151,0.000000,0.001722,0.004968,0.002596,0.030116,...,0.278141,0.333937,0.309786,0.277328,0.178628,0.096256,0.052968,0.037909,0.027387,1
2,2,5076,0.000160,0.000128,0.000454,0.000032,0.000519,0.000454,0.000486,0.006036,...,0.029381,0.028727,0.035036,0.026914,0.016167,0.013082,0.014358,0.006662,0.003770,1
3,3,5085,0.000012,0.000174,0.001245,0.000000,0.000174,0.000532,0.002501,0.003975,...,0.016363,0.017654,0.015130,0.013464,0.011899,0.005363,0.004235,0.003333,0.002527,1
4,4,5093,0.000043,0.000000,0.000043,0.000000,0.000000,0.000000,0.000043,0.001081,...,0.002656,0.003317,0.004187,0.002740,0.002152,0.001949,0.001411,0.000373,0.000000,1

In [14]:
y = data.iloc[:,26] #h/w
x = data.iloc[:,2:26] #sms, calls, internet
#y = data.iloc[:,146] #h/w
#x = data.iloc[:,2:146] #sms, calls, internet

In [15]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [16]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(), scores2.std()))

5 fold: 0.69 accuracy with a standard deviation of 0.04
10 fold: 0.701333 accuracy with a standard deviation of 0.042984

In [17]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [18]:
data = pd.read_csv("./classif/randomgrid/classif-randomgrid_callout.csv")
#data = pd.read_csv("./classif/randomgrid/classif-randomgridmonminute_callout.csv")
data.head()
#random grid, monday(4/11) - callout

,Unnamed: 0,cellid,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,...,callout15,callout16,callout17,callout18,callout19,callout20,callout21,callout22,callout23,h/w
0,0,5056,0.012528,0.007939,0.004110,0.000000,0.000118,0.000098,0.016840,0.068195,...,0.466813,0.501147,0.482958,0.381651,0.273163,0.151555,0.091687,0.079167,0.039267,1
1,1,5065,0.014337,0.003911,0.000316,0.000230,0.003120,0.005886,0.012025,0.046758,...,0.421607,0.439591,0.438610,0.382252,0.295663,0.177942,0.101955,0.069181,0.046958,1
2,2,5076,0.004822,0.000274,0.000605,0.000035,0.000034,0.000205,0.003102,0.021717,...,0.088966,0.077860,0.093496,0.089158,0.068394,0.041486,0.044388,0.017433,0.009413,1
3,3,5085,0.000688,0.000557,0.000186,0.000371,0.000743,0.000189,0.000375,0.005778,...,0.024382,0.017414,0.018531,0.017545,0.018060,0.009298,0.005990,0.003484,0.002200,1
4,4,5093,0.000000,0.000399,0.000000,0.000000,0.000000,0.000000,0.000000,0.001154,...,0.003721,0.002885,0.002967,0.003987,0.003059,0.001512,0.001330,0.000711,0.000309,1

In [19]:
y = data.iloc[:,26] #h/w
x = data.iloc[:,2:26] #sms, calls, internet
#y = data.iloc[:,146] #h/w
#x = data.iloc[:,2:146] #sms, calls, internet

In [20]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [21]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(), scores2.std()))

5 fold: 0.69 accuracy with a standard deviation of 0.08
10 fold: 0.693500 accuracy with a standard deviation of 0.054866

In [22]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [23]:
data = pd.read_csv("./classif/randomgrid/classif-randomgrid_internet.csv")
#data = pd.read_csv("./classif/randomgrid/classif-randomgridmonminute_internet.csv")
data.head()
#random grid, monday(4/11) - internet

,Unnamed: 0,cellid,internet0,internet1,internet2,internet3,internet4,internet5,internet6,internet7,...,internet15,internet16,internet17,internet18,internet19,internet20,internet21,internet22,internet23,h/w
0,0,5056,0.116521,0.096527,0.088251,0.070987,0.068002,0.065610,0.083452,0.144777,...,0.800953,0.679304,0.526233,0.414240,0.290151,0.246558,0.211019,0.231871,0.213865,1
1,1,5065,0.060212,0.053242,0.044039,0.040070,0.036783,0.040466,0.043259,0.079954,...,0.232074,0.246425,0.232322,0.212556,0.178544,0.148555,0.115304,0.108076,0.083006,1
2,2,5076,0.008226,0.007770,0.008021,0.007975,0.008038,0.008747,0.011152,0.015556,...,0.019078,0.018032,0.021868,0.024640,0.021225,0.017488,0.016274,0.014464,0.013722,1
3,3,5085,0.005787,0.003060,0.002472,0.004650,0.001909,0.003532,0.007394,0.006785,...,0.010955,0.013852,0.015253,0.012615,0.011506,0.011688,0.011635,0.009177,0.004472,1
4,4,5093,0.000945,0.000096,0.000179,0.000217,0.000306,0.000225,0.000812,0.000167,...,0.002125,0.002044,0.001520,0.001682,0.001539,0.001240,0.001126,0.000266,0.000299,1

In [24]:
y = data.iloc[:,26] #h/w
x = data.iloc[:,2:26] #sms, calls, internet
#y = data.iloc[:,146] #h/w
#x = data.iloc[:,2:146] #sms, calls, internet

In [25]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [26]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(), scores2.std()))

5 fold: 0.70 accuracy with a standard deviation of 0.02
10 fold: 0.677833 accuracy with a standard deviation of 0.065158

In [27]:
#y_predt = cross_val_predict(knn, x, y, cv=5) #10

In [28]:
#predicted = pd.DataFrame(np.transpose(y_pred),columns=['predicted'])
#predicted['cellid']=data.cellid
#predicted.append(np.transpose(y_pred))
#predicted.head()