In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score

In [2]:
data = pd.read_csv("./classif/classif10by10_sl.csv")
data.head()
#10x10 grid, monday(4/11) at 9AM

   cellid     smsin    smsout    callin   callout  internet  h/w  work
0    4273  0.021306  0.010909  0.050081  0.039395  0.047753    1     1
1    4274  0.023500  0.005772  0.078023  0.056628  0.069148    0     1
2    4275  0.023940  0.008040  0.072594  0.054941  0.074591    0     1
3    4276  0.022667  0.012025  0.044343  0.040470  0.035731    1     0
4    4277  0.025680  0.012673  0.049571  0.044635  0.036365    1     0

In [3]:
y = data.iloc[:,6] #h/w
x = data.iloc[:,1:6] #sms, calls, internet

In [4]:
#y
#x

In [5]:
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(x,y)

KNeighborsClassifier(n_neighbors=3)

In [6]:
neigh.predict(x)
#y

array([1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1])

In [7]:
neigh.score(x,y)

0.81

In [8]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=39) #30% test
#Results are very dependant on the split (acc varies greatly - 30-66%)

In [9]:
knn = KNeighborsClassifier(n_neighbors=5)

#Train the model using the training sets
knn.fit(X_train, y_train)
#Predict the response for test dataset
y_pred = knn.predict(X_test)

In [10]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6333333333333333

In [11]:
scores = cross_val_score(knn, x, y, cv=10) #cv=5

In [12]:
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

0.44 accuracy with a standard deviation of 0.20

In [13]:
###########################################################################################

In [14]:
data = pd.read_csv("./classif/classif10by10wd3_sl.csv")
data.head()

   hour  cellid     smsin    smsout    callin   callout  internet  h/w
0  99.0    4273  0.001097  0.000075  0.001799  0.002201  0.024973    1
1   NaN    4274  0.001975  0.000379  0.003693  0.004581  0.016408    0
2   NaN    4275  0.001750  0.000426  0.002908  0.004213  0.019425    0
3   NaN    4276  0.000282  0.000130  0.001059  0.001926  0.026580    1
4   NaN    4277  0.000217  0.000126  0.001037  0.001861  0.029235    1

In [15]:
y = data.iloc[:,7] #h/w
x = data.iloc[:,2:7] #sms, calls, internet

In [16]:
knn = KNeighborsClassifier(n_neighbors=7)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [17]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.57 accuracy with a standard deviation of 0.04
10 fold: 0.54 accuracy with a standard deviation of 0.12

In [18]:
data = pd.read_csv("./classif/classif10by10wd8_sl.csv")
data.head()

    hour  cellid     smsin    smsout    callin   callout  internet  h/w
0  104.0    4273  0.023348  0.007134  0.048505  0.040366  0.057732    1
1    NaN    4274  0.030953  0.009883  0.076936  0.062231  0.077498    0
2    NaN    4275  0.028660  0.011953  0.067027  0.056390  0.084101    0
3    NaN    4276  0.020865  0.009737  0.031675  0.027202  0.039838    1
4    NaN    4277  0.022881  0.009774  0.034624  0.029422  0.039504    1

In [19]:
y = data.iloc[:,7] #h/w
x = data.iloc[:,2:7] #sms, calls, internet

In [20]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [21]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.57 accuracy with a standard deviation of 0.14
10 fold: 0.65 accuracy with a standard deviation of 0.17

In [22]:
data = pd.read_csv("./classif/classif10by10wd11_sl.csv")
data.head()

    hour  cellid     smsin    smsout    callin   callout  internet  h/w
0  107.0    4273  0.019734  0.004527  0.038086  0.038559  0.043250    1
1    NaN    4274  0.024168  0.005658  0.057570  0.041039  0.054033    0
2    NaN    4275  0.026514  0.007270  0.062774  0.046896  0.057460    0
3    NaN    4276  0.022873  0.014045  0.051424  0.046067  0.043499    1
4    NaN    4277  0.026572  0.016338  0.055370  0.050819  0.047849    1

In [23]:
y = data.iloc[:,7] #h/w
x = data.iloc[:,2:7] #sms, calls, internet

In [24]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [25]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.56 accuracy with a standard deviation of 0.12
10 fold: 0.57 accuracy with a standard deviation of 0.16

In [26]:
data = pd.read_csv("./classif/classif10by10wd13_sl.csv")
data.head()

    hour  cellid     smsin    smsout    callin   callout  internet  h/w
0  109.0    4273  0.012804  0.006517  0.030278  0.023821  0.045077    1
1    NaN    4274  0.009308  0.006606  0.022448  0.019115  0.051300    0
2    NaN    4275  0.013255  0.008986  0.028493  0.027712  0.057081    0
3    NaN    4276  0.017730  0.015658  0.033130  0.033885  0.041708    1
4    NaN    4277  0.019829  0.017185  0.035578  0.035913  0.044208    1

In [27]:
y = data.iloc[:,7] #h/w
x = data.iloc[:,2:7] #sms, calls, internet

In [28]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [29]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.58 accuracy with a standard deviation of 0.10
10 fold: 0.57 accuracy with a standard deviation of 0.14

In [30]:
data = pd.read_csv("./classif/classif10by10wd18_sl.csv")
data.head()

    hour  cellid     smsin    smsout    callin   callout  internet  h/w
0  114.0    4273  0.026746  0.014838  0.070452  0.062332  0.133728    1
1    NaN    4274  0.013661  0.010342  0.034611  0.032011  0.094160    0
2    NaN    4275  0.017088  0.012102  0.043159  0.039928  0.095789    0
3    NaN    4276  0.014155  0.007703  0.031872  0.042086  0.044859    1
4    NaN    4277  0.014528  0.007506  0.030409  0.045355  0.046130    1

In [31]:
y = data.iloc[:,7] #h/w
x = data.iloc[:,2:7] #sms, calls, internet

In [32]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [33]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.58 accuracy with a standard deviation of 0.09
10 fold: 0.55 accuracy with a standard deviation of 0.16

In [34]:
data = pd.read_csv("./classif/classif10by10wd21_sl.csv")
data.head()

    hour  cellid     smsin    smsout    callin   callout  internet  h/w
0  117.0    4273  0.012890  0.013550  0.010927  0.012298  0.074496    1
1    NaN    4274  0.006636  0.003445  0.007272  0.007182  0.032385    0
2    NaN    4275  0.008711  0.004266  0.009969  0.010625  0.034506    0
3    NaN    4276  0.012027  0.013002  0.011131  0.020600  0.039394    1
4    NaN    4277  0.014773  0.014935  0.012213  0.023845  0.043467    1

In [35]:
y = data.iloc[:,7] #h/w
x = data.iloc[:,2:7] #sms, calls, internet

In [36]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [37]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.55 accuracy with a standard deviation of 0.17
10 fold: 0.60 accuracy with a standard deviation of 0.17