In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score

In [2]:
data = pd.read_csv("./classif/classif10by10_sl.csv")
data.head()
#10x10 grid, monday(4/11) at 9AM

   cellid     smsin    smsout    callin   callout  internet  h/w  work
0    4273  0.021306  0.010909  0.050081  0.039395  0.047753    1     1
1    4274  0.023500  0.005772  0.078023  0.056628  0.069148    0     1
2    4275  0.023940  0.008040  0.072594  0.054941  0.074591    0     1
3    4276  0.022667  0.012025  0.044343  0.040470  0.035731    1     0
4    4277  0.025680  0.012673  0.049571  0.044635  0.036365    1     0

In [3]:
y = data.iloc[:,6] #h/w
x = data.iloc[:,1:6] #sms, calls, internet

In [4]:
y

0     1
1     0
2     0
3     1
4     1
     ..
95    0
96    1
97    1
98    1
99    1
Name: h/w, Length: 100, dtype: int64

In [5]:
x

       smsin    smsout    callin   callout  internet
0   0.021306  0.010909  0.050081  0.039395  0.047753
1   0.023500  0.005772  0.078023  0.056628  0.069148
2   0.023940  0.008040  0.072594  0.054941  0.074591
3   0.022667  0.012025  0.044343  0.040470  0.035731
4   0.025680  0.012673  0.049571  0.044635  0.036365
..       ...       ...       ...       ...       ...
95  0.017287  0.005718  0.027698  0.030173  0.047017
96  0.017052  0.005174  0.031524  0.027501  0.057440
97  0.013710  0.003737  0.031111  0.024833  0.060762
98  0.011743  0.003213  0.026979  0.022696  0.054612
99  0.003781  0.001248  0.011029  0.010750  0.010023

[100 rows x 5 columns]

In [6]:
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(x,y)

KNeighborsClassifier(n_neighbors=3)

In [7]:
neigh.predict(x)

array([1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1])

In [8]:
y

0     1
1     0
2     0
3     1
4     1
     ..
95    0
96    1
97    1
98    1
99    1
Name: h/w, Length: 100, dtype: int64

In [9]:
neigh.score(x,y)

0.81

In [10]:
neigh.predict([[0.008619405057272208,0.0024919935479142626,0.030925500970920183,0.03034656303266649,0.030834031192772594
]])

array([0])

In [11]:
###################################################################################################################

In [12]:

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=39) #30% test
#Results are very dependant on the split (acc varies greatly - 30-66%)

In [13]:
knn = KNeighborsClassifier(n_neighbors=5)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)

In [14]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6333333333333333

In [15]:
scores = cross_val_score(knn, x, y, cv=5)

In [16]:
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

0.44 accuracy with a standard deviation of 0.15