In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
dfs = pd.DataFrame({})

for i in range(4,5):
    df = pd.read_csv('./trento/sms-call-internet-tn-2013-11-0{}.csv'.format(i), parse_dates=['time'])
    dfs = dfs.append(df)
#df = pd.read_csv('./trento/sms-call-internet-tn-2013-11-10.csv', parse_dates=['time'])
#dfs = dfs.append(df)
dfs = dfs.fillna(0)
del df

In [3]:
#Group by hours and aggregate values according to each cell/hour
dfgr = dfs[['cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['time', 'cellid'], as_index=False).sum()
dfgr['hour'] = dfgr.time.dt.hour+24*(dfgr.time.dt.day-4)
dfgg = dfgr[['hour', 'cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['hour', 'cellid'], as_index=False).sum()
#dfgg = dfgg.set_index(['hour']).sort_index()
del dfs
print(dfgg)

#Group by hours and aggregate values according to the hour
#dfgr = dfs[['cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['time', 'cellid'], as_index=False).sum()
#dfgr['hour'] = dfgr.time.dt.hour+24*(dfgr.time.dt.day-1)
#dfgg = dfgr[['hour', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['hour'], as_index=False).sum()
#dfgg = dfgg.set_index(['hour']).sort_index()
#print(dfgg)

        hour  cellid      smsin    smsout    callin   callout    internet
0          0      38   0.994946  1.038735  0.467851  0.105982   71.180305
1          0      39   1.258125  0.369114  0.141578  0.114836   64.393556
2          0      40   3.173657  1.505841  0.349958  0.060084   72.071691
3          0     154   1.544525  0.565670  0.000000  0.282835   63.078948
4          0     155   2.072674  0.380103  0.124315  0.176232   92.607967
...      ...     ...        ...       ...       ...       ...         ...
149922    23   11336   0.582625  0.065942  0.007932  0.254980    8.107042
149923    23   11337   1.338197  0.843510  0.048163  0.327895   31.863876
149924    23   11452  10.491873  9.638020  0.161229  0.945824  142.677752
149925    23   11453   2.887983  1.792666  0.163817  0.415590   55.075557
149926    23   11454   0.914625  0.709959  0.117429  0.248985   68.410963

[149927 rows x 7 columns]

In [4]:
dfgg = dfgg.set_index(['hour']).sort_index()
print(dfgg)

      cellid      smsin    smsout    callin   callout    internet
hour
0         38   0.994946  1.038735  0.467851  0.105982   71.180305
0         39   1.258125  0.369114  0.141578  0.114836   64.393556
0         40   3.173657  1.505841  0.349958  0.060084   72.071691
0        154   1.544525  0.565670  0.000000  0.282835   63.078948
0        155   2.072674  0.380103  0.124315  0.176232   92.607967
...      ...        ...       ...       ...       ...         ...
23     11336   0.582625  0.065942  0.007932  0.254980    8.107042
23     11337   1.338197  0.843510  0.048163  0.327895   31.863876
23     11452  10.491873  9.638020  0.161229  0.945824  142.677752
23     11453   2.887983  1.792666  0.163817  0.415590   55.075557
23     11454   0.914625  0.709959  0.117429  0.248985   68.410963

[149927 rows x 6 columns]

In [5]:
cells = dfgg.cellid
scaler=MinMaxScaler()
scaled = pd.DataFrame(scaler.fit_transform(dfgg), columns=dfgg.columns, index=dfgg.index)

In [6]:
dfgg=scaled
dfgg['cellid']=cells
print(dfgg)

      cellid     smsin    smsout    callin   callout  internet
hour
0         38  0.000308  0.000342  0.000397  0.000074  0.003807
0         39  0.000390  0.000121  0.000120  0.000081  0.003444
0         40  0.000983  0.000495  0.000297  0.000042  0.003855
0        154  0.000478  0.000186  0.000000  0.000198  0.003374
0        155  0.000642  0.000125  0.000106  0.000124  0.004953
...      ...       ...       ...       ...       ...       ...
23     11336  0.000180  0.000022  0.000007  0.000179  0.000434
23     11337  0.000415  0.000278  0.000041  0.000230  0.001704
23     11452  0.003250  0.003171  0.000137  0.000663  0.007631
23     11453  0.000895  0.000590  0.000139  0.000291  0.002946
23     11454  0.000283  0.000234  0.000100  0.000175  0.003659

[149927 rows x 6 columns]

In [7]:
#dfgg.to_csv('./csv/tntemp.csv')
dfgg = pd.read_csv('./csv/tntemp.csv')
dfgg = dfgg.set_index(['hour']).sort_index()
dfgg = dfgg.fillna(0)
#df_1 = dfgg.iloc[:800000,:] - used to fix missing data from cell 5239 in some hours (0 data so didn't appear on csv)
#df_2 = dfgg.iloc[800000:,:]
#df_1 = pd.read_csv('./csv/temp1.csv')
#dfgg = df_1
#dfgg = dfgg.set_index(['hour']).sort_index()
#dfgg=dfgg.append(df_2)
#dfgg.head()

In [8]:
#print(dfgg)

In [9]:
dfsi = [] #data from df without indexing
dfsi2 = pd.DataFrame({}) #new df to save
dfso = []
dfso2 = pd.DataFrame({})
dfci = []
dfci2 = pd.DataFrame({})
dfco = []
dfco2 = pd.DataFrame({})
dfin = []
dfin2 = pd.DataFrame({})

dfsi.append(dfgg.loc[0].cellid)
dfso.append(dfgg.loc[0].cellid)
dfci.append(dfgg.loc[0].cellid)
dfco.append(dfgg.loc[0].cellid)
dfin.append(dfgg.loc[0].cellid)

dfsi2["cellid"]=dfsi[0].values
dfso2["cellid"]=dfsi[0].values
dfci2["cellid"]=dfsi[0].values
dfco2["cellid"]=dfsi[0].values
dfin2["cellid"]=dfsi[0].values

for i in range(0, dfgr.hour.max()+1): #dfgr.hour.max()+1
    #row[0] - hour, row[1]: df cols
    #print(i)
    
    dfsi.append(dfgg.loc[i].smsin)
    dfsi2["smsin"+str(i)]=dfsi[i+1].values

    dfso.append(dfgg.loc[i].smsout)
    dfso2["smsout"+str(i)]=dfso[i+1].values

    dfci.append(dfgg.loc[i].callin)
    dfci2["callin"+str(i)]=dfci[i+1].values

    dfco.append(dfgg.loc[i].callout)
    dfco2["callout"+str(i)]=dfco[i+1].values

    dfin.append(dfgg.loc[i].internet)
    dfin2["internet"+str(i)]=dfin[i+1].values

In [10]:
dfsi2.to_csv("./classif/fullgrid/tn/classifgridmon_smsin.csv")
dfsi2.head()

,cellid,smsin0,smsin1,smsin2,smsin3,smsin4,smsin5,smsin6,smsin7,smsin8,...,smsin14,smsin15,smsin16,smsin17,smsin18,smsin19,smsin20,smsin21,smsin22,smsin23
0,38.0,0.000308,1.305068e-05,2.979087e-06,5.003243e-05,0.000002,1.654795e-07,2.567920e-06,0.000050,0.000039,...,0.000252,0.001151,0.001556,0.000056,0.001387,0.001017,0.000035,0.000107,0.000068,0.000068
1,7471.0,0.000031,2.342760e-05,2.352799e-05,0.000000e+00,0.000000,1.831605e-06,0.000000e+00,0.000082,0.000231,...,0.000588,0.000009,0.000013,0.000267,0.000008,0.000011,0.000183,0.000186,0.000120,0.000118
2,7467.0,0.000000,8.586939e-07,5.518008e-07,0.000000e+00,0.000000,0.000000e+00,4.433753e-06,0.000235,0.000800,...,0.000014,0.000017,0.000024,0.000894,0.000015,0.000022,0.000847,0.000006,0.000004,0.000003
3,7465.0,0.000001,1.655402e-06,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,2.342760e-05,0.000017,0.000000,...,0.000014,0.000729,0.001035,0.000000,0.000659,0.000918,0.000000,0.000012,0.000008,0.000000
4,7464.0,0.000008,7.058398e-05,7.809201e-06,9.158024e-07,0.000000,0.000000e+00,8.586939e-07,0.000003,0.000010,...,0.000229,0.000212,0.000205,0.000011,0.000150,0.000231,0.000010,0.000518,0.000353,0.000050

In [11]:
dfso2.to_csv("./classif/fullgrid/tn/classifgridmon_smsout.csv")
dfso2.head()

,cellid,smsout0,smsout1,smsout2,smsout3,smsout4,smsout5,smsout6,smsout7,smsout8,...,smsout14,smsout15,smsout16,smsout17,smsout18,smsout19,smsout20,smsout21,smsout22,smsout23
0,38.0,0.000342,9.240603e-06,0.000006,0.000035,0.0,0.0,2.129540e-06,0.000007,0.000059,...,0.000150,0.000848,0.000824,0.000031,0.001442,0.000662,0.000042,0.000091,0.000035,0.000083
1,7471.0,0.000029,1.658804e-05,0.000050,0.000000,0.0,0.0,0.000000e+00,0.000049,0.000138,...,0.000425,0.000007,0.000006,0.000170,0.000008,0.000005,0.000128,0.000162,0.000061,0.000175
2,7467.0,0.000000,6.080027e-07,0.000001,0.000000,0.0,0.0,3.139342e-06,0.000150,0.000725,...,0.000010,0.000013,0.000012,0.001025,0.000016,0.000009,0.000650,0.000006,0.000002,0.000004
3,7465.0,0.000000,1.172116e-06,0.000000,0.000000,0.0,0.0,1.658804e-05,0.000011,0.000000,...,0.000007,0.000575,0.000500,0.000000,0.000675,0.000400,0.000000,0.000011,0.000004,0.000000
4,7464.0,0.000000,4.997736e-05,0.000017,0.000000,0.0,0.0,6.080027e-07,0.000002,0.000009,...,0.000166,0.000110,0.000080,0.000012,0.000141,0.000074,0.000008,0.000475,0.000175,0.000072

In [12]:
dfci2.to_csv("./classif/fullgrid/tn/classifgridmon_callin.csv")
dfci2.head()

,cellid,callin0,callin1,callin2,callin3,callin4,callin5,callin6,callin7,callin8,...,callin14,callin15,callin16,callin17,callin18,callin19,callin20,callin21,callin22,callin23
0,38.0,0.000397,0.000000e+00,0.0,0.000011,0.0,0.0,0.000009,0.000014,0.000108,...,0.000595,0.002896,0.003100,0.000103,0.002984,0.001344,0.000015,0.000056,1.192729e-05,0.000015
1,7471.0,0.000000,2.965692e-06,0.0,0.000000,0.0,0.0,0.000000,0.000065,0.000479,...,0.001871,0.000025,0.000020,0.000551,0.000018,0.000014,0.000157,0.000093,2.141097e-05,0.000065
2,7467.0,0.000000,1.806873e-08,0.0,0.000000,0.0,0.0,0.000018,0.000452,0.002000,...,0.000044,0.000048,0.000039,0.001613,0.000035,0.000027,0.000387,0.000003,7.847782e-07,0.000002
3,7465.0,0.000000,0.000000e+00,0.0,0.000000,0.0,0.0,0.000096,0.000028,0.000000,...,0.000039,0.002064,0.001677,0.000000,0.001484,0.001161,0.000000,0.000006,1.512907e-06,0.000000
4,7464.0,0.000000,0.000000e+00,0.0,0.000000,0.0,0.0,0.000003,0.000005,0.000024,...,0.000686,0.000553,0.000493,0.000020,0.000411,0.000248,0.000005,0.000258,6.450817e-05,0.000021

In [13]:
dfco2.to_csv("./classif/fullgrid/tn/classifgridmon_callout.csv")
dfco2.head()

,cellid,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,callout8,...,callout14,callout15,callout16,callout17,callout18,callout19,callout20,callout21,callout22,callout23
0,38.0,0.000074,0.0,0.0,0.0,0.0,0.0,0.000006,0.000030,0.000088,...,0.000718,0.002448,0.002864,0.000137,0.002421,0.001150,0.000050,0.000059,0.000020,0.000007
1,7471.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000147,0.000464,...,0.001917,0.000020,0.000028,0.000440,0.000016,0.000005,0.000151,0.000108,0.000040,0.000000
2,7467.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000013,0.000852,0.001438,...,0.000045,0.000039,0.000054,0.001597,0.000030,0.000010,0.000586,0.000004,0.000001,0.000000
3,7465.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000071,0.000055,0.000000,...,0.000070,0.001651,0.002290,0.000000,0.001278,0.000426,0.000000,0.000007,0.000002,0.000000
4,7464.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000003,0.000010,0.000018,...,0.000764,0.000450,0.000492,0.000020,0.000318,0.000191,0.000007,0.000319,0.000106,0.000000

In [14]:
dfin2.to_csv("./classif/fullgrid/tn/classifgridmon_internet.csv")
dfin2.head()

,cellid,internet0,internet1,internet2,internet3,internet4,internet5,internet6,internet7,internet8,...,internet14,internet15,internet16,internet17,internet18,internet19,internet20,internet21,internet22,internet23
0,38.0,0.003807,0.000191,0.000173,0.000532,0.000480,0.000042,0.000045,0.000055,0.000056,...,0.000322,0.001683,0.001275,0.000071,0.001381,0.001169,0.000063,0.000302,0.000244,0.000477
1,7471.0,0.000026,0.000342,0.001040,0.000013,0.000012,0.000179,0.000000,0.000276,0.000341,...,0.001146,0.000014,0.000016,0.000455,0.000017,0.000015,0.000347,0.000499,0.000418,0.001142
2,7467.0,0.000000,0.000012,0.000024,0.000024,0.000023,0.001077,0.000071,0.001276,0.001101,...,0.000027,0.000027,0.000032,0.001365,0.000032,0.000029,0.001345,0.000016,0.000014,0.000027
3,7465.0,0.000071,0.000023,0.000023,0.001040,0.000983,0.000000,0.000383,0.000085,0.000002,...,0.000029,0.001166,0.001349,0.000000,0.001361,0.001227,0.000000,0.000031,0.000027,0.000020
4,7464.0,0.000373,0.000995,0.000356,0.000166,0.000156,0.000013,0.000014,0.000016,0.000013,...,0.000422,0.000301,0.000360,0.000017,0.000327,0.000297,0.000016,0.001320,0.001146,0.000462