In [1]:
import pandas as pd
import numpy as np
import random
from sklearn.preprocessing import MinMaxScaler

In [2]:
dfs = pd.DataFrame({})

for i in range(4,10):
    df = pd.read_csv('./csv/sms-call-internet-mi-2013-11-0{}.csv'.format(i), parse_dates=['time'])
    dfs = dfs.append(df)
df = pd.read_csv('./csv/sms-call-internet-mi-2013-11-10.csv', parse_dates=['time'])
dfs = dfs.append(df)
dfs = dfs.fillna(0)

In [3]:
#Group by hours and aggregate values according to each cell/hour
dfgr = dfs[['cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['time', 'cellid'], as_index=False).sum()
#dfgr['hour'] = dfgr.time.dt.hour+24*(dfgr.time.dt.day-4) #hourly aggregated
dfgr['hour'] = dfgr.time.dt.hour*60+24*60*(dfgr.time.dt.day-4)+dfgr.time.dt.minute #expressed in intervals of 10mins, same as data source
dfgg = dfgr[['hour', 'cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['hour', 'cellid'], as_index=False).sum()
#dfgg = dfgg.set_index(['hour']).sort_index()
del df
del dfs
print(dfgg)

#Group by hours and aggregate values according to the hour
#dfgr = dfs[['cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['time', 'cellid'], as_index=False).sum()
#dfgr['hour'] = dfgr.time.dt.hour+24*(dfgr.time.dt.day-1)
#dfgg = dfgr[['hour', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['hour'], as_index=False).sum()
#dfgg = dfgg.set_index(['hour']).sort_index()
#print(dfgg)

        hour  cellid     smsin    smsout    callin   callout    internet
0          0       1  1.134621  0.806930  0.055225  0.215539   50.341965
1          0       2  1.152227  0.822611  0.055578  0.219547   50.432001
2          0       3  1.170967  0.839303  0.055954  0.223814   50.527840
3          0       4  1.083627  0.761510  0.054203  0.203928   50.081175
4          0       5  0.995433  0.707518  0.053310  0.186448   45.571568
...      ...     ...       ...       ...       ...       ...         ...
239994    23    9996  4.600850  5.169175  2.811853  2.092957  220.036659
239995    23    9997  5.722021  5.209403  3.302868  2.288974  252.375886
239996    23    9998  5.476634  5.182801  3.207553  2.248176  246.203941
239997    23    9999  2.401963  4.711104  1.683384  1.680109  154.689238
239998    23   10000  1.992985  5.375466  1.222995  1.639233  143.165539

[239999 rows x 7 columns]

In [4]:
l=[]
random.seed(13479561) #To make it reproducible
for i in range(5000,10000,10):
    #print (random.randint(i,i+100))
    a_string = str(i)
    a_length = len(a_string)
    c = int(a_string[a_length - 2: a_length])
    #print("The last two digit for the number: ", a, " is: ", c)
    if(c<50):
        continue
    else:
        l.append(random.randint(i,i+10)+1)
print(l)

[5056, 5065, 5076, 5085, 5093, 5153, 5168, 5176, 5188, 5198, 5261, 5269, 5277, 5290, 5296, 5357, 5370, 5374, 5386, 5393, 5461, 5466, 5473, 5482, 5497, 5558, 5561, 5580, 5589, 5598, 5655, 5667, 5673, 5687, 5701, 5757, 5768, 5779, 5786, 5796, 5857, 5865, 5875, 5881, 5901, 5960, 5970, 5979, 5982, 5995, 6057, 6069, 6076, 6089, 6093, 6154, 6162, 6179, 6184, 6201, 6253, 6263, 6272, 6285, 6293, 6358, 6369, 6379, 6381, 6397, 6460, 6462, 6475, 6489, 6495, 6555, 6570, 6579, 6587, 6600, 6660, 6665, 6675, 6687, 6700, 6759, 6769, 6779, 6788, 6793, 6852, 6870, 6879, 6888, 6899, 6954, 6965, 6972, 6984, 7000, 7057, 7070, 7073, 7090, 7095, 7155, 7165, 7173, 7188, 7195, 7256, 7264, 7271, 7289, 7293, 7357, 7365, 7371, 7390, 7391, 7457, 7471, 7475, 7490, 7493, 7556, 7565, 7575, 7591, 7599, 7655, 7667, 7678, 7682, 7696, 7755, 7770, 7779, 7784, 7797, 7857, 7866, 7879, 7887, 7899, 7952, 7970, 7981, 7985, 7995, 8058, 8067, 8073, 8084, 8095, 8159, 8161, 8176, 8185, 8195, 8255, 8269, 8279, 8290, 8297, 8354, 8367, 8376, 8383, 8399, 8456, 8471, 8472, 8484, 8493, 8558, 8565, 8578, 8582, 8599, 8656, 8670, 8671, 8686, 8695, 8758, 8763, 8779, 8782, 8794, 8860, 8861, 8874, 8887, 8898, 8952, 8971, 8981, 8988, 9000, 9060, 9069, 9073, 9089, 9094, 9154, 9169, 9180, 9191, 9201, 9251, 9262, 9278, 9284, 9291, 9359, 9368, 9371, 9388, 9399, 9458, 9471, 9475, 9491, 9491, 9561, 9566, 9580, 9591, 9601, 9659, 9664, 9680, 9682, 9692, 9759, 9764, 9775, 9791, 9798, 9857, 9871, 9879, 9882, 9898, 9957, 9962, 9972, 9981, 9997]

In [5]:
df10 = pd.DataFrame({})
for el in dfgg.iterrows():
    if(l.count(int(el[1].cellid))==1):
        tmp = pd.DataFrame([[int(el[1].hour), int(el[1].cellid), el[1].smsin, el[1].smsout, el[1].callin, el[1].callout, el[1].internet]], columns=['hour', 'cellid', 'smsin','smsout', 'callin','callout', 'internet'])
        df10=df10.append(tmp)

In [6]:
df10 = df10.set_index(['hour']).sort_index()
print(df10)

      cellid      smsin     smsout    callin    callout     internet
hour
0       5056  14.229152  87.200674  6.876066   9.034390  1396.901241
0       5065  18.423424  18.622466  0.456619  10.338892   728.202724
0       5076   5.088444   5.661540  0.123670   3.477145   110.844561
0       5085   0.629864   0.544457  0.008937   0.495984    81.875642
0       5093   0.669432   0.099471  0.033157   0.000000    24.373716
...      ...        ...        ...       ...        ...          ...
23      9957   9.343036   8.093986  1.669311   1.889858   383.095971
23      9962   7.870837   6.622492  1.862019   0.686987   332.681853
23      9972   0.841434   0.582633  0.612270   0.803240   133.925138
23      9981   6.861868   7.842950  1.779465   2.795866   405.982376
23      9997   5.722021   5.209403  3.302868   2.288974   252.375886

[5952 rows x 6 columns]

In [7]:
cells = df10.cellid
scaler=MinMaxScaler()
scaled = pd.DataFrame(scaler.fit_transform(df10), columns=df10.columns, index=df10.index)

In [8]:
dfgg=scaled
dfgg['cellid']=cells
print(dfgg)

      cellid     smsin    smsout    callin   callout  internet
hour
0       5056  0.012905  0.101734  0.008915  0.012528  0.116521
0       5065  0.016709  0.021726  0.000592  0.014337  0.060212
0       5076  0.004615  0.006605  0.000160  0.004822  0.008226
0       5085  0.000571  0.000635  0.000012  0.000688  0.005787
0       5093  0.000607  0.000116  0.000043  0.000000  0.000945
...      ...       ...       ...       ...       ...       ...
23      9957  0.008474  0.009443  0.002164  0.002621  0.031152
23      9962  0.007138  0.007726  0.002414  0.000953  0.026907
23      9972  0.000763  0.000680  0.000794  0.001114  0.010170
23      9981  0.006223  0.009150  0.002307  0.003877  0.033079
23      9997  0.005190  0.006078  0.004282  0.003174  0.020144

[5952 rows x 6 columns]

In [9]:
dfsi = [] #data from df without indexing
dfsi2 = pd.DataFrame({}) #new df to save
dfso = []
dfso2 = pd.DataFrame({})
dfci = []
dfci2 = pd.DataFrame({})
dfco = []
dfco2 = pd.DataFrame({})
dfin = []
dfin2 = pd.DataFrame({})

dfsi.append(dfgg.loc[0].cellid)
dfso.append(dfgg.loc[0].cellid)
dfci.append(dfgg.loc[0].cellid)
dfco.append(dfgg.loc[0].cellid)
dfin.append(dfgg.loc[0].cellid)

dfsi2["cellid"]=dfsi[0].values
dfso2["cellid"]=dfsi[0].values
dfci2["cellid"]=dfsi[0].values
dfco2["cellid"]=dfsi[0].values
dfin2["cellid"]=dfsi[0].values
j=0
for i in range(0, dfgr.hour.max()+1): #dfgr.hour.max()+1
    #row[0] - hour, row[1]: df cols
    dfsi.append(dfgg.loc[i].smsin)
    dfsi2["smsin"+str(i)]=dfsi[j+1].values
    
    dfso.append(dfgg.loc[i].smsout)
    dfso2["smsout"+str(i)]=dfso[j+1].values
    
    dfci.append(dfgg.loc[i].callin)
    dfci2["callin"+str(i)]=dfci[j+1].values
    
    dfco.append(dfgg.loc[i].callout)
    dfco2["callout"+str(i)]=dfco[j+1].values
    
    dfin.append(dfgg.loc[i].internet)
    dfin2["internet"+str(i)]=dfin[j+1].values
    j+=1

In [10]:
dfsi2.to_csv("./classif/randomgrid/classif-randomgridweekminute_smsin.csv")
dfsi2.head()

,cellid,smsin0,smsin1,smsin2,smsin3,smsin4,smsin5,smsin6,smsin7,smsin8,...,smsin14,smsin15,smsin16,smsin17,smsin18,smsin19,smsin20,smsin21,smsin22,smsin23
0,5056,0.012905,0.004847,0.006473,0.001380,0.008790,0.010120,0.011286,0.065885,0.350415,...,0.633654,0.528910,0.560419,0.481443,0.286807,0.222182,0.121955,0.097356,0.157059,0.091153
1,5065,0.016709,0.017228,0.011219,0.002022,0.011925,0.006682,0.009425,0.035053,0.202187,...,0.321314,0.329022,0.303744,0.279421,0.238697,0.238572,0.151491,0.121676,0.105251,0.090459
2,5076,0.004615,0.000681,0.000703,0.000135,0.000024,0.000819,0.001088,0.005420,0.017703,...,0.018903,0.024526,0.028184,0.027365,0.020088,0.020311,0.013294,0.010629,0.009984,0.006140
3,5085,0.000571,0.000243,0.003036,0.000364,0.001219,0.000607,0.000814,0.004574,0.008546,...,0.012723,0.011231,0.009624,0.010245,0.007864,0.009354,0.006731,0.006696,0.005351,0.001605
4,5093,0.000607,0.000261,0.000000,0.000000,0.000263,0.000261,0.000000,0.000494,0.003853,...,0.003763,0.004351,0.002203,0.005463,0.004187,0.001422,0.001169,0.000870,0.001274,0.000840

In [11]:
dfso2.to_csv("./classif/randomgrid/classif-randomgridweekminute_smsout.csv")
dfso2.head()

,cellid,smsout0,smsout1,smsout2,smsout3,smsout4,smsout5,smsout6,smsout7,smsout8,...,smsout14,smsout15,smsout16,smsout17,smsout18,smsout19,smsout20,smsout21,smsout22,smsout23
0,5056,0.101734,0.071043,0.064414,0.059165,0.056025,0.065650,0.061833,0.117566,0.248002,...,0.553310,0.441822,0.494291,0.434274,0.274504,0.188786,0.177096,0.186352,0.201636,0.119596
1,5065,0.021726,0.029023,0.018900,0.008611,0.006542,0.010560,0.016914,0.050542,0.128817,...,0.218697,0.203182,0.192141,0.180563,0.158707,0.164002,0.115894,0.075488,0.108218,0.092071
2,5076,0.006605,0.001544,0.000899,0.000404,0.001280,0.000433,0.002126,0.004368,0.019229,...,0.012153,0.009515,0.009872,0.011411,0.012585,0.012618,0.011795,0.011541,0.006177,0.004137
3,5085,0.000635,0.000312,0.003905,0.001250,0.002031,0.000000,0.000472,0.003156,0.006683,...,0.013350,0.008668,0.008615,0.006793,0.003129,0.004515,0.003128,0.002197,0.004415,0.002657
4,5093,0.000116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000260,0.003734,...,0.003836,0.002758,0.001562,0.003652,0.000895,0.000521,0.000897,0.001601,0.001601,0.000820

In [12]:
dfci2.to_csv("./classif/randomgrid/classif-randomgridweekminute_callin.csv")
dfci2.head()

,cellid,callin0,callin1,callin2,callin3,callin4,callin5,callin6,callin7,callin8,...,callin14,callin15,callin16,callin17,callin18,callin19,callin20,callin21,callin22,callin23
0,5056,0.008915,0.006892,0.003664,0.000398,0.004511,0.004170,0.015551,0.056063,0.163447,...,0.388634,0.366821,0.380965,0.390963,0.331535,0.231148,0.155723,0.079189,0.062049,0.038312
1,5065,0.000592,0.002209,0.001151,0.000000,0.001722,0.004968,0.002596,0.030116,0.103727,...,0.273659,0.278141,0.333937,0.309786,0.277328,0.178628,0.096256,0.052968,0.037909,0.027387
2,5076,0.000160,0.000128,0.000454,0.000032,0.000519,0.000454,0.000486,0.006036,0.016003,...,0.019245,0.029381,0.028727,0.035036,0.026914,0.016167,0.013082,0.014358,0.006662,0.003770
3,5085,0.000012,0.000174,0.001245,0.000000,0.000174,0.000532,0.002501,0.003975,0.013018,...,0.015445,0.016363,0.017654,0.015130,0.013464,0.011899,0.005363,0.004235,0.003333,0.002527
4,5093,0.000043,0.000000,0.000043,0.000000,0.000000,0.000000,0.000043,0.001081,0.000706,...,0.005223,0.002656,0.003317,0.004187,0.002740,0.002152,0.001949,0.001411,0.000373,0.000000

In [13]:
dfco2.to_csv("./classif/randomgrid/classif-randomgridweekminute_callout.csv")
dfco2.head()

,cellid,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,callout8,...,callout14,callout15,callout16,callout17,callout18,callout19,callout20,callout21,callout22,callout23
0,5056,0.012528,0.007939,0.004110,0.000000,0.000118,0.000098,0.016840,0.068195,0.236338,...,0.559452,0.466813,0.501147,0.482958,0.381651,0.273163,0.151555,0.091687,0.079167,0.039267
1,5065,0.014337,0.003911,0.000316,0.000230,0.003120,0.005886,0.012025,0.046758,0.190304,...,0.443962,0.421607,0.439591,0.438610,0.382252,0.295663,0.177942,0.101955,0.069181,0.046958
2,5076,0.004822,0.000274,0.000605,0.000035,0.000034,0.000205,0.003102,0.021717,0.042201,...,0.069593,0.088966,0.077860,0.093496,0.089158,0.068394,0.041486,0.044388,0.017433,0.009413
3,5085,0.000688,0.000557,0.000186,0.000371,0.000743,0.000189,0.000375,0.005778,0.010835,...,0.012851,0.024382,0.017414,0.018531,0.017545,0.018060,0.009298,0.005990,0.003484,0.002200
4,5093,0.000000,0.000399,0.000000,0.000000,0.000000,0.000000,0.000000,0.001154,0.000401,...,0.004786,0.003721,0.002885,0.002967,0.003987,0.003059,0.001512,0.001330,0.000711,0.000309

In [14]:
dfin2.to_csv("./classif/randomgrid/classif-randomgridweekminute_internet.csv")
dfin2.head()

,cellid,internet0,internet1,internet2,internet3,internet4,internet5,internet6,internet7,internet8,...,internet14,internet15,internet16,internet17,internet18,internet19,internet20,internet21,internet22,internet23
0,5056,0.116521,0.096527,0.088251,0.070987,0.068002,0.065610,0.083452,0.144777,0.392343,...,0.896378,0.800953,0.679304,0.526233,0.414240,0.290151,0.246558,0.211019,0.231871,0.213865
1,5065,0.060212,0.053242,0.044039,0.040070,0.036783,0.040466,0.043259,0.079954,0.149299,...,0.256021,0.232074,0.246425,0.232322,0.212556,0.178544,0.148555,0.115304,0.108076,0.083006
2,5076,0.008226,0.007770,0.008021,0.007975,0.008038,0.008747,0.011152,0.015556,0.017114,...,0.017453,0.019078,0.018032,0.021868,0.024640,0.021225,0.017488,0.016274,0.014464,0.013722
3,5085,0.005787,0.003060,0.002472,0.004650,0.001909,0.003532,0.007394,0.006785,0.008705,...,0.012828,0.010955,0.013852,0.015253,0.012615,0.011506,0.011688,0.011635,0.009177,0.004472
4,5093,0.000945,0.000096,0.000179,0.000217,0.000306,0.000225,0.000812,0.000167,0.000543,...,0.002586,0.002125,0.002044,0.001520,0.001682,0.001539,0.001240,0.001126,0.000266,0.000299