In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
dfs = pd.DataFrame({})

for i in range(4,10):
    df = pd.read_csv('./csv/sms-call-internet-mi-2013-11-0{}.csv'.format(i), parse_dates=['time'])
    dfs = dfs.append(df)
df = pd.read_csv('./csv/sms-call-internet-mi-2013-11-10.csv', parse_dates=['time'])
dfs = dfs.append(df)
dfs = dfs.fillna(0)

In [3]:
#Group by hours and aggregate values according to each cell/hour
dfgr = dfs[['cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['time', 'cellid'], as_index=False).sum()
dfgr['hour'] = dfgr.time.dt.hour+24*(dfgr.time.dt.day-4)
dfgg = dfgr[['hour', 'cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['hour', 'cellid'], as_index=False).sum()
#dfgg = dfgg.set_index(['hour']).sort_index()
print(dfgg)

#Group by hours and aggregate values according to the hour
#dfgr = dfs[['cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['time', 'cellid'], as_index=False).sum()
#dfgr['hour'] = dfgr.time.dt.hour+24*(dfgr.time.dt.day-1)
#dfgg = dfgr[['hour', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['hour'], as_index=False).sum()
#dfgg = dfgg.set_index(['hour']).sort_index()
#print(dfgg)

         hour  cellid     smsin    smsout    callin   callout    internet
0           0       1  1.134621  0.806930  0.055225  0.215539   50.341965
1           0       2  1.152227  0.822611  0.055578  0.219547   50.432001
2           0       3  1.170967  0.839303  0.055954  0.223814   50.527840
3           0       4  1.083627  0.761510  0.054203  0.203928   50.081175
4           0       5  0.995433  0.707518  0.053310  0.186448   45.571568
...       ...     ...       ...       ...       ...       ...         ...
1679990   167    9996  6.054090  6.946597  1.640647  4.461988  277.006021
1679991   167    9997  7.169133  6.872796  1.482668  5.482080  280.252966
1679992   167    9998  6.950347  6.901188  1.509687  5.291210  280.206203
1679993   167    9999  4.068024  4.816966  1.490447  2.965692  214.932905
1679994   167   10000  3.580726  2.847060  1.250935  2.658222  181.829832

[1679995 rows x 7 columns]

In [4]:
l=[] #choosen cells on 20x20 grid
for i in range(4263,6173,100):
    for j in range(i,i+20):
        l.append(j)
print(l)

[4263, 4264, 4265, 4266, 4267, 4268, 4269, 4270, 4271, 4272, 4273, 4274, 4275, 4276, 4277, 4278, 4279, 4280, 4281, 4282, 4363, 4364, 4365, 4366, 4367, 4368, 4369, 4370, 4371, 4372, 4373, 4374, 4375, 4376, 4377, 4378, 4379, 4380, 4381, 4382, 4463, 4464, 4465, 4466, 4467, 4468, 4469, 4470, 4471, 4472, 4473, 4474, 4475, 4476, 4477, 4478, 4479, 4480, 4481, 4482, 4563, 4564, 4565, 4566, 4567, 4568, 4569, 4570, 4571, 4572, 4573, 4574, 4575, 4576, 4577, 4578, 4579, 4580, 4581, 4582, 4663, 4664, 4665, 4666, 4667, 4668, 4669, 4670, 4671, 4672, 4673, 4674, 4675, 4676, 4677, 4678, 4679, 4680, 4681, 4682, 4763, 4764, 4765, 4766, 4767, 4768, 4769, 4770, 4771, 4772, 4773, 4774, 4775, 4776, 4777, 4778, 4779, 4780, 4781, 4782, 4863, 4864, 4865, 4866, 4867, 4868, 4869, 4870, 4871, 4872, 4873, 4874, 4875, 4876, 4877, 4878, 4879, 4880, 4881, 4882, 4963, 4964, 4965, 4966, 4967, 4968, 4969, 4970, 4971, 4972, 4973, 4974, 4975, 4976, 4977, 4978, 4979, 4980, 4981, 4982, 5063, 5064, 5065, 5066, 5067, 5068, 5069, 5070, 5071, 5072, 5073, 5074, 5075, 5076, 5077, 5078, 5079, 5080, 5081, 5082, 5163, 5164, 5165, 5166, 5167, 5168, 5169, 5170, 5171, 5172, 5173, 5174, 5175, 5176, 5177, 5178, 5179, 5180, 5181, 5182, 5263, 5264, 5265, 5266, 5267, 5268, 5269, 5270, 5271, 5272, 5273, 5274, 5275, 5276, 5277, 5278, 5279, 5280, 5281, 5282, 5363, 5364, 5365, 5366, 5367, 5368, 5369, 5370, 5371, 5372, 5373, 5374, 5375, 5376, 5377, 5378, 5379, 5380, 5381, 5382, 5463, 5464, 5465, 5466, 5467, 5468, 5469, 5470, 5471, 5472, 5473, 5474, 5475, 5476, 5477, 5478, 5479, 5480, 5481, 5482, 5563, 5564, 5565, 5566, 5567, 5568, 5569, 5570, 5571, 5572, 5573, 5574, 5575, 5576, 5577, 5578, 5579, 5580, 5581, 5582, 5663, 5664, 5665, 5666, 5667, 5668, 5669, 5670, 5671, 5672, 5673, 5674, 5675, 5676, 5677, 5678, 5679, 5680, 5681, 5682, 5763, 5764, 5765, 5766, 5767, 5768, 5769, 5770, 5771, 5772, 5773, 5774, 5775, 5776, 5777, 5778, 5779, 5780, 5781, 5782, 5863, 5864, 5865, 5866, 5867, 5868, 5869, 5870, 5871, 5872, 5873, 5874, 5875, 5876, 5877, 5878, 5879, 5880, 5881, 5882, 5963, 5964, 5965, 5966, 5967, 5968, 5969, 5970, 5971, 5972, 5973, 5974, 5975, 5976, 5977, 5978, 5979, 5980, 5981, 5982, 6063, 6064, 6065, 6066, 6067, 6068, 6069, 6070, 6071, 6072, 6073, 6074, 6075, 6076, 6077, 6078, 6079, 6080, 6081, 6082, 6163, 6164, 6165, 6166, 6167, 6168, 6169, 6170, 6171, 6172, 6173, 6174, 6175, 6176, 6177, 6178, 6179, 6180, 6181, 6182]

In [5]:
df20 = pd.DataFrame({})
for el in dfgg.iterrows():
    if(l.count(int(el[1].cellid))==1):
        tmp = pd.DataFrame([[int(el[1].hour), int(el[1].cellid), el[1].smsin, el[1].smsout, el[1].callin, el[1].callout, el[1].internet]], columns=['hour', 'cellid', 'smsin','smsout', 'callin','callout', 'internet'])
        df20=df20.append(tmp)

In [6]:
df20 = df20.set_index(['hour']).sort_index()
print(df20)

      cellid      smsin     smsout     callin    callout     internet
hour
0       4263  14.313799  18.955743   3.349320   5.860865  1039.245543
0       4264  17.689170  11.737689   3.546598  24.163355  1244.266037
0       4265  22.627374  14.262584   0.772959  42.708050  1121.887851
0       4266  38.871145  18.259665   5.552805  24.632711  1249.444799
0       4267  46.320083  19.320601   7.857640  16.261220  1116.377764
...      ...        ...        ...        ...        ...          ...
167     6178  43.615468  50.434118  12.906673   8.043442  1363.139685
167     6179   8.211579  13.146546   4.120758   4.601271   418.238310
167     6180   7.674386   7.209101   3.265169   3.530617   280.282212
167     6181  10.009630   5.577761   2.840919   2.041129   197.348765
167     6182  10.564982   6.062402   3.231180   2.063689   188.147572

[67200 rows x 6 columns]

In [7]:
cells = df20.cellid
scaler=MinMaxScaler()
scaled = pd.DataFrame(scaler.fit_transform(df20), columns=df20.columns, index=df20.index)

In [8]:
dfgg=scaled
dfgg['cellid']=cells
print(dfgg)

      cellid     smsin    smsout    callin   callout  internet
hour
0       4263  0.005388  0.008294  0.002733  0.004171  0.061385
0       4264  0.006659  0.005136  0.002893  0.017197  0.073603
0       4265  0.008518  0.006240  0.000631  0.030395  0.066310
0       4266  0.014633  0.007989  0.004530  0.017531  0.073912
0       4267  0.017437  0.008453  0.006411  0.011573  0.065982
...      ...       ...       ...       ...       ...       ...
167     6178  0.016419  0.022067  0.010530  0.005725  0.080688
167     6179  0.003091  0.005752  0.003362  0.003275  0.024376
167     6180  0.002889  0.003154  0.002664  0.002513  0.016155
167     6181  0.003768  0.002440  0.002318  0.001453  0.011212
167     6182  0.003977  0.002653  0.002636  0.001469  0.010664

[67200 rows x 6 columns]

In [9]:
dfsi = [] #data from df without indexing
dfsi2 = pd.DataFrame({}) #new df to save
dfso = []
dfso2 = pd.DataFrame({})
dfci = []
dfci2 = pd.DataFrame({})
dfco = []
dfco2 = pd.DataFrame({})
dfin = []
dfin2 = pd.DataFrame({})

dfsi.append(dfgg.loc[0].cellid)
dfso.append(dfgg.loc[0].cellid)
dfci.append(dfgg.loc[0].cellid)
dfco.append(dfgg.loc[0].cellid)
dfin.append(dfgg.loc[0].cellid)

dfsi2["cellid"]=dfsi[0].values
dfso2["cellid"]=dfsi[0].values
dfci2["cellid"]=dfsi[0].values
dfco2["cellid"]=dfsi[0].values
dfin2["cellid"]=dfsi[0].values
for i in range(0, dfgr.hour.max()+1): #dfgr.hour.max()+1
    #row[0] - hour, row[1]: df cols
    dfsi.append(dfgg.loc[i].smsin)
    dfsi2["smsin"+str(i)]=dfsi[i+1].values
    
    dfso.append(dfgg.loc[i].smsout)
    dfso2["smsout"+str(i)]=dfso[i+1].values
    
    dfci.append(dfgg.loc[i].callin)
    dfci2["callin"+str(i)]=dfci[i+1].values
    
    dfco.append(dfgg.loc[i].callout)
    dfco2["callout"+str(i)]=dfco[i+1].values
    
    dfin.append(dfgg.loc[i].internet)
    dfin2["internet"+str(i)]=dfin[i+1].values

In [10]:
dfsi2.to_csv("./classif/20x20/classif20x20week_smsin.csv")
dfsi2.head()

,cellid,smsin0,smsin1,smsin2,smsin3,smsin4,smsin5,smsin6,smsin7,smsin8,...,smsin158,smsin159,smsin160,smsin161,smsin162,smsin163,smsin164,smsin165,smsin166,smsin167
0,4263,0.005388,0.001375,0.001164,0.001046,0.001853,0.001003,0.002471,0.015629,0.042232,...,0.027415,0.027650,0.028890,0.040966,0.030124,0.029524,0.034311,0.031794,0.031488,0.025819
1,4264,0.006659,0.001000,0.002000,0.000472,0.002755,0.000000,0.004983,0.020225,0.054706,...,0.026867,0.035258,0.030807,0.041282,0.034532,0.030082,0.033159,0.024896,0.024300,0.013271
2,4265,0.008518,0.001652,0.001426,0.001753,0.002715,0.001319,0.004828,0.028855,0.072755,...,0.017068,0.019444,0.028393,0.019324,0.023364,0.023776,0.018398,0.014440,0.016602,0.010866
3,4266,0.014633,0.004140,0.002239,0.003129,0.000947,0.005501,0.007295,0.026925,0.091213,...,0.035102,0.057383,0.048929,0.060614,0.045082,0.037629,0.045315,0.035212,0.036575,0.021920
4,4267,0.017437,0.004972,0.002907,0.003364,0.000016,0.007380,0.008407,0.024434,0.096505,...,0.044821,0.079653,0.062472,0.082648,0.057215,0.045437,0.060541,0.047124,0.046539,0.028084

In [11]:
dfso2.to_csv("./classif/20x20/classif20x20week_smsout.csv")
dfso2.head()

,cellid,smsout0,smsout1,smsout2,smsout3,smsout4,smsout5,smsout6,smsout7,smsout8,...,smsout158,smsout159,smsout160,smsout161,smsout162,smsout163,smsout164,smsout165,smsout166,smsout167
0,4263,0.008294,0.005784,0.004349,0.011950,0.005789,0.004636,0.004773,0.011491,0.026264,...,0.022700,0.015637,0.026091,0.030166,0.028197,0.024840,0.029155,0.021442,0.028020,0.022410
1,4264,0.005136,0.002409,0.001723,0.004818,0.003026,0.001390,0.002377,0.021195,0.027392,...,0.018874,0.021504,0.016051,0.029073,0.022163,0.022396,0.021032,0.017856,0.017518,0.009869
2,4265,0.006240,0.002705,0.000661,0.002009,0.003955,0.001585,0.002755,0.031414,0.042358,...,0.008873,0.018385,0.010313,0.011841,0.011598,0.015559,0.018101,0.009914,0.009926,0.005797
3,4266,0.007989,0.006017,0.002086,0.001732,0.004708,0.001981,0.003877,0.023837,0.046518,...,0.013840,0.026897,0.014692,0.018023,0.023822,0.021924,0.029990,0.022005,0.023901,0.017255
4,4267,0.008453,0.007518,0.002799,0.001416,0.004401,0.001678,0.004109,0.021903,0.046473,...,0.016317,0.032609,0.016611,0.021673,0.030253,0.026827,0.037211,0.028187,0.031390,0.024075

In [12]:
dfci2.to_csv("./classif/20x20/classif20x20week_callin.csv")
dfci2.head()

,cellid,callin0,callin1,callin2,callin3,callin4,callin5,callin6,callin7,callin8,...,callin158,callin159,callin160,callin161,callin162,callin163,callin164,callin165,callin166,callin167
0,4263,0.002733,0.001316,0.000355,0.000241,0.000596,0.000605,0.002880,0.019949,0.044979,...,0.028648,0.026862,0.035404,0.051509,0.050315,0.047908,0.056996,0.031588,0.016613,0.009130
1,4264,0.002893,0.002373,0.000630,0.000193,0.000823,0.001864,0.001985,0.014445,0.050024,...,0.024557,0.020401,0.028404,0.037092,0.045242,0.038569,0.043766,0.024775,0.014102,0.009044
2,4265,0.000631,0.002191,0.000948,0.001054,0.001059,0.002908,0.003904,0.021050,0.083956,...,0.020851,0.015059,0.016942,0.025905,0.034520,0.024361,0.017354,0.014803,0.008118,0.006442
3,4266,0.004530,0.008713,0.001264,0.001174,0.001631,0.002911,0.007115,0.034020,0.105645,...,0.054000,0.050657,0.066312,0.079815,0.083147,0.080778,0.052064,0.039241,0.020021,0.010423
4,4267,0.006411,0.012314,0.001320,0.000950,0.001812,0.003094,0.008758,0.040093,0.110672,...,0.072738,0.069106,0.093044,0.109347,0.109003,0.111373,0.070854,0.052095,0.025512,0.012367

In [13]:
dfco2.to_csv("./classif/20x20/classif20x20week_callout.csv")
dfco2.head()

,cellid,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,callout8,...,callout158,callout159,callout160,callout161,callout162,callout163,callout164,callout165,callout166,callout167
0,4263,0.004171,0.002020,0.001136,0.002224,0.001229,0.001006,0.003732,0.017355,0.045097,...,0.027678,0.023457,0.036295,0.045147,0.049959,0.051290,0.034896,0.029359,0.015874,0.010176
1,4264,0.017197,0.067118,0.085808,0.151127,0.081362,0.078319,0.038332,0.016627,0.048560,...,0.027379,0.021735,0.031265,0.044844,0.058464,0.049536,0.040305,0.022394,0.022973,0.008775
2,4265,0.030395,0.094464,0.118034,0.205434,0.128594,0.113804,0.051204,0.022694,0.076637,...,0.031971,0.030380,0.031513,0.049020,0.062976,0.053865,0.041385,0.020162,0.021785,0.009832
3,4266,0.017531,0.035968,0.045582,0.088067,0.045359,0.038406,0.016841,0.028373,0.109677,...,0.061251,0.060005,0.075420,0.068722,0.096218,0.085003,0.068662,0.042476,0.029336,0.021122
4,4267,0.011573,0.017074,0.023002,0.054133,0.015260,0.011425,0.005390,0.028782,0.119908,...,0.074102,0.072679,0.098283,0.076949,0.109266,0.100433,0.080173,0.052234,0.034012,0.027283

In [14]:
dfin2.to_csv("./classif/20x20/classif20x20week_internet.csv")
dfin2.head()

,cellid,internet0,internet1,internet2,internet3,internet4,internet5,internet6,internet7,internet8,...,internet158,internet159,internet160,internet161,internet162,internet163,internet164,internet165,internet166,internet167
0,4263,0.061385,0.048882,0.044138,0.040334,0.038846,0.036400,0.038207,0.060819,0.101788,...,0.083562,0.092896,0.099101,0.085091,0.098437,0.092653,0.117234,0.103891,0.097767,0.080557
1,4264,0.073603,0.056968,0.054644,0.049425,0.045757,0.041600,0.046549,0.077385,0.138201,...,0.099557,0.100304,0.124293,0.099365,0.110330,0.107402,0.114327,0.120843,0.112275,0.086072
2,4265,0.066310,0.060676,0.046379,0.044023,0.041605,0.041434,0.048392,0.090235,0.156792,...,0.038438,0.026115,0.030156,0.037712,0.036889,0.032898,0.024960,0.026328,0.023349,0.022276
3,4266,0.073912,0.055692,0.050338,0.047229,0.045241,0.045971,0.051680,0.074907,0.120512,...,0.036141,0.034590,0.038068,0.039626,0.038146,0.036950,0.036912,0.033554,0.028344,0.026483
4,4267,0.065982,0.045511,0.047818,0.045105,0.044020,0.044808,0.048692,0.055756,0.087962,...,0.033552,0.038415,0.042099,0.041652,0.038887,0.039528,0.042939,0.036688,0.030348,0.029029