In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
dfs = pd.DataFrame({})

for i in range(4,10):
    df = pd.read_csv('./csv/sms-call-internet-mi-2013-11-0{}.csv'.format(i), parse_dates=['time'])
    dfs = dfs.append(df)
df = pd.read_csv('./csv/sms-call-internet-mi-2013-11-10.csv', parse_dates=['time'])
dfs = dfs.append(df)
dfs = dfs.fillna(0)
del df

In [3]:
#Group by hours and aggregate values according to each cell/hour
dfgr = dfs[['cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['time', 'cellid'], as_index=False).sum()
dfgr['hour'] = dfgr.time.dt.hour+24*(dfgr.time.dt.day-4)
dfgg = dfgr[['hour', 'cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['hour', 'cellid'], as_index=False).sum()
#dfgg = dfgg.set_index(['hour']).sort_index()
del dfs
print(dfgg)

#Group by hours and aggregate values according to the hour
#dfgr = dfs[['cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['time', 'cellid'], as_index=False).sum()
#dfgr['hour'] = dfgr.time.dt.hour+24*(dfgr.time.dt.day-1)
#dfgg = dfgr[['hour', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['hour'], as_index=False).sum()
#dfgg = dfgg.set_index(['hour']).sort_index()
#print(dfgg)

         hour  cellid     smsin    smsout    callin   callout    internet
0           0       1  1.134621  0.806930  0.055225  0.215539   50.341965
1           0       2  1.152227  0.822611  0.055578  0.219547   50.432001
2           0       3  1.170967  0.839303  0.055954  0.223814   50.527840
3           0       4  1.083627  0.761510  0.054203  0.203928   50.081175
4           0       5  0.995433  0.707518  0.053310  0.186448   45.571568
...       ...     ...       ...       ...       ...       ...         ...
1679990   167    9996  6.054090  6.946597  1.640647  4.461988  277.006021
1679991   167    9997  7.169133  6.872796  1.482668  5.482080  280.252966
1679992   167    9998  6.950347  6.901188  1.509687  5.291210  280.206203
1679993   167    9999  4.068024  4.816966  1.490447  2.965692  214.932905
1679994   167   10000  3.580726  2.847060  1.250935  2.658222  181.829832

[1679995 rows x 7 columns]

In [4]:
dfgg = dfgg.set_index(['hour']).sort_index()
print(dfgg)

      cellid     smsin    smsout    callin   callout    internet
hour
0          1  1.134621  0.806930  0.055225  0.215539   50.341965
0          2  1.152227  0.822611  0.055578  0.219547   50.432001
0          3  1.170967  0.839303  0.055954  0.223814   50.527840
0          4  1.083627  0.761510  0.054203  0.203928   50.081175
0          5  0.995433  0.707518  0.053310  0.186448   45.571568
...      ...       ...       ...       ...       ...         ...
167     9996  6.054090  6.946597  1.640647  4.461988  277.006021
167     9997  7.169133  6.872796  1.482668  5.482080  280.252966
167     9998  6.950347  6.901188  1.509687  5.291210  280.206203
167     9999  4.068024  4.816966  1.490447  2.965692  214.932905
167    10000  3.580726  2.847060  1.250935  2.658222  181.829832

[1679995 rows x 6 columns]

In [5]:
cells = dfgg.cellid
scaler=MinMaxScaler()
scaled = pd.DataFrame(scaler.fit_transform(dfgg), columns=dfgg.columns, index=dfgg.index)

In [6]:
dfgg=scaled
dfgg['cellid']=cells
print(dfgg)

      cellid     smsin    smsout    callin   callout  internet
hour
0          1  0.000427  0.000353  0.000036  0.000136  0.001738
0          2  0.000434  0.000360  0.000036  0.000139  0.001741
0          3  0.000441  0.000367  0.000036  0.000141  0.001745
0          4  0.000408  0.000333  0.000035  0.000129  0.001729
0          5  0.000375  0.000310  0.000035  0.000118  0.001574
...      ...       ...       ...       ...       ...       ...
167     9996  0.002279  0.003039  0.001070  0.002815  0.009565
167     9997  0.002699  0.003007  0.000967  0.003459  0.009677
167     9998  0.002616  0.003020  0.000984  0.003338  0.009675
167     9999  0.001531  0.002108  0.000972  0.001871  0.007422
167    10000  0.001348  0.001246  0.000816  0.001677  0.006278

[1679995 rows x 6 columns]

In [36]:
#df_1 = dfgg.iloc[:800000,:] - used to fix missing data from cell 5239 in some hours (0 data so didn't appear on csv)
df_2 = dfgg.iloc[800000:,:]
df_1 = pd.read_csv('./csv/temp1.csv')
dfgg = df_1
dfgg = dfgg.set_index(['hour']).sort_index()
dfgg=dfgg.append(df_2)
dfgg.head()

      cellid     smsin    smsout    callin   callout  internet
hour
0          1  0.000427  0.000353  0.000036  0.000136  0.001738
0          2  0.000434  0.000360  0.000036  0.000139  0.001741
0          3  0.000441  0.000367  0.000036  0.000141  0.001745
0          4  0.000408  0.000333  0.000035  0.000129  0.001729
0          5  0.000375  0.000310  0.000035  0.000118  0.001574

In [37]:
#print(dfgg)

In [39]:
dfsi = [] #data from df without indexing
dfsi2 = pd.DataFrame({}) #new df to save
dfso = []
dfso2 = pd.DataFrame({})
dfci = []
dfci2 = pd.DataFrame({})
dfco = []
dfco2 = pd.DataFrame({})
dfin = []
dfin2 = pd.DataFrame({})

dfsi.append(dfgg.loc[0].cellid)
dfso.append(dfgg.loc[0].cellid)
dfci.append(dfgg.loc[0].cellid)
dfco.append(dfgg.loc[0].cellid)
dfin.append(dfgg.loc[0].cellid)

dfsi2["cellid"]=dfsi[0].values
dfso2["cellid"]=dfsi[0].values
dfci2["cellid"]=dfsi[0].values
dfco2["cellid"]=dfsi[0].values
dfin2["cellid"]=dfsi[0].values

for i in range(0, dfgr.hour.max()+1): #dfgr.hour.max()+1
    #row[0] - hour, row[1]: df cols
    #print(i)
    
    dfsi.append(dfgg.loc[i].smsin)
    dfsi2["smsin"+str(i)]=dfsi[i+1].values

    dfso.append(dfgg.loc[i].smsout)
    dfso2["smsout"+str(i)]=dfso[i+1].values

    dfci.append(dfgg.loc[i].callin)
    dfci2["callin"+str(i)]=dfci[i+1].values

    dfco.append(dfgg.loc[i].callout)
    dfco2["callout"+str(i)]=dfco[i+1].values

    dfin.append(dfgg.loc[i].internet)
    dfin2["internet"+str(i)]=dfin[i+1].values

In [40]:
dfsi2.to_csv("./classif/fullgrid/classifgridwk_smsin.csv")
dfsi2.head()

,cellid,smsin0,smsin1,smsin2,smsin3,smsin4,smsin5,smsin6,smsin7,smsin8,...,smsin158,smsin159,smsin160,smsin161,smsin162,smsin163,smsin164,smsin165,smsin166,smsin167
0,1,0.000427,0.000721,0.000214,0.000061,0.000122,0.000087,0.000342,0.001226,0.002523,...,0.002569,0.001629,0.002136,0.002405,0.001716,0.001572,0.001967,0.002471,0.002043,0.001063
1,2,0.000434,0.000731,0.000217,0.000062,0.000123,0.000085,0.000351,0.001242,0.002568,...,0.002592,0.001652,0.002166,0.002445,0.001734,0.001597,0.002000,0.002517,0.002071,0.001069
2,3,0.000441,0.000741,0.000220,0.000062,0.000125,0.000084,0.000360,0.001259,0.002617,...,0.002616,0.001676,0.002197,0.002486,0.001753,0.001624,0.002035,0.002566,0.002100,0.001075
3,4,0.000408,0.000694,0.000205,0.000060,0.000116,0.000091,0.000317,0.001180,0.002391,...,0.002504,0.001563,0.002051,0.002291,0.001663,0.001498,0.001871,0.002339,0.001963,0.001046
4,5,0.000375,0.000623,0.000186,0.000053,0.000104,0.000087,0.000300,0.001087,0.002223,...,0.002293,0.001489,0.001901,0.002129,0.001528,0.001400,0.001747,0.002145,0.001819,0.000967

In [41]:
dfso2.to_csv("./classif/fullgrid/classifgridwk_smsout.csv")
dfso2.head()

,cellid,smsout0,smsout1,smsout2,smsout3,smsout4,smsout5,smsout6,smsout7,smsout8,...,smsout158,smsout159,smsout160,smsout161,smsout162,smsout163,smsout164,smsout165,smsout166,smsout167
0,1,0.000353,0.000768,0.000272,0.000024,0.000023,0.000050,0.000441,0.000960,0.000957,...,0.001818,0.001079,0.001255,0.001356,0.001319,0.001225,0.001539,0.002340,0.001785,0.001060
1,2,0.000360,0.000778,0.000275,0.000024,0.000024,0.000049,0.000455,0.000973,0.000976,...,0.001824,0.001083,0.001275,0.001375,0.001342,0.001242,0.001561,0.002380,0.001802,0.001065
2,3,0.000367,0.000788,0.000278,0.000024,0.000024,0.000048,0.000469,0.000988,0.000995,...,0.001830,0.001087,0.001297,0.001394,0.001366,0.001260,0.001585,0.002424,0.001821,0.001069
3,4,0.000333,0.000741,0.000264,0.000024,0.000022,0.000051,0.000402,0.000920,0.000905,...,0.001802,0.001069,0.001197,0.001303,0.001254,0.001177,0.001475,0.002222,0.001736,0.001048
4,5,0.000310,0.000662,0.000235,0.000021,0.000020,0.000047,0.000375,0.000884,0.000841,...,0.001636,0.001011,0.001108,0.001212,0.001176,0.001090,0.001395,0.002064,0.001660,0.000998

In [42]:
dfci2.to_csv("./classif/fullgrid/classifgridmwk_callin.csv")
dfci2.head()

,cellid,callin0,callin1,callin2,callin3,callin4,callin5,callin6,callin7,callin8,...,callin158,callin159,callin160,callin161,callin162,callin163,callin164,callin165,callin166,callin167
0,1,0.000036,1.165467e-06,0.0,0.0,0.000019,0.000052,0.000259,0.000833,0.002110,...,0.001907,0.001598,0.001887,0.002645,0.002114,0.002087,0.002003,0.001186,0.000707,0.000357
1,2,0.000036,6.009285e-07,0.0,0.0,0.000018,0.000054,0.000268,0.000846,0.002153,...,0.001940,0.001635,0.001921,0.002693,0.002139,0.002110,0.002037,0.001201,0.000716,0.000359
2,3,0.000036,0.000000e+00,0.0,0.0,0.000018,0.000056,0.000278,0.000860,0.002200,...,0.001976,0.001674,0.001957,0.002744,0.002166,0.002133,0.002074,0.001217,0.000726,0.000360
3,4,0.000035,2.800662e-06,0.0,0.0,0.000021,0.000047,0.000233,0.000796,0.001983,...,0.001812,0.001492,0.001789,0.002506,0.002040,0.002023,0.001904,0.001144,0.000680,0.000352
4,5,0.000035,7.130278e-06,0.0,0.0,0.000019,0.000048,0.000219,0.000755,0.001861,...,0.001680,0.001420,0.001683,0.002343,0.001887,0.001882,0.001745,0.001046,0.000626,0.000315

In [43]:
dfco2.to_csv("./classif/fullgrid/classifgridwk_callout.csv")
dfco2.head()

,cellid,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,callout8,...,callout158,callout159,callout160,callout161,callout162,callout163,callout164,callout165,callout166,callout167
0,1,0.000136,0.000017,1.127600e-06,1.127600e-06,0.000034,0.000073,0.000319,0.000852,0.002343,...,0.001694,0.001461,0.001833,0.002568,0.002611,0.002211,0.001972,0.001143,0.000514,0.000361
1,2,0.000139,0.000017,5.814039e-07,5.814039e-07,0.000034,0.000072,0.000330,0.000869,0.002385,...,0.001718,0.001481,0.001864,0.002610,0.002652,0.002246,0.002011,0.001162,0.000521,0.000364
2,3,0.000141,0.000017,0.000000e+00,0.000000e+00,0.000034,0.000071,0.000341,0.000886,0.002430,...,0.001744,0.001502,0.001897,0.002654,0.002695,0.002282,0.002053,0.001182,0.000529,0.000368
3,4,0.000129,0.000017,2.709666e-06,2.709666e-06,0.000034,0.000076,0.000288,0.000805,0.002223,...,0.001623,0.001404,0.001743,0.002446,0.002493,0.002112,0.001857,0.001089,0.000494,0.000352
4,5,0.000118,0.000015,3.104373e-06,3.104373e-06,0.000030,0.000077,0.000273,0.000758,0.002083,...,0.001508,0.001322,0.001639,0.002296,0.002290,0.001978,0.001722,0.001008,0.000456,0.000319

In [44]:
dfin2.to_csv("./classif/fullgrid/classifgridwk_internet.csv")
dfin2.head()

,cellid,internet0,internet1,internet2,internet3,internet4,internet5,internet6,internet7,internet8,...,internet158,internet159,internet160,internet161,internet162,internet163,internet164,internet165,internet166,internet167
0,1,0.001738,0.001594,0.001210,0.001067,0.001104,0.001059,0.001369,0.002216,0.001881,...,0.005929,0.003554,0.003513,0.003315,0.003108,0.003719,0.003394,0.003518,0.003063,0.002671
1,2,0.001741,0.001594,0.001209,0.001068,0.001107,0.001062,0.001375,0.002228,0.001894,...,0.005940,0.003565,0.003527,0.003333,0.003121,0.003728,0.003406,0.003533,0.003072,0.002679
2,3,0.001745,0.001594,0.001208,0.001070,0.001109,0.001066,0.001383,0.002240,0.001908,...,0.005951,0.003578,0.003542,0.003352,0.003134,0.003738,0.003419,0.003549,0.003082,0.002688
3,4,0.001729,0.001593,0.001214,0.001064,0.001097,0.001049,0.001349,0.002182,0.001843,...,0.005898,0.003519,0.003473,0.003262,0.003072,0.003691,0.003360,0.003473,0.003035,0.002648
4,5,0.001574,0.001440,0.001106,0.000975,0.001001,0.000963,0.001242,0.001997,0.001716,...,0.005255,0.003199,0.003163,0.002963,0.002780,0.003326,0.003028,0.003125,0.002741,0.002383