In [1]:
import pandas as pd
import numpy as np
import random
from sklearn.preprocessing import MinMaxScaler

In [2]:
dfs = pd.DataFrame({})

for i in range(4,5):
    df = pd.read_csv('./csv/sms-call-internet-mi-2013-11-0{}.csv'.format(i), parse_dates=['time'])
    dfs = dfs.append(df)
#df = pd.read_csv('./csv/sms-call-internet-mi-2013-11-10.csv', parse_dates=['time'])
#dfs = dfs.append(df)
dfs = dfs.fillna(0)

In [3]:
#Group by hours and aggregate values according to each cell/hour
dfgr = dfs[['cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['time', 'cellid'], as_index=False).sum()
#dfgr['hour'] = dfgr.time.dt.hour+24*(dfgr.time.dt.day-4) #hourly aggregated
dfgr['hour'] = dfgr.time.dt.hour*60+24*60*(dfgr.time.dt.day-4)+dfgr.time.dt.minute #expressed in intervals of 10mins, same as data source
dfgg = dfgr[['hour', 'cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['hour', 'cellid'], as_index=False).sum()
#dfgg = dfgg.set_index(['hour']).sort_index()
del df
del dfs
print(dfgg)

#Group by hours and aggregate values according to the hour
#dfgr = dfs[['cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['time', 'cellid'], as_index=False).sum()
#dfgr['hour'] = dfgr.time.dt.hour+24*(dfgr.time.dt.day-1)
#dfgg = dfgr[['hour', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['hour'], as_index=False).sum()
#dfgg = dfgg.set_index(['hour']).sort_index()
#print(dfgg)

         hour  cellid     smsin    smsout    callin   callout   internet
0           0       1  0.134176  0.030875  0.026137  0.055225   9.260190
1           0       2  0.136613  0.029144  0.027356  0.055578   9.282384
2           0       3  0.139208  0.027300  0.028653  0.055954   9.306009
3           0       4  0.127117  0.035890  0.022608  0.054203   9.195904
4           0       5  0.114418  0.033496  0.021727  0.050303   8.312392
...       ...     ...       ...       ...       ...       ...        ...
1439971  1430    9996  0.492715  0.469830  0.465851  0.377414  30.346780
1439972  1430    9997  0.314297  0.314297  0.533672  0.343979  32.829787
1439973  1430    9998  0.341734  0.341734  0.520073  0.343979  32.370149
1439974  1430    9999  0.303670  0.288963  0.237047  0.343979  19.120609
1439975  1430   10000  0.063780  0.009549  0.090769  0.343979  12.661178

[1439976 rows x 7 columns]

In [4]:
l=[]
random.seed(13479561) #To make it reproducible
for i in range(5000,10000,10):
    #print (random.randint(i,i+100))
    a_string = str(i)
    a_length = len(a_string)
    c = int(a_string[a_length - 2: a_length])
    #print("The last two digit for the number: ", a, " is: ", c)
    if(c<50):
        continue
    else:
        l.append(random.randint(i,i+10)+1)
print(l)

[5056, 5065, 5076, 5085, 5093, 5153, 5168, 5176, 5188, 5198, 5261, 5269, 5277, 5290, 5296, 5357, 5370, 5374, 5386, 5393, 5461, 5466, 5473, 5482, 5497, 5558, 5561, 5580, 5589, 5598, 5655, 5667, 5673, 5687, 5701, 5757, 5768, 5779, 5786, 5796, 5857, 5865, 5875, 5881, 5901, 5960, 5970, 5979, 5982, 5995, 6057, 6069, 6076, 6089, 6093, 6154, 6162, 6179, 6184, 6201, 6253, 6263, 6272, 6285, 6293, 6358, 6369, 6379, 6381, 6397, 6460, 6462, 6475, 6489, 6495, 6555, 6570, 6579, 6587, 6600, 6660, 6665, 6675, 6687, 6700, 6759, 6769, 6779, 6788, 6793, 6852, 6870, 6879, 6888, 6899, 6954, 6965, 6972, 6984, 7000, 7057, 7070, 7073, 7090, 7095, 7155, 7165, 7173, 7188, 7195, 7256, 7264, 7271, 7289, 7293, 7357, 7365, 7371, 7390, 7391, 7457, 7471, 7475, 7490, 7493, 7556, 7565, 7575, 7591, 7599, 7655, 7667, 7678, 7682, 7696, 7755, 7770, 7779, 7784, 7797, 7857, 7866, 7879, 7887, 7899, 7952, 7970, 7981, 7985, 7995, 8058, 8067, 8073, 8084, 8095, 8159, 8161, 8176, 8185, 8195, 8255, 8269, 8279, 8290, 8297, 8354, 8367, 8376, 8383, 8399, 8456, 8471, 8472, 8484, 8493, 8558, 8565, 8578, 8582, 8599, 8656, 8670, 8671, 8686, 8695, 8758, 8763, 8779, 8782, 8794, 8860, 8861, 8874, 8887, 8898, 8952, 8971, 8981, 8988, 9000, 9060, 9069, 9073, 9089, 9094, 9154, 9169, 9180, 9191, 9201, 9251, 9262, 9278, 9284, 9291, 9359, 9368, 9371, 9388, 9399, 9458, 9471, 9475, 9491, 9491, 9561, 9566, 9580, 9591, 9601, 9659, 9664, 9680, 9682, 9692, 9759, 9764, 9775, 9791, 9798, 9857, 9871, 9879, 9882, 9898, 9957, 9962, 9972, 9981, 9997]

In [5]:
df10 = pd.DataFrame({})
for el in dfgg.iterrows():
    if(l.count(int(el[1].cellid))==1):
        tmp = pd.DataFrame([[int(el[1].hour), int(el[1].cellid), el[1].smsin, el[1].smsout, el[1].callin, el[1].callout, el[1].internet]], columns=['hour', 'cellid', 'smsin','smsout', 'callin','callout', 'internet'])
        df10=df10.append(tmp)

In [6]:
df10 = df10.set_index(['hour']).sort_index()
print(df10)

      cellid     smsin     smsout    callin   callout    internet
hour
0       5056  3.946336  13.130425  2.941117  3.514845  195.106241
0       5065  3.131360   3.017498  0.000000  4.895547  140.948591
0       5076  0.424693   1.026739  0.024734  0.706611   17.434294
0       5085  0.133880   0.276697  0.000000  0.362104   14.019635
0       5093  0.000000   0.000000  0.033157  0.000000    2.807355
...      ...       ...        ...       ...       ...         ...
1430    9957  0.582237   0.814033  0.193318  0.213533   47.293777
1430    9962  0.849489   0.631228  0.281857  0.211453   53.457208
1430    9972  0.229164   0.000000  0.000000  0.038194   19.230082
1430    9981  1.121975   0.864205  0.025335  0.238596   76.853331
1430    9997  0.314297   0.314297  0.533672  0.343979   32.829787

[35712 rows x 6 columns]

In [7]:
cells = df10.cellid
scaler=MinMaxScaler()
scaled = pd.DataFrame(scaler.fit_transform(df10), columns=df10.columns, index=df10.index)

In [8]:
dfgg=scaled
dfgg['cellid']=cells
print(dfgg)

      cellid     smsin    smsout    callin   callout  internet
hour
0       5056  0.015916  0.035295  0.019026  0.025319  0.072655
0       5065  0.012629  0.008111  0.000000  0.035265  0.052368
0       5076  0.001713  0.002760  0.000160  0.005090  0.006100
0       5085  0.000540  0.000744  0.000000  0.002608  0.004821
0       5093  0.000000  0.000000  0.000214  0.000000  0.000621
...      ...       ...       ...       ...       ...       ...
1430    9957  0.002348  0.002188  0.001251  0.001538  0.017285
1430    9962  0.003426  0.001697  0.001823  0.001523  0.019594
1430    9972  0.000924  0.000000  0.000000  0.000275  0.006773
1430    9981  0.004525  0.002323  0.000164  0.001719  0.028358
1430    9997  0.001268  0.000845  0.003452  0.002478  0.011867

[35712 rows x 6 columns]

In [9]:
dfsi = [] #data from df without indexing
dfsi2 = pd.DataFrame({}) #new df to save
dfso = []
dfso2 = pd.DataFrame({})
dfci = []
dfci2 = pd.DataFrame({})
dfco = []
dfco2 = pd.DataFrame({})
dfin = []
dfin2 = pd.DataFrame({})

dfsi.append(dfgg.loc[0].cellid)
dfso.append(dfgg.loc[0].cellid)
dfci.append(dfgg.loc[0].cellid)
dfco.append(dfgg.loc[0].cellid)
dfin.append(dfgg.loc[0].cellid)

dfsi2["cellid"]=dfsi[0].values
dfso2["cellid"]=dfsi[0].values
dfci2["cellid"]=dfsi[0].values
dfco2["cellid"]=dfsi[0].values
dfin2["cellid"]=dfsi[0].values
j=0
for i in (np.unique(dfgr.hour)): #dfgr.hour.max()+1
    #row[0] - hour, row[1]: df cols
    dfsi.append(dfgg.loc[i].smsin)
    dfsi2["smsin"+str(i)]=dfsi[j+1].values
    
    dfso.append(dfgg.loc[i].smsout)
    dfso2["smsout"+str(i)]=dfso[j+1].values
    
    dfci.append(dfgg.loc[i].callin)
    dfci2["callin"+str(i)]=dfci[j+1].values
    
    dfco.append(dfgg.loc[i].callout)
    dfco2["callout"+str(i)]=dfco[j+1].values
    
    dfin.append(dfgg.loc[i].internet)
    dfin2["internet"+str(i)]=dfin[j+1].values
    j+=1

In [10]:
dfsi2.to_csv("./classif/randomgrid/classif-randomgridmonminute_smsin.csv")
dfsi2.head()

,cellid,smsin0,smsin10,smsin20,smsin30,smsin40,smsin50,smsin60,smsin70,smsin80,...,smsin1340,smsin1350,smsin1360,smsin1370,smsin1380,smsin1390,smsin1400,smsin1410,smsin1420,smsin1430
0,5056,0.015916,0.008288,0.009068,0.001839,0.015678,0.006600,0.002266,0.001222,0.011845,...,0.158268,0.106838,0.075860,0.110115,0.131713,0.104899,0.050377,0.055879,0.029922,0.032570
1,5065,0.012629,0.015456,0.018919,0.012600,0.008532,0.006169,0.013227,0.016550,0.008798,...,0.094357,0.059504,0.082536,0.115234,0.152832,0.071210,0.061282,0.049329,0.038975,0.028644
2,5076,0.001713,0.003642,0.006070,0.004856,0.002827,0.001414,0.001414,0.000000,0.000000,...,0.007067,0.005757,0.006053,0.002112,0.001513,0.005260,0.017199,0.002830,0.000302,0.000202
3,5085,0.000540,0.000000,0.000000,0.001460,0.000540,0.000000,0.000000,0.000000,0.000000,...,0.006503,0.004132,0.005780,0.004564,0.002921,0.001643,0.002000,0.000551,0.000022,0.000000
4,5093,0.000000,0.000000,0.002700,0.000000,0.000000,0.000000,0.000000,0.000000,0.001161,...,0.000000,0.000000,0.001167,0.001800,0.001800,0.000000,0.000900,0.001034,0.000000,0.000000

In [11]:
dfso2.to_csv("./classif/randomgrid/classif-randomgridmonminute_smsout.csv")
dfso2.head()

,cellid,smsout0,smsout10,smsout20,smsout30,smsout40,smsout50,smsout60,smsout70,smsout80,...,smsout1340,smsout1350,smsout1360,smsout1370,smsout1380,smsout1390,smsout1400,smsout1410,smsout1420,smsout1430
0,5056,0.035295,0.048395,0.042977,0.030064,0.042987,0.034682,0.034027,0.024515,0.029801,...,0.091303,0.052619,0.065700,0.078265,0.060471,0.069290,0.040652,0.044988,0.029081,0.031071
1,5065,0.008111,0.009463,0.012133,0.005348,0.007904,0.007099,0.010600,0.032225,0.007499,...,0.042339,0.045817,0.040449,0.059943,0.097723,0.024663,0.028906,0.017795,0.024123,0.018925
2,5076,0.002760,0.002627,0.005054,0.001075,0.003569,0.000133,0.000942,0.000133,0.000199,...,0.003026,0.002283,0.002483,0.000399,0.000266,0.001408,0.005043,0.002150,0.000199,0.000465
3,5085,0.000744,0.000000,0.000360,0.000000,0.000000,0.000360,0.000000,0.000000,0.000000,...,0.003959,0.004130,0.001693,0.000000,0.001021,0.000360,0.002075,0.000973,0.000360,0.001333
4,5093,0.000000,0.000267,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000600,0.000000,0.000000,0.001889,0.001200,0.000000,0.000000,0.000689,0.000000,0.000000

In [12]:
dfci2.to_csv("./classif/randomgrid/classif-randomgridmonminute_callin.csv")
dfci2.head()

,cellid,callin0,callin10,callin20,callin30,callin40,callin50,callin60,callin70,callin80,...,callin1340,callin1350,callin1360,callin1370,callin1380,callin1390,callin1400,callin1410,callin1420,callin1430
0,5056,0.019026,0.00055,0.000143,0.015432,0.00878,0.000550,0.002174,0.008278,0.000000,...,0.057257,0.053108,0.059202,0.034291,0.056762,0.026139,0.029669,0.033275,0.029179,0.016138
1,5065,0.000000,0.00000,0.002825,0.000000,0.00000,0.000129,0.005744,0.002452,0.000129,...,0.022796,0.031985,0.032700,0.030230,0.033909,0.035076,0.019442,0.021479,0.020792,0.005950
2,5076,0.000160,0.00032,0.000000,0.000000,0.00016,0.000160,0.000000,0.000320,0.000160,...,0.006006,0.010377,0.001947,0.010217,0.000164,0.005842,0.005842,0.000640,0.002427,0.003895
3,5085,0.000000,0.00000,0.000058,0.000000,0.00000,0.000000,0.000866,0.000000,0.000000,...,0.002360,0.000866,0.001790,0.001732,0.003226,0.002635,0.002342,0.001750,0.002653,0.000000
4,5093,0.000214,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.001863,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [13]:
dfco2.to_csv("./classif/randomgrid/classif-randomgridmonminute_callout.csv")
dfco2.head()

,cellid,callout0,callout10,callout20,callout30,callout40,callout50,callout60,callout70,callout80,...,callout1340,callout1350,callout1360,callout1370,callout1380,callout1390,callout1400,callout1410,callout1420,callout1430
0,5056,0.025319,0.008126,0.000159,0.010579,0.008450,0.012447,0.004056,0.009777,0.000965,...,0.087952,0.100517,0.037532,0.032936,0.069236,0.042461,0.016578,0.029950,0.026817,0.018940
1,5065,0.035265,0.005676,0.022367,0.001336,0.001193,0.008639,0.010613,0.001479,0.001193,...,0.053925,0.061551,0.057326,0.069712,0.059404,0.032285,0.070451,0.027302,0.043719,0.010771
2,5076,0.005090,0.007965,0.004912,0.000000,0.002168,0.004912,0.000178,0.000178,0.000447,...,0.017125,0.016068,0.000713,0.017306,0.010149,0.012527,0.007401,0.012890,0.003145,0.002789
3,5085,0.002608,0.000964,0.000000,0.000000,0.000000,0.000000,0.000964,0.001929,0.000000,...,0.000964,0.003573,0.000984,0.004822,0.002955,0.001929,0.004579,0.001004,0.000964,0.000000
4,5093,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002074,...,0.000000,0.002085,0.000000,0.000000,0.000000,0.000000,0.000000,0.001607,0.000000,0.000000

In [14]:
dfin2.to_csv("./classif/randomgrid/classif-randomgridmonminute_internet.csv")
dfin2.head()

,cellid,internet0,internet10,internet20,internet30,internet40,internet50,internet60,internet70,internet80,...,internet1340,internet1350,internet1360,internet1370,internet1380,internet1390,internet1400,internet1410,internet1420,internet1430
0,5056,0.072655,0.107692,0.094938,0.080143,0.069773,0.095483,0.073870,0.071214,0.067686,...,0.140616,0.222187,0.134451,0.174143,0.213706,0.161532,0.135277,0.143292,0.161409,0.138502
1,5065,0.052368,0.039270,0.041262,0.048967,0.040262,0.048068,0.050608,0.035965,0.042489,...,0.074551,0.077411,0.090108,0.073233,0.078074,0.060947,0.063817,0.047736,0.060359,0.060663
2,5076,0.006100,0.006694,0.006684,0.006383,0.006318,0.006760,0.005802,0.005492,0.006723,...,0.012554,0.010648,0.010205,0.010412,0.011587,0.010608,0.009981,0.011530,0.009877,0.009801
3,5085,0.004821,0.008253,0.005672,0.002865,0.003732,0.002745,0.002423,0.002531,0.002237,...,0.008092,0.004996,0.005408,0.004262,0.003383,0.003658,0.003756,0.004055,0.003908,0.003476
4,5093,0.000621,0.000609,0.000766,0.001433,0.001350,0.001768,0.000322,0.000347,0.000108,...,0.000682,0.000884,0.000287,0.000634,0.000647,0.000791,0.000609,0.000597,0.000682,0.000346