In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
dfs = pd.DataFrame({})

for i in range(4,10):
    df = pd.read_csv('./csv/sms-call-internet-mi-2013-11-0{}.csv'.format(i), parse_dates=['time'])
    dfs = dfs.append(df)
df = pd.read_csv('./csv/sms-call-internet-mi-2013-11-10.csv', parse_dates=['time'])
dfs = dfs.append(df)
dfs = dfs.fillna(0)

In [3]:
#Group by hours and aggregate values according to each cell/hour
dfgr = dfs[['cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['time', 'cellid'], as_index=False).sum()
dfgr['hour'] = dfgr.time.dt.hour+24*(dfgr.time.dt.day-4)
dfgg = dfgr[['hour', 'cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['hour', 'cellid'], as_index=False).sum()
#dfgg = dfgg.set_index(['hour']).sort_index()
del df
del dfs
print(dfgg)

#Group by hours and aggregate values according to the hour
#dfgr = dfs[['cellid', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['time', 'cellid'], as_index=False).sum()
#dfgr['hour'] = dfgr.time.dt.hour+24*(dfgr.time.dt.day-1)
#dfgg = dfgr[['hour', 'time', 'smsin','smsout', 'callin','callout', 'internet']].groupby(['hour'], as_index=False).sum()
#dfgg = dfgg.set_index(['hour']).sort_index()
#print(dfgg)

        hour  cellid     smsin    smsout    callin   callout    internet
0          0       1  1.134621  0.806930  0.055225  0.215539   50.341965
1          0       2  1.152227  0.822611  0.055578  0.219547   50.432001
2          0       3  1.170967  0.839303  0.055954  0.223814   50.527840
3          0       4  1.083627  0.761510  0.054203  0.203928   50.081175
4          0       5  0.995433  0.707518  0.053310  0.186448   45.571568
...      ...     ...       ...       ...       ...       ...         ...
239994    23    9996  4.600850  5.169175  2.811853  2.092957  220.036659
239995    23    9997  5.722021  5.209403  3.302868  2.288974  252.375886
239996    23    9998  5.476634  5.182801  3.207553  2.248176  246.203941
239997    23    9999  2.401963  4.711104  1.683384  1.680109  154.689238
239998    23   10000  1.992985  5.375466  1.222995  1.639233  143.165539

[239999 rows x 7 columns]

In [4]:
dfgg = dfgg.set_index(['hour']).sort_index()
print(dfgg)

In [5]:
cells = dfgg.cellid
scaler=MinMaxScaler()
scaled = pd.DataFrame(scaler.fit_transform(dfgg), columns=dfgg.columns, index=dfgg.index)

In [6]:
dfgg=scaled
dfgg['cellid']=cells
print(dfgg)

In [8]:
dfsi = [] #data from df without indexing
dfsi2 = pd.DataFrame({}) #new df to save
dfso = []
dfso2 = pd.DataFrame({})
dfci = []
dfci2 = pd.DataFrame({})
dfco = []
dfco2 = pd.DataFrame({})
dfin = []
dfin2 = pd.DataFrame({})

dfsi.append(dfgg.loc[0].cellid)
dfso.append(dfgg.loc[0].cellid)
dfci.append(dfgg.loc[0].cellid)
dfco.append(dfgg.loc[0].cellid)
dfin.append(dfgg.loc[0].cellid)

dfsi2["cellid"]=dfsi[0].values
dfso2["cellid"]=dfsi[0].values
dfci2["cellid"]=dfsi[0].values
dfco2["cellid"]=dfsi[0].values
dfin2["cellid"]=dfsi[0].values
for i in range(0, dfgr.hour.max()+1): #dfgr.hour.max()+1
    #row[0] - hour, row[1]: df cols
    dfsi.append(dfgg.loc[i].smsin)
    dfsi2["smsin"+str(i)]=dfsi[i+1].values
    
    dfso.append(dfgg.loc[i].smsout)
    dfso2["smsout"+str(i)]=dfso[i+1].values
    
    dfci.append(dfgg.loc[i].callin)
    dfci2["callin"+str(i)]=dfci[i+1].values
    
    dfco.append(dfgg.loc[i].callout)
    dfco2["callout"+str(i)]=dfco[i+1].values
    
    dfin.append(dfgg.loc[i].internet)
    dfin2["internet"+str(i)]=dfin[i+1].values

In [9]:
dfsi2.to_csv("./classif/fullgrid/classifgridmon_smsin.csv")
dfsi2.head()

,cellid,smsin0,smsin1,smsin2,smsin3,smsin4,smsin5,smsin6,smsin7,smsin8,...,smsin14,smsin15,smsin16,smsin17,smsin18,smsin19,smsin20,smsin21,smsin22,smsin23
0,1,0.000465,0.000786,0.000233,0.000067,0.000132,0.000095,0.000373,0.001336,0.002748,...,0.003069,0.002431,0.002594,0.002803,0.002358,0.003031,0.002329,0.002309,0.002272,0.001294
1,2,0.000472,0.000796,0.000236,0.000067,0.000134,0.000093,0.000382,0.001353,0.002798,...,0.003119,0.002472,0.002636,0.002845,0.002394,0.003073,0.002360,0.002338,0.002320,0.001315
2,3,0.000480,0.000807,0.000240,0.000068,0.000137,0.000091,0.000392,0.001372,0.002850,...,0.003172,0.002516,0.002680,0.002889,0.002433,0.003118,0.002394,0.002369,0.002372,0.001337
3,4,0.000444,0.000756,0.000223,0.000065,0.000127,0.000100,0.000345,0.001286,0.002604,...,0.002926,0.002311,0.002472,0.002683,0.002253,0.002909,0.002237,0.002226,0.002132,0.001235
4,5,0.000408,0.000679,0.000203,0.000057,0.000113,0.000095,0.000327,0.001184,0.002422,...,0.002755,0.002158,0.002325,0.002489,0.002094,0.002692,0.002073,0.002086,0.001978,0.001135

In [10]:
dfso2.to_csv("./classif/fullgrid/classifgridmon_smsout.csv")
dfso2.head()

,cellid,smsout0,smsout1,smsout2,smsout3,smsout4,smsout5,smsout6,smsout7,smsout8,...,smsout14,smsout15,smsout16,smsout17,smsout18,smsout19,smsout20,smsout21,smsout22,smsout23
0,1,0.000415,0.000903,0.000320,0.000028,0.000027,0.000058,0.000519,0.001128,0.001126,...,0.001515,0.001493,0.001130,0.001489,0.001287,0.001766,0.001626,0.001840,0.002468,0.001474
1,2,0.000423,0.000914,0.000324,0.000028,0.000028,0.000058,0.000535,0.001145,0.001147,...,0.001537,0.001512,0.001140,0.001514,0.001297,0.001773,0.001656,0.001867,0.002515,0.001496
2,3,0.000432,0.000926,0.000327,0.000028,0.000029,0.000057,0.000552,0.001162,0.001170,...,0.001560,0.001533,0.001151,0.001540,0.001307,0.001781,0.001688,0.001896,0.002566,0.001519
3,4,0.000392,0.000871,0.000311,0.000028,0.000026,0.000060,0.000473,0.001081,0.001064,...,0.001453,0.001436,0.001100,0.001417,0.001258,0.001745,0.001539,0.001761,0.002330,0.001411
4,5,0.000364,0.000779,0.000276,0.000024,0.000023,0.000055,0.000441,0.001040,0.000989,...,0.001359,0.001324,0.001034,0.001313,0.001172,0.001630,0.001428,0.001657,0.002146,0.001302

In [11]:
dfci2.to_csv("./classif/fullgrid/classifgridmon_callin.csv")
dfci2.head()

,cellid,callin0,callin1,callin2,callin3,callin4,callin5,callin6,callin7,callin8,...,callin14,callin15,callin16,callin17,callin18,callin19,callin20,callin21,callin22,callin23
0,1,0.000046,1.497643e-06,0.0,0.0,0.000024,0.000067,0.000333,0.001071,0.002711,...,0.003788,0.003717,0.004749,0.004970,0.005781,0.004490,0.002864,0.001572,0.000660,0.000613
1,2,0.000047,7.722024e-07,0.0,0.0,0.000024,0.000070,0.000344,0.001087,0.002767,...,0.003850,0.003761,0.004813,0.005032,0.005879,0.004552,0.002927,0.001594,0.000668,0.000620
2,3,0.000047,0.000000e+00,0.0,0.0,0.000023,0.000072,0.000357,0.001105,0.002827,...,0.003915,0.003808,0.004882,0.005099,0.005983,0.004618,0.002994,0.001617,0.000676,0.000627
3,4,0.000045,3.598893e-06,0.0,0.0,0.000026,0.000060,0.000300,0.001023,0.002548,...,0.003609,0.003590,0.004564,0.004788,0.005498,0.004312,0.002681,0.001510,0.000638,0.000593
4,5,0.000045,9.162516e-06,0.0,0.0,0.000024,0.000061,0.000282,0.000970,0.002391,...,0.003351,0.003327,0.004280,0.004450,0.005099,0.004010,0.002504,0.001400,0.000580,0.000538

In [12]:
dfco2.to_csv("./classif/fullgrid/classifgridmon_callout.csv")
dfco2.head()

,cellid,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,callout8,...,callout14,callout15,callout16,callout17,callout18,callout19,callout20,callout21,callout22,callout23
0,1,0.000161,0.000020,1.335496e-06,1.335496e-06,0.000041,0.000087,0.000378,0.001009,0.002776,...,0.003478,0.003591,0.004693,0.005388,0.005051,0.004121,0.002745,0.001464,0.000707,0.000307
1,2,0.000164,0.000020,6.885977e-07,6.885977e-07,0.000041,0.000086,0.000390,0.001029,0.002825,...,0.003521,0.003649,0.004771,0.005473,0.005114,0.004196,0.002784,0.001483,0.000719,0.000308
2,3,0.000167,0.000020,0.000000e+00,0.000000e+00,0.000041,0.000085,0.000404,0.001049,0.002878,...,0.003566,0.003711,0.004855,0.005564,0.005180,0.004277,0.002825,0.001504,0.000731,0.000309
3,4,0.000152,0.000020,3.209249e-06,3.209249e-06,0.000041,0.000090,0.000341,0.000954,0.002632,...,0.003356,0.003424,0.004466,0.005142,0.004869,0.003903,0.002634,0.001407,0.000674,0.000305
4,5,0.000139,0.000018,3.676728e-06,3.676728e-06,0.000035,0.000091,0.000324,0.000898,0.002467,...,0.003167,0.003201,0.004172,0.004818,0.004522,0.003637,0.002449,0.001308,0.000621,0.000281

In [13]:
dfin2.to_csv("./classif/fullgrid/classifgridmon_internet.csv")
dfin2.head()

,cellid,internet0,internet1,internet2,internet3,internet4,internet5,internet6,internet7,internet8,...,internet14,internet15,internet16,internet17,internet18,internet19,internet20,internet21,internet22,internet23
0,1,0.002279,0.002089,0.001587,0.001399,0.001448,0.001388,0.001794,0.002905,0.002466,...,0.002471,0.003129,0.003153,0.003483,0.003634,0.003616,0.004098,0.004115,0.003456,0.003038
1,2,0.002283,0.002089,0.001585,0.001401,0.001451,0.001392,0.001803,0.002920,0.002483,...,0.002481,0.003147,0.003175,0.003501,0.003658,0.003634,0.004111,0.004130,0.003472,0.003050
2,3,0.002287,0.002090,0.001583,0.001402,0.001454,0.001397,0.001813,0.002937,0.002501,...,0.002492,0.003165,0.003198,0.003520,0.003683,0.003653,0.004124,0.004146,0.003488,0.003062
3,4,0.002267,0.002088,0.001591,0.001395,0.001438,0.001375,0.001768,0.002861,0.002416,...,0.002442,0.003079,0.003090,0.003431,0.003564,0.003563,0.004060,0.004071,0.003409,0.003005
4,5,0.002063,0.001888,0.001450,0.001278,0.001313,0.001263,0.001628,0.002618,0.002249,...,0.002241,0.002846,0.002822,0.003140,0.003273,0.003258,0.003683,0.003688,0.003113,0.002743