In [1]:
import pandas as pd
import numpy as np
import researchpy as rp
import scipy.stats as stats

In [2]:
#20x20 knn study
df_k5_20_d = pd.read_csv("./knn/knn5-20x20-day.csv", sep=";", decimal=",", index_col=0)
df_k10_20_d = pd.read_csv("./knn/knn10-20x20-day.csv", sep=";", decimal=",", index_col=0)
df_k5_20_w = pd.read_csv("./knn/knn5-20x20-week.csv", sep=";", decimal=",", index_col=0)
df_k10_20_w = pd.read_csv("./knn/knn10-20x20-week.csv", sep=";", decimal=",", index_col=0)

#Random grid knn study
df_k5_r_d = pd.read_csv("./knn/knn5-random-day.csv", sep=";", decimal=",", index_col=0)
df_k10_r_d = pd.read_csv("./knn/knn10-random-day.csv", sep=";", decimal=",", index_col=0)
df_k5_r_w = pd.read_csv("./knn/knn5-random-week.csv", sep=";", decimal=",", index_col=0)
df_k10_r_w = pd.read_csv("./knn/knn10-random-week.csv", sep=";", decimal=",", index_col=0)

In [3]:
df_k5_20_w

           Acc1   Acc2   Acc3   Acc4   Acc5   Acc6   Acc7   Acc8   Acc9  Acc10
Dataset
smsin     0.850  0.825  0.900  0.725  0.750  0.750  0.725  0.775  0.725  0.750
smsout    0.825  0.775  0.825  0.750  0.675  0.825  0.750  0.625  0.775  0.725
callin    0.875  0.775  0.850  0.675  0.800  0.800  0.725  0.725  0.775  0.750
callout   0.825  0.825  0.850  0.675  0.800  0.800  0.625  0.750  0.775  0.775
internet  0.750  0.675  0.675  0.525  0.700  0.700  0.700  0.650  0.800  0.750

In [4]:
accsi=df_k5_20_w.iloc[0]
accsi2=df_k10_20_w.iloc[0]
print(accsi2) #Pandas Series of float64

Acc1     0.800
Acc2     0.875
Acc3     0.875
Acc4     0.750
Acc5     0.725
Acc6     0.825
Acc7     0.725
Acc8     0.750
Acc9     0.750
Acc10    0.750
Name: smsin, dtype: float64

In [5]:
#SMSIN
rp.ttest(group1=accsi ,group1_name="k5-20-si", group2=accsi2, group2_name="k10-20-si")

(    Variable     N    Mean        SD        SE  95% Conf.  Interval
 0   k5-20-si  10.0  0.7775  0.060610  0.019167   0.734142  0.820858
 1  k10-20-si  10.0  0.7825  0.057795  0.018276   0.741156  0.823844
 2   combined  20.0  0.7800  0.057697  0.012901   0.752997  0.807003,
                      Independent t-test  results
 0  Difference (k5-20-si - k10-20-si) =   -0.0050
 1                 Degrees of freedom =   18.0000
 2                                  t =   -0.1888
 3              Two side test p value =    0.8524
 4             Difference < 0 p value =    0.4262
 5             Difference > 0 p value =    0.5738
 6                          Cohen's d =   -0.0844
 7                          Hedge's g =   -0.0809
 8                      Glass's delta =   -0.0825
 9                        Pearson's r =    0.0445)

In [6]:
accso=df_k5_20_w.iloc[1]
accso2=df_k10_20_w.iloc[1]
print(accso2) #Pandas Series of float64

Acc1     0.825
Acc2     0.825
Acc3     0.775
Acc4     0.775
Acc5     0.725
Acc6     0.800
Acc7     0.750
Acc8     0.675
Acc9     0.875
Acc10    0.725
Name: smsout, dtype: float64

In [7]:
#SMSOUT
rp.ttest(group1=accso ,group1_name="k5-20-so", group2=accso2, group2_name="k10-20-so")
#5% alpha, t-table (df 18): 2.101

(    Variable     N   Mean        SD        SE  95% Conf.  Interval
 0   k5-20-so  10.0  0.755  0.066458  0.021016   0.707459  0.802541
 1  k10-20-so  10.0  0.775  0.058926  0.018634   0.732847  0.817153
 2   combined  20.0  0.765  0.061985  0.013860   0.735990  0.794010,
                      Independent t-test  results
 0  Difference (k5-20-so - k10-20-so) =   -0.0200
 1                 Degrees of freedom =   18.0000
 2                                  t =   -0.7121
 3              Two side test p value =    0.4855
 4             Difference < 0 p value =    0.2428
 5             Difference > 0 p value =    0.7572
 6                          Cohen's d =   -0.3184
 7                          Hedge's g =   -0.3050
 8                      Glass's delta =   -0.3009
 9                        Pearson's r =    0.1655)

In [8]:
accci=df_k5_20_d.iloc[2]
accci2=df_k5_20_w.iloc[2]
print(accso2) #Pandas Series of float64

Acc1     0.825
Acc2     0.825
Acc3     0.775
Acc4     0.775
Acc5     0.725
Acc6     0.800
Acc7     0.750
Acc8     0.675
Acc9     0.875
Acc10    0.725
Name: smsout, dtype: float64

In [9]:
#CALLIN
rp.ttest(group1=accci ,group1_name="k5-20-ci-d", group2=accci2, group2_name="k5-20-ci-w")

(     Variable     N     Mean        SD        SE  95% Conf.  Interval
 0  k5-20-ci-d  10.0  0.75250  0.072121  0.022807   0.700908  0.804092
 1  k5-20-ci-w  10.0  0.77500  0.060093  0.019003   0.732012  0.817988
 2    combined  20.0  0.76375  0.065632  0.014676   0.733033  0.794467,
                         Independent t-test  results
 0  Difference (k5-20-ci-d - k5-20-ci-w) =   -0.0225
 1                    Degrees of freedom =   18.0000
 2                                     t =   -0.7579
 3                 Two side test p value =    0.4583
 4                Difference < 0 p value =    0.2291
 5                Difference > 0 p value =    0.7709
 6                             Cohen's d =   -0.3390
 7                             Hedge's g =   -0.3246
 8                         Glass's delta =   -0.3120
 9                           Pearson's r =    0.1759)

In [10]:
accco=df_k5_20_d.iloc[3]
accco2=df_k10_20_d.iloc[3]
print(accco2) #Pandas Series of float64

Acc1     0.775
Acc2     0.875
Acc3     0.825
Acc4     0.725
Acc5     0.825
Acc6     0.775
Acc7     0.600
Acc8     0.825
Acc9     0.825
Acc10    0.800
Name: callout, dtype: float64

In [11]:
#CALLOUT
rp.ttest(group1=accco ,group1_name="k5-20-co-d", group2=accco2, group2_name="k10-20-co-d")

(      Variable     N    Mean        SD        SE  95% Conf.  Interval
 0   k5-20-co-d  10.0  0.7800  0.083997  0.026562   0.719912  0.840088
 1  k10-20-co-d  10.0  0.7850  0.076558  0.024210   0.730234  0.839766
 2     combined  20.0  0.7825  0.078262  0.017500   0.745872  0.819128,
                          Independent t-test  results
 0  Difference (k5-20-co-d - k10-20-co-d) =   -0.0050
 1                     Degrees of freedom =   18.0000
 2                                      t =   -0.1391
 3                  Two side test p value =    0.8909
 4                 Difference < 0 p value =    0.4454
 5                 Difference > 0 p value =    0.5546
 6                              Cohen's d =   -0.0622
 7                              Hedge's g =   -0.0596
 8                          Glass's delta =   -0.0595
 9                            Pearson's r =    0.0328)

In [12]:
accin=df_k5_20_d.iloc[4]
accin2=df_k10_20_d.iloc[4]0
print(accin2) #Pandas Series of float64

Acc1     0.850
Acc2     0.725
Acc3     0.700
Acc4     0.675
Acc5     0.700
Acc6     0.775
Acc7     0.650
Acc8     0.650
Acc9     0.775
Acc10    0.775
Name: internet, dtype: float64

In [13]:
rp.ttest(group1=accin ,group1_name="k5-20-in-d", group2=accin2, group2_name="k10-20-in-d")

(      Variable     N    Mean        SD        SE  95% Conf.  Interval
 0   k5-20-in-d  10.0  0.7275  0.059454  0.018801   0.684970  0.770030
 1  k10-20-in-d  10.0  0.7275  0.065032  0.020565   0.680979  0.774021
 2     combined  20.0  0.7275  0.060643  0.013560   0.699118  0.755882,
                          Independent t-test  results
 0  Difference (k5-20-in-d - k10-20-in-d) =      -0.0
 1                     Degrees of freedom =      18.0
 2                                      t =      -0.0
 3                  Two side test p value =       1.0
 4                 Difference < 0 p value =       0.5
 5                 Difference > 0 p value =       0.5
 6                              Cohen's d =      -0.0
 7                              Hedge's g =      -0.0
 8                          Glass's delta =      -0.0
 9                            Pearson's r =       0.0)